Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [check-jsonschema, prettier, eslint, integrity]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: forbid-new-submodules
      - id: check-case-conflict
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: debug-statements

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.16
    hooks:
      - id: mdformat

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.14.2
    hooks:
      - id: check-jsonschema
        name: 'Check GitHub Workflows'
        files: ^\.github/workflows/
        types: [yaml]
        args: ['--schemafile', 'https://json.schemastore.org/github-workflow']

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

Clean installation commands
  buildutils/template/package.json
  dev_mode/package.json
  galata/package.json
  jupyterlab/commands.py
  packages/metapackage/package.json
Due: prettier

Update to yarn 3.3.1
  jupyterlab/staging/yarn.js
  yarn.lock
Due: prettier, eslint

Restore some removed changes after rebase and reduce the diff with master branch
  buildutils/src/local-repository.ts
  dev_mode/package.json
  examples/app/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/federated/core_package/package.json
  examples/federated/md_package/package.json
  examples/federated/middle_package/package.json
  examples/federated/package.json
  examples/filebrowser/package.json
  examples/notebook/package.json
  examples/terminal/package.json
  jupyterlab/browser_check.py
  jupyterlab/staging/package.json
  jupyterlab/tests/mock_packages/test-hyphens-underscore/package.json
  jupyterlab/tests/mock_packages/test_no_hyphens/package.json
  scripts/ci_script.sh
Due: prettier, eslint

Add jest as dev-dependencie to pass the JS tests
  packages/application/package.json
  packages/apputils/package.json
  packages/cell-toolbar/package.json
  packages/cells/package.json
  packages/codeeditor/package.json
  packages/completer/package.json
  packages/console/package.json
  packages/csvviewer/package.json
  packages/debugger/package.json
  packages/docmanager/package.json
  packages/docregistry/package.json
  packages/documentsearch/package.json
  packages/extensionmanager/package.json
  packages/filebrowser/package.json
  packages/fileeditor/package.json
  packages/imageviewer/package.json
  packages/inspector/package.json
  packages/logconsole/package.json
  packages/lsp/package.json
  packages/mainmenu/package.json
  packages/metadataform/package.json
  packages/metapackage/package.json
  packages/nbformat/package.json
  packages/notebook/package.json
  packages/observables/package.json
  packages/outputarea/package.json
  packages/property-inspector/package.json
  packages/rendermime/package.json
  packages/services/package.json
  packages/settingregistry/package.json
  packages/statedb/package.json
  packages/statusbar/package.json
  packages/terminal/package.json
  packages/toc/package.json
  packages/translation/package.json
  packages/ui-components/package.json
Due: prettier

(1) remove packageManager from package.json files, (2) remove deprecated '--non-interactive' option to 'yarn install' command
  dev_mode/package.json
  jupyterlab/commands.py
  jupyterlab/staging/package.json
  yarn.lock
Due: prettier

use npm instead of yarn to install playwright in browser_check
  jupyterlab/browser_check.py
Due: none

Add empty yarn.lock files in mock_packages for tests to fix usage test (see https://github.com/yarnpkg/berry/issues/2212)
  jupyterlab/tests/mock_packages/extension/yarn.lock
  jupyterlab/tests/mock_packages/mimeextension/yarn.lock
  jupyterlab/tests/mock_packages/test-hyphens-underscore/yarn.lock
  jupyterlab/tests/mock_packages/test-hyphens/yarn.lock
  jupyterlab/tests/mock_packages/test_no_hyphens/yarn.lock
Due: none

Fix JS cells test
  packages/cells/test/widget.spec.ts
Due: prettier, eslint

Update dev_mode/package.json and example federated
  dev_mode/package.json
  examples/federated/package.json
Due: prettier

upgrade vega-embed dependency
  packages/vega5-extension/src/index.ts
Due: prettier, eslint

Fix local npm registry server and add .yarnrc.yml file in mock_package to the creation of node_modules directory
  buildutils/src/local-repository.ts
  buildutils/src/update-core-mode.ts
  jupyterlab/tests/mock_packages/.yarnrc.yml
  scripts/release_test.sh
Due: prettier, eslint

Pins 'ws' package version for @jupyterlab/services
  jupyterlab/tests/mock_packages/test-hyphens/package.json
  package.json
  yarn.lock
Due: prettier

[ci skip] Fix warning call
  jupyterlab/debuglog.py
Due: none

Add migration note
  docs/source/extension/extension_migration.rst
Due: none

Upgrade to yarn 3.4.1
  jupyterlab/staging/yarn.js
  yarn.lock
Due: prettier, eslint

Remove yarn v1
  package.json
  yarn.lock
Due: prettier

Don't use $npm_execpath
  buildutils/package.json
  buildutils/src/ensure-package.ts
  buildutils/src/ensure-repo.ts
  dev_mode/package.json
  examples/federated/core_package/package.json
  examples/federated/md_package/package.json
  examples/federated/middle_package/package.json
  examples/federated/package.json
  galata/package.json
  jupyterlab/staging/package.json
  packages/metapackage/package.json
  packages/nbconvert-css/package.json
  scripts/ensure-buildutils.js
Due: prettier, eslint

update snapshot
  galata/test/jupyterlab/notebook-run-vega.test.ts-snapshots/run-cells-dark-vega-jupyterlab-linux.png
Due: none

Don't mix jlpm and npm in browser check
  jupyterlab/browser_check.py
Due: none

Print changes
  buildutils/src/utils.ts
Due: prettier, eslint

Make the diff output part of the error message
  buildutils/src/utils.ts
Due: prettier, eslint

Update yarn.lock
  yarn.lock
Due: none

Fix yarn.lock
  yarn.lock
Due: none

Update lock file and some clean up
  packages/markedparser-extension/package.json
  packages/mathjax-extension/package.json
  scripts/ci_install.sh
  yarn.lock
Due: prettier

Fix save as without changing the file name (#14212)
  packages/docmanager-extension/src/index.tsx
  packages/docregistry/src/context.ts
  packages/docregistry/test/context.spec.ts
Due: prettier, eslint

Fix test-hyphens
  jupyterlab/tests/mock_packages/test-hyphens/pyproject.toml
Due: none

[ci skip] Publish 4.0.0a37
  .bumpversion.cfg
  .yarnrc.yml
  CHANGELOG.md
  dev_mode/package.json
  examples/federated/core_package/package.json
  jupyterlab/_version.py
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
  yarn.lock
Due: prettier

Fix save as without changing the file name (#14212) (#14217)
  packages/docmanager-extension/src/index.tsx
  packages/docregistry/src/context.ts
  packages/docregistry/test/context.spec.ts
Due: prettier, eslint

Restore @jupyterlab/shared-models as proxy to @jupyter/ydoc (#14133)
  buildutils/src/ensure-repo.ts
  dev_mode/package.json
  packages/metapackage/package.json
  packages/metapackage/tsconfig.json
  packages/shared-models/babel.config.js
  packages/shared-models/jest.config.js
  packages/shared-models/package.json
  packages/shared-models/src/index.ts
  packages/shared-models/tsconfig.json
  packages/shared-models/typedoc-tsconfig.json
  packages/shared-models/typedoc.json
  tsconfigdoc.json
Due: prettier, eslint

Change signature of SettingConnector.list() to return only ids (and not values) if query='ids'
  packages/apputils-extension/src/settingconnector.ts
  packages/apputils-extension/src/settingsplugin.ts
Due: prettier, eslint

Adds ids_only argument to fetch settings request
  .eslintrc.js
  packages/apputils-extension/src/settingconnector.ts
  packages/apputils-extension/src/settingsplugin.ts
  packages/services/src/setting/index.ts
Due: prettier, eslint

Does frontmatter check before loop, adds test case
  packages/toc/src/utils/markdown.ts
  packages/toc/test/markdown.spec.ts
Due: prettier, eslint

Updates frontmatter detection, updates test cases
  packages/toc/src/utils/markdown.ts
  packages/toc/test/markdown.spec.ts
Due: prettier, eslint

Suppresses header check inside frontmatter
  packages/toc/src/utils/markdown.ts
  packages/toc/test/markdown.spec.ts
Due: prettier, eslint

Lint issues
  packages/toc/src/utils/markdown.ts
  packages/toc/test/markdown.spec.ts
Due: prettier, eslint

ensureFocus active cell
  packages/notebook/src/actions.tsx
  packages/notebook/src/widget.ts
Due: prettier, eslint

Revert "Revert "restore backspace (not sure why it was removed)""
  packages/filebrowser-extension/schema/browser.json
Due: prettier

restore Backspace as user-configurable shortcut
  packages/filebrowser-extension/schema/browser.json
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/src/listing.ts
Due: prettier, eslint
