Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
        exclude: galata/.*-snapshots
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.23.1
    hooks:
      - id: check-github-workflows

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.282
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

Handle stream output changes from the shared model
  packages/cells/src/model.ts
  packages/observables/src/observablestring.ts
  packages/outputarea/src/model.ts
Due: prettier, eslint

Revert "Alternate description for disabled filters"
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
Due: prettier, eslint

Revert "Revert "Alternate description for disabled filters""
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
Due: prettier, eslint

Adds null checks to fix errors on initial load
  packages/extensionmanager/src/widget.tsx
Due: prettier, eslint

Considered preferred text output styles for heuristics
  packages/notebook/src/windowing.ts
Due: prettier, eslint

Add null checks for "input" variable (#16705)
  packages/extensionmanager/src/widget.tsx
Due: prettier, eslint

Implemented the suggested changes
  packages/notebook/src/windowing.ts
Due: prettier, eslint

Update contents model on file change due to save from RTC (#16695)
  packages/docregistry/src/context.ts
Due: prettier, eslint

Add a guard on uninitialized nodes when resizing, remove log (#16693)
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

Add user-facing changelog for 4.3 release
  CHANGELOG.md
  docs/source/getting_started/changelog_assets/4.3-dialogs.png
  docs/source/getting_started/changelog_assets/4.3-filebrowser.png
  docs/source/getting_started/changelog_assets/4.3-kernels-sidebar.png
  docs/source/getting_started/changelog_assets/4.3-minimap.png
Due: none

Fix missing `_` in extension migration guide
  docs/source/extension/extension_migration.rst
Due: none

Use locale name instead of display/native name to toggle languag
  packages/translation-extension/src/index.ts
Due: prettier, eslint

Add crossorigin anonymous to GitHub images
  packages/extensionmanager/src/widget.tsx
Due: prettier, eslint

Move cross-origin ahead
  packages/extensionmanager/src/widget.tsx
Due: prettier, eslint

Update @jupyter/ydoc >=3.0.0-a5
  examples/cell/package.json
  examples/console/package.json
  examples/notebook/package.json
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
  packages/cell-toolbar/package.json
  packages/cells/package.json
  packages/codeeditor/package.json
  packages/codemirror-extension/package.json
  packages/codemirror/package.json
  packages/completer/package.json
  packages/console/package.json
  packages/debugger/package.json
  packages/docregistry/package.json
  packages/fileeditor/package.json
  packages/notebook-extension/package.json
  packages/notebook/package.json
  packages/services/package.json
  yarn.lock
Due: prettier

Fix stream output (#16692)
  examples/cell/package.json
  examples/console/package.json
  examples/notebook/package.json
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
  packages/cell-toolbar/package.json
  packages/cells/package.json
  packages/cells/src/model.ts
  packages/codeeditor/package.json
  packages/codemirror-extension/package.json
  packages/codemirror/package.json
  packages/completer/package.json
  packages/console/package.json
  packages/debugger/package.json
  packages/docregistry/package.json
  packages/fileeditor/package.json
  packages/notebook-extension/package.json
  packages/notebook/package.json
  packages/observables/src/observablestring.ts
  packages/outputarea/src/model.ts
  packages/services/package.json
  yarn.lock
Due: prettier, eslint

Change default language from en-US to en
  packages/translation-extension/src/index.ts
Due: prettier, eslint

applied suggested changes
  packages/notebook/src/windowing.ts
Due: prettier, eslint

Apply suggestions from code review
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Use locale name instead of display/native name to toggle language (#16710)
  packages/translation-extension/src/index.ts
Due: prettier, eslint

Backport PR #16710: Use locale name instead of display/native name to toggle language
  packages/translation-extension/src/index.ts
Due: prettier, eslint

Backport PR #16710: Use locale name instead of display/native name to toggle language (#16714)
  packages/translation-extension/src/index.ts
Due: prettier, eslint

added test case and removed extra spaces
  packages/notebook/src/windowing.ts
Due: prettier, eslint

added test case and removed extra spaces
  examples/cell/package.json
  examples/console/package.json
  examples/notebook/package.json
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
  packages/cell-toolbar/package.json
  packages/cells/package.json
  packages/cells/src/model.ts
  packages/codeeditor/package.json
  packages/codemirror-extension/package.json
  packages/codemirror/package.json
  packages/completer/package.json
  packages/console/package.json
  packages/debugger/package.json
  packages/docregistry/package.json
  packages/docregistry/src/context.ts
  packages/extensionmanager/src/widget.tsx
  packages/filebrowser/src/listing.ts
  packages/fileeditor/package.json
  packages/notebook-extension/package.json
  packages/notebook/package.json
  packages/observables/src/observablestring.ts
  packages/outputarea/src/model.ts
  packages/services/package.json
  yarn.lock
Due: prettier, eslint

added test case and removed extra spaces
  packages/notebook/src/windowing.ts
  packages/notebook/test/modelfactory.spec.ts
Due: prettier, eslint

edited the tests
  packages/notebook/test/modelfactory.spec.ts
Due: prettier, eslint

Update URLs for images (check links is expected to fail)
  CHANGELOG.md
Due: none

Merge commit from fork
  packages/apputils-extension/schema/sanitizer.json
  packages/apputils-extension/src/index.ts
  packages/apputils/src/sanitizer.ts
Due: prettier, eslint

User-facing changelog for JupyterLab 4.3 (#16709)
  CHANGELOG.md
  docs/source/extension/extension_migration.rst
  docs/source/getting_started/changelog_assets/4.3-dialogs.png
  docs/source/getting_started/changelog_assets/4.3-filebrowser.png
  docs/source/getting_started/changelog_assets/4.3-kernels-sidebar.png
  docs/source/getting_started/changelog_assets/4.3-minimap.png
Due: none

fix inline completer adding keys seperately
  packages/completer-extension/schema/inline-completer.json
Due: prettier

revert documentation test file
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
Due: prettier

[ci skip] Publish 3.6.8
  .bumpversion.cfg
  CHANGELOG.md
  dev_mode/package.json
  jupyterlab/_version.py
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
Due: prettier

Update galata.yml
  .github/workflows/galata.yml
Due: none

Added >=0 check on delta
  packages/coreutils/src/time.ts
Due: prettier, eslint
