Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

fixed typo in code
  packages/application/style/menus.css
Due: prettier, stylelint

Add a valid email in update extension (#15133)
  jupyterlab/upgrade_extension.py
Due: none

Backport PR #15133: Add a valid email in update extension
  jupyterlab/upgrade_extension.py
Due: none

Backport PR #15105: Remove `unusedDocuments`, fix culling of foreign documents (#15121)
  packages/lsp/src/virtual/document.ts
  packages/lsp/test/document.spec.ts
Due: prettier, eslint

Fix yarn.lock staging
  jupyterlab/staging/yarn.lock
Due: none

Mock LSP requests on tests
  packages/lsp/test/adapters.spec.ts
Due: prettier, eslint

New docs page: developer/accessibility.html (#14426)
  docs/source/developer/accessibility.rst
  docs/source/developer/contributing.rst
Due: none

Backport PR #14426: New docs page: developer/accessibility.html
  docs/source/developer/accessibility.rst
  docs/source/developer/contributing.rst
Due: none

Fix selection in active line (#15129)
  galata/test/jupyterlab/texteditor.test.ts
  galata/test/jupyterlab/texteditor.test.ts-snapshots/text-editor-active-line-with-selection-jupyterlab-linux.png
  packages/codemirror/src/theme.ts
Due: prettier, eslint

Backport PR #15129: Fix selection in active line
  galata/test/jupyterlab/texteditor.test.ts
  galata/test/jupyterlab/texteditor.test.ts-snapshots/text-editor-active-line-with-selection-jupyterlab-linux.png
  packages/codemirror/src/theme.ts
Due: prettier, eslint

Backport PR #15086 on branch 4.0.x (Added test to check close tab button has a title) (#15123)
  jupyterlab/staging/yarn.lock
  packages/ui-components/test/tabbarsvg.spec.ts
Due: prettier, eslint

Backport PR #15133: Add a valid email in update extension (#15134)
  jupyterlab/upgrade_extension.py
Due: none

Update code link to point to version-specific branch
  docs/source/developer/accessibility.rst
Due: none

Backport PR #15129: Fix selection in active line (#15136)
  galata/test/jupyterlab/texteditor.test.ts
  galata/test/jupyterlab/texteditor.test.ts-snapshots/text-editor-active-line-with-selection-jupyterlab-linux.png
  packages/codemirror/src/theme.ts
Due: prettier, eslint

Backport PR #14426 on branch 4.0.x (New docs page: developer/accessibility.html) (#15135)
  docs/source/developer/accessibility.rst
  docs/source/developer/contributing.rst
Due: none

Added test to check for aria labels and roles
  packages/application/test/shell.spec.ts
Due: prettier, eslint

Added more tests to cover aria labels and roles
  packages/application/test/shell.spec.ts
  packages/apputils-extension/test/palette.spec.ts
  packages/apputils/test/mainareawidget.spec.ts
  packages/filebrowser/test/browser.spec.ts
Due: prettier, eslint

Add a scaffold for a renderer
  packages/ui-components/src/components/windowedlist.ts
Due: prettier, eslint

increment on windowed list renderer
  docs/source/developer/performance.rst
  galata/src/helpers/notebook.ts
  packages/notebook/src/renderer.ts
  packages/notebook/src/widget.ts
  packages/ui-components/src/components/windowedlist.ts
  packages/ui-components/style/windowedlist.css
Due: prettier, eslint, stylelint

work in progress
  packages/notebook/src/renderer.ts
  packages/notebook/src/widget.ts
  packages/ui-components/src/components/windowedlist.ts
Due: prettier, eslint

Get renderer superclass for free
  packages/notebook/src/widget.ts
Due: prettier, eslint

Export WindowedList.Renderer for inheritance
  packages/ui-components/src/components/windowedlist.ts
Due: prettier, eslint

Use the default renderer for windowed lists without exposing its class
  packages/ui-components/src/components/windowedlist.ts
Due: prettier, eslint

Restore navbar theme toggle, remove duplicated search box
  docs/source/conf.py
Due: none

Add dark mode logo version, remove not needed rect
  docs/source/_static/logo-rectangle-dark.svg
  docs/source/conf.py
Due: none

Fixed failing tests
  packages/application/test/shell.spec.ts
  packages/apputils-extension/test/palette.spec.ts
Due: prettier, eslint

Fixed failing tests
  packages/application/test/shell.spec.ts
Due: prettier, eslint

Update docs/source/extension/extension_points.rst
  docs/source/extension/extension_points.rst
Due: none

Fixed failing tests
  galata/test/jupyterlab/debugger.test.ts
  packages/apputils-extension/test/palette.spec.ts
Due: prettier, eslint

Fixed failing tests
  galata/test/jupyterlab/toc.test.ts
  packages/filebrowser/test/browser.spec.ts
Due: prettier, eslint

Added tests
  galata/test/jupyterlab/sidebars.test.ts
  packages/filebrowser/test/browser.spec.ts
Due: prettier, eslint

Added tests
  galata/test/jupyterlab/sidebars.test.ts
  galata/test/jupyterlab/toc.test.ts
Due: prettier, eslint

Added tests
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

added test for dynamic text spacing for launcher cards
  packages/launcher/test/launcher.test.ts
Due: prettier, eslint

Create ex02
  ex02
Due: none

Create ex03
  ex03
Due: none

uncommented out an import
  packages/filebrowser/test/browser.spec.ts
Due: prettier, eslint

took out unneeded line
  packages/codeeditor/src/lineCol.tsx
Due: prettier, eslint

Changed launcher test to galata test folder
  galata/test/jupyterlab/launcher.test.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
