Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Reset current search provider's position before switching to another
  packages/notebook/src/searchprovider.ts
Due: prettier, eslint

Promise lint fix
  packages/notebook/src/searchprovider.ts
Due: prettier, eslint

fix: update the state to change the gutter height
  packages/codemirror/src/editor.ts
Due: prettier, eslint

Updated notebook.rst
  docs/source/user/notebook.rst
Due: none

Add reopen closed command to tab context menu (#16250)
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/tab-launcher-jupyterlab-linux.png
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/tab-notebook-jupyterlab-linux.png
  packages/mainmenu-extension/schema/plugin.json
Due: prettier

Backport PR #16262: Set aria-label to title if no label for (#16274)
  packages/ui-components/src/components/toolbar.tsx
Due: prettier, eslint

Check the command is registered before notifying (#16273)
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Fix replace when replacement text matches source text multiple times (#16258)
  galata/test/jupyterlab/notebook-replace.test.ts
  packages/codemirror/src/searchprovider.ts
  packages/notebook/src/searchprovider.ts
Due: prettier, eslint

Fix changing font size in text editor (#16261)
  galata/test/jupyterlab/texteditor.test.ts
  packages/codemirror/src/editor.ts
  packages/fileeditor-extension/src/commands.ts
Due: prettier, eslint

Backport PR #16261: Fix changing font size in text editor
  galata/test/jupyterlab/texteditor.test.ts
  packages/codemirror/src/editor.ts
  packages/fileeditor-extension/src/commands.ts
Due: prettier, eslint

Add lowercase proxy vars and make priority consistent with other tools
  jupyterlab/extensions/pypi.py
Due: none

coreutils: add library overrides to tsconfig
  packages/coreutils/tsconfig.json
Due: prettier

coreutils: import option type from Intl namespace
  packages/coreutils/src/time.ts
Due: prettier, eslint

tsconfigbase: Add DOM/Intl libraries globally
  tsconfigbase.json
Due: prettier

Wait for the toolbar item to be rendered the first time before looking for overlap
  packages/cell-toolbar/src/celltoolbartracker.ts
Due: prettier, eslint

prettier
  packages/coreutils/src/time.ts
Due: prettier, eslint

remove useless async
  packages/cell-toolbar/src/celltoolbartracker.ts
Due: prettier, eslint

Revert "Revert "Alternate description for disabled filters""
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
Due: prettier, eslint

Revert "Alternate description for disabled filters"
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
Due: prettier, eslint

Tests across multiple cell types
  galata/test/jupyterlab/notebook-replace.test.ts
Due: prettier, eslint

Update benchmark snapshot
  galata/test/benchmark/notebook.spec.ts-snapshots/large-md-notebook-ipynb-benchmark-linux.png
Due: none

Modifies markdown provider to accept loop, options
  packages/cells/src/searchprovider.ts
Due: prettier, eslint

Inline completer should run anywhere when invoked
  packages/completer/src/handler.ts
Due: prettier, eslint

Backport PR #16261: Fix changing font size in text editor (#16285)
  galata/test/jupyterlab/texteditor.test.ts
  packages/codemirror/src/editor.ts
  packages/fileeditor-extension/src/commands.ts
Due: prettier, eslint

Update to Playwright 1.44.0
  galata/package.json
  yarn.lock
Due: prettier

Advertise the color scheme based on the theme
  packages/apputils-extension/src/themesplugins.ts
Due: prettier, eslint

Allow RegExp in galata helper when looking for a tab
  galata/src/helpers/activity.ts
Due: prettier, eslint

Search and replace with substring in markdown and raw cells (#16293)
  galata/test/jupyterlab/notebook-replace.test.ts
  packages/cells/src/searchprovider.ts
Due: prettier, eslint

Fix for shortcut disabled on reset
  packages/shortcuts-extension/src/components/ShortcutUI.tsx
Due: prettier, eslint

Update urls.rst
  docs/source/user/urls.rst
Due: none

Upgrade CodeMirror dependencies
  packages/cells/package.json
  packages/codemirror-extension/package.json
  packages/codemirror/package.json
  packages/completer/package.json
  packages/console/package.json
  packages/debugger/package.json
  packages/fileeditor-extension/package.json
  yarn.lock
Due: prettier

Add pug language data
  packages/codemirror/src/language.ts
Due: prettier, eslint

Correct name of the indicator variable
  packages/completer/src/ghost.ts
Due: prettier, eslint

Clear error timeout when not in error anymore
  packages/completer/src/ghost.ts
Due: prettier, eslint

Inline completer should run anywhere when invoked (#16298)
  packages/completer/src/handler.ts
Due: prettier, eslint

Backport PR #16298: Allow to invoke inline completer anywhere (not only at the end of line)
  packages/completer/src/handler.ts
Due: prettier, eslint

Replace binary `isError` with error object to allow passing `message`
  packages/completer/src/ghost.ts
  packages/completer/src/inline.ts
  packages/completer/src/reconciliator.ts
  packages/completer/src/tokens.ts
Due: prettier, eslint

Add shape to error indicator to avoid reliance on color alone
  packages/completer/style/base.css
Due: prettier, stylelint

Backport PR #16298: Allow to invoke inline completer anywhere (not only at the end of line) (#16307)
  packages/completer/src/handler.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
