Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Refactor code to avoid inheritance of celltags-ext to nb-ext
  packages/celltags-extension/src/index.ts
  packages/celltags-extension/tsconfig.json
  packages/notebook-extension/src/cellfilters.tsx
  packages/notebook-extension/src/index.tsx
  packages/notebook-extension/style/index.css
  packages/notebook-extension/style/index.js
  packages/notebook-extension/tsconfig.json
  packages/notebook/src/celltag.tsx
  packages/notebook/src/index.ts
Due: prettier, eslint, stylelint

Fix tag name selector
  galata/test/documentation/general.test.ts
Due: prettier, eslint

Add integration tests
  galata/test/jupyterlab/notebook-tags.test.ts
  galata/test/jupyterlab/notebooks/tags.ipynb
  packages/cells/src/widget.ts
Due: prettier, eslint

Refactor styles to be positioned in the same pkg as the code
  packages/celltags-extension/style/index.css
  packages/celltags-extension/style/index.js
  packages/notebook/style/base.css
  packages/notebook/style/celltags.css
Due: prettier, eslint, stylelint

Get yarn.lock file from main branch.
  yarn.lock
Due: none

Use the Button widget from ui-components instead of a the previous custom button react component.
  packages/notebook-extension/src/celltaglist.tsx
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Clean the code
  packages/notebook-extension/src/cellfilters.tsx
  packages/notebook-extension/src/index.tsx
Due: prettier, eslint

Update the button used to open the dialog.
  packages/notebook-extension/src/celltaglist.tsx
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Fix integration test selectors
  galata/test/jupyterlab/notebook-tags.test.ts
Due: prettier, eslint

Add a parent class for the style of the toolbar button component.
  packages/notebook-extension/style/base.css
Due: prettier, stylelint

Add radio button _any type_ to deactivate type filter
  packages/notebook-extension/src/cellfilters.tsx
Due: prettier, eslint

Change the filter from union to intersection to fit the previous behavior of the filtering tool from jupyterLab3.
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Make the plugin list scrollable
  packages/pluginmanager/src/dialogs.tsx
  packages/pluginmanager/style/base.css
Due: prettier, eslint, stylelint

Apply suggestions from code review
  packages/notebook-extension/src/index.tsx
Due: prettier, eslint

Resolve merge conflicts.
  packages/celltags-extension/tsconfig.json
  yarn.lock
Due: prettier

Update index.ts and celltaglist.tsx to include the proper logics to correctly filter the cells to collapse and update their respective collapsed state when selected filters changed
  packages/application/src/shell.ts
  packages/notebook-extension/src/celltaglist.tsx
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Try to fix ui tests.
  galata/test/jupyterlab/notebook-tags.test.ts
Due: prettier, eslint

Update packages/notebook-extension/src/celltaglist.tsx
  packages/notebook-extension/src/celltaglist.tsx
Due: prettier, eslint

Update yarn.lock.
  yarn.lock
Due: none

Place the cancel button in the last position in the list of the Dialog Buttons to make it the default one.
  packages/notebook-extension/src/index.tsx
Due: prettier, eslint

Update index.tsx file of notebook-extension packages and other minor changes.
  packages/notebook-extension/src/index.tsx
  packages/notebook/style/index.css
  packages/notebook/style/index.js
Due: prettier, eslint, stylelint

Remove filter button from the notebook's tool bar and thus the possibility to execute the filterCells command from this toolbar.
  packages/notebook-extension/schema/panel.json
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Use radio buttons for types
  packages/notebook-extension/src/cellfilters.tsx
  packages/notebook-extension/src/index.tsx
  packages/notebook-extension/style/base.css
Due: prettier, eslint, stylelint

Namespace data attribute Ensure tags are always surrounded by commas
  galata/test/jupyterlab/notebook-tags.test.ts
  packages/cells/src/widget.ts
Due: prettier, eslint

Add the type of cells in the tags list and adapt the code to take this change into account.
  packages/notebook-extension/schema/tools.json
  packages/notebook-extension/src/celltaglist.tsx
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Update packages/notebook-extension/src/celltaglist.tsx
  packages/notebook-extension/src/celltaglist.tsx
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

use upstream/main yarn.lock
  yarn.lock
Due: none

fix form and validation
  packages/apputils/src/sessioncontext.tsx
  packages/ui-components/src/components/customform.tsx
Due: prettier, eslint

Shut down unused kernels, working but needs formating changes
  packages/running/package.json
  packages/running/src/index.tsx
  packages/running/tsconfig.json
  yarn.lock
Due: prettier, eslint

Add test for inspector tooltip showing up
  galata/test/jupyterlab/inspector-tooltip.test.ts
Due: prettier, eslint

Short-circuit with `false` rather than `true` so
  packages/codemirror/src/commands.ts
Due: prettier, eslint

Backport PR #16335: Reactive toolbar: avoid simultaneous calls to _onResize() (#16338)
  packages/ui-components/src/components/toolbar.tsx
Due: prettier, eslint

Renaming and formatting changes
  packages/running/src/index.tsx
Due: prettier, eslint

rename to Shutdown
  packages/running/src/index.tsx
Due: prettier, eslint

Fix workspace menu incorrectly showing up in non-workspace sections of the sidebar
  packages/workspaces-extension/schema/sidebar.json
Due: prettier

Fix starting kernels
  packages/apputils/src/sessioncontext.tsx
  packages/ui-components/src/components/customform.tsx
Due: prettier, eslint

Add an integration test for console in terminal mode
  galata/test/jupyterlab/console.test.ts
Due: prettier, eslint

Do not prevent default on enter in terminal interaction mode
  packages/codemirror/src/commands.ts
  packages/console/src/widget.ts
Due: prettier, eslint

Integrity
  packages/console/package.json
  yarn.lock
Due: prettier

Changed setFullscreen to toggleFullscreen
  packages/application-extension/src/index.tsx
  packages/application/src/shell.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
