Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Backport PR #15735: Fix running kernels listing for kernels without icons
  packages/running/src/index.tsx
Due: prettier, eslint

Removed second overflow-x & changed original overflow-x to hidden
  packages/completer/style/base.css
Due: prettier, stylelint

Backport PR #15735: Fix running kernels listing for kernels without icons (#15737)
  packages/running/src/index.tsx
Due: prettier, eslint

Fix cell toolbar getting stuck when using collapse cell (#15732)
  packages/cell-toolbar/src/celltoolbartracker.ts
Due: prettier, eslint

Backport PR #15732: Fix cell toolbar getting stuck when using collapse cell
  packages/cell-toolbar/src/celltoolbartracker.ts
Due: prettier, eslint

Backport PR #15732: Fix cell toolbar getting stuck when using collapse cell (#15738)
  packages/cell-toolbar/src/celltoolbartracker.ts
Due: prettier, eslint

Fix scrollbars partially blocking code completion (#15736)
  packages/completer/style/base.css
Due: prettier, stylelint

Backport PR #15736: Fix scrollbars partially blocking code completion
  packages/completer/style/base.css
Due: prettier, stylelint

Backport PR #15736: Fix scrollbars partially blocking code completion (#15740)
  packages/completer/style/base.css
Due: prettier, stylelint

add helper to right sidebar test
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

Add post-mortem for 3.6.7 release
  RELEASE.md
Due: none

refactor accordion test
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

margin change of vh and vw
  packages/filebrowser/style/base.css
Due: prettier, stylelint

refactor is open to isTabOpen
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

check accordion is open using id
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

aria label selector
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

remove for each in accordion test
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

Updated visually hidden css
  packages/application/style/core.css
Due: prettier, stylelint

select correct aria label
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

jp-BreadCrumbs margin edit
  packages/filebrowser/style/base.css
Due: prettier, stylelint

FileBrowser-jp-DirListing-headerItem padding edit
  packages/filebrowser/style/base.css
Due: prettier, stylelint

Added documentation in comment about visually hidden pattern
  packages/application/style/core.css
Due: prettier, stylelint

remove evaluate from for loop
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

state as string
  galata/src/helpers/activity.ts
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

new expectation
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

Backport PR #15727: Bump the actions group with 3 updates (#15742)
  .pre-commit-config.yaml
  jupyterlab/browser_check.py
  jupyterlab/extensions/manager.py
  jupyterlab/handlers/announcements.py
  jupyterlab/labapp.py
  jupyterlab/labextensions.py
  jupyterlab/semver.py
  pyproject.toml
Due: none

Add unit test for splitting cell preserving output
  packages/notebook/test/actions.spec.ts
Due: prettier, eslint

set states to aria expanded value
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

Preserve code cell outputs in the last cell on split
  packages/notebook/src/actions.tsx
Due: prettier, eslint

added min vh and vw to test screenshots updates
  packages/filebrowser/style/base.css
Due: prettier, stylelint

increased menu bar screenshot to test cut off of menu bar
  galata/test/jupyterlab/zoom.test.ts
Due: prettier, eslint

add helper function to accordion test
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

Add a test for completer not invoking on non-source changes
  packages/metapackage/test/completer/handler.spec.ts
Due: prettier, eslint

Filter shared model `changed` signal before invoking `onTextChanged`
  packages/completer/src/handler.ts
Due: prettier, eslint

Align ruff version in `pyproject.toml` with pre-commit
  pyproject.toml
Due: none

give key to sidebar an attribute argument
  galata/src/helpers/activity.ts
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

Move comment and use more explicit typing/explanation
  packages/completer/src/handler.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
