Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

formatting
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

Update packages/apputils-extension/src/statusbarplugin.ts
  packages/apputils-extension/src/statusbarplugin.ts
Due: prettier, eslint

Update jupyter-ai link to beta1
  CHANGELOG.md
Due: none

Mention jupyter-ai pre-release in inline completer changelog section (#15669)
  CHANGELOG.md
Due: none

Issue-13794 switch from pytest-tornasync to pytest-jupyter (#15662)
  pyproject.toml
Due: none

use explicit securityLevel
  packages/mermaid/src/manager.ts
Due: prettier, eslint

Rename _ConflictModalIsOpen to _conflictModalIsOpen
  packages/docregistry/src/context.ts
Due: prettier, eslint

Code review: Compare hash if available
  packages/docregistry/src/context.ts
Due: prettier, eslint

Add hash testing via #fileChanged
  packages/docregistry/test/context.spec.ts
Due: prettier, eslint

Remove the add cell button from the tabbable item. It is now reachable only with key arrows when the notebook is focused (#15679)
  packages/notebook/src/notebookfooter.ts
Due: prettier, eslint

margin edit
  packages/filebrowser/style/base.css
Due: prettier, stylelint

Update version numbers in package.json
  packages/theme-high-contrast-extension/package.json
Due: prettier

Refactor workspaces to provide a scaffold for Workspaces UI
  dev_mode/package.json
  dev_mode/style.js
  packages/apputils-extension/src/workspacesplugin.ts
  packages/metapackage/package.json
  packages/metapackage/tsconfig.json
  packages/metapackage/tsconfig.test.json
  packages/workspaces-extension/.vscode/launch.json
  packages/workspaces-extension/package.json
  packages/workspaces-extension/src/commands.ts
  packages/workspaces-extension/src/index.ts
  packages/workspaces-extension/style/index.css
  packages/workspaces-extension/style/index.js
  packages/workspaces-extension/tsconfig.json
  packages/workspaces/.vscode/launch.json
  packages/workspaces/babel.config.js
  packages/workspaces/jest.config.js
  packages/workspaces/package.json
  packages/workspaces/src/commands.ts
  packages/workspaces/src/index.ts
  packages/workspaces/src/tokens.ts
  packages/workspaces/style/index.css
  packages/workspaces/style/index.js
  packages/workspaces/tsconfig.json
  packages/workspaces/tsconfig.test.json
  tsconfigdoc.json
  yarn.lock
Due: prettier, eslint, stylelint

add more diagram examples to browser test
  galata/test/jupyterlab/notebook-run-mermaid.test.ts
  galata/test/jupyterlab/notebooks/mermaid_notebook.ipynb
Due: prettier, eslint

formatting
  galata/src/helpers/activity.ts
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

remove MIME string from test mermaid test notebook
  galata/test/jupyterlab/notebooks/mermaid_notebook.ipynb
Due: none

Update docs/source/extension/extension_dev.rst
  docs/source/extension/extension_dev.rst
Due: none

Update docs/source/extension/extension_multiple_ui.rst
  docs/source/extension/extension_multiple_ui.rst
Due: none

roll back existing test change, add diagram gallery test
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts
  galata/test/jupyterlab/notebook-run-mermaid.test.ts
  galata/test/jupyterlab/notebooks/mermaid_diagrams.ipynb
  galata/test/jupyterlab/notebooks/mermaid_notebook.ipynb
Due: prettier, eslint

rework test selectors
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts
Due: prettier, eslint

add screenshots from ci
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-00.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-01.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-02.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-03.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-04.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-05.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-06.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-07.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-08.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-09.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-10.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-11.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-12.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-13.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-00.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-01.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-02.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-03.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-04.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-05.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-06.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-07.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-08.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-09.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-10.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-11.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-12.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-13.png
Due: prettier, eslint

test
  galata/src/helpers/activity.ts
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

Test search state updating on empty query
  galata/test/jupyterlab/notebook-search.test.ts
Due: prettier, eslint

test
  galata/src/helpers/activity.ts
Due: prettier, eslint

Extra unit test for `searchExpression`
  packages/documentsearch/test/searchmodel.spec.ts
Due: prettier, eslint

Fix search not ending on empty input
  packages/documentsearch/src/searchmodel.ts
Due: prettier, eslint

test
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
