Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
        exclude: galata/.*-snapshots
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.23.1
    hooks:
      - id: check-github-workflows

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.282
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

Bump pydantic constraint
  pyproject.toml
Due: none

Backport PR #16507: Add customisation options to prevent inline completer resizing aggressively (#16552)
  packages/completer-extension/schema/inline-completer.json
  packages/completer/src/ghost.ts
  packages/completer/src/inline.ts
  packages/completer/src/tokens.ts
  packages/completer/style/base.css
  packages/completer/test/inline.spec.ts
Due: prettier, eslint, stylelint

Backport PR #16450 on branch 4.2.x (Align extension migration docs with the latest extension template) (#16503)
  docs/source/extension/extension_migration.rst
  docs/source/extension/notebook.rst
  jupyterlab/upgrade_extension.py
  pyproject.toml
Due: none

Update the dialog
  packages/apputils/src/custom_env.tsx
  packages/apputils/src/sessioncontext.tsx
Due: prettier, eslint

Add a command and instructions to serve documentation files locally (#16600)
  docs/Makefile
  docs/make.bat
  docs/source/developer/contributing.rst
Due: none

coreutils: add required TS intl libraries (#16288)
  packages/coreutils/src/time.ts
  packages/coreutils/tsconfig.json
  tsconfigbase.json
Due: prettier, eslint

Fix a dialog
  packages/apputils/src/custom_env.tsx
Due: prettier, eslint

Add untitled files to .gitignore (#16595)
  .gitignore
Due: none

updated textWidget and checkboxesWidget
  packages/ui-components/src/components/widgets/checkboxesWidget.tsx
  packages/ui-components/src/components/widgets/textWidget.tsx
Due: prettier, eslint

Removes stray comment
  packages/cells/src/inputarea.ts
Due: prettier, eslint

Adds toolbar button with working run command
  packages/cell-toolbar/src/celltoolbartracker.ts
  packages/cells/src/inputarea.ts
Due: prettier, eslint

WIP: Logic for conditionally showing run button
  packages/cells/src/inputarea.ts
  packages/cells/style/inputarea.css
Due: prettier, eslint, stylelint

Revert "Revert "Alternate description for disabled filters""
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
Due: prettier, eslint

Uses CommandToolbarButton for run button
  packages/cell-toolbar/src/celltoolbartracker.ts
Due: prettier, eslint

Suppresses run button on non-code cells
  packages/cells/style/inputarea.css
Due: prettier, stylelint

WIP: Adds mouseover to show play button
  packages/cells/src/inputarea.ts
Due: prettier, eslint

WIP: Adds play button on each cell
  packages/cells/src/inputarea.ts
  packages/cells/style/inputarea.css
Due: prettier, eslint, stylelint

WIP: Styles run button in cells
  packages/cells/src/inputarea.ts
  packages/cells/style/inputarea.css
Due: prettier, eslint, stylelint

Revert "Alternate description for disabled filters"
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
Due: prettier, eslint

Removes log messages
  packages/cells/src/inputarea.ts
Due: prettier, eslint

Fix typo
  packages/cells/src/widget.ts
Due: prettier, eslint

Waits to render helper buttons until cell is available
  packages/cell-toolbar/src/celltoolbartracker.ts
Due: prettier, eslint

Shows play button when focusing cell that has never been run
  packages/cell-toolbar-extension/src/index.ts
  packages/cell-toolbar/src/celltoolbartracker.ts
  packages/cells/src/inputarea.ts
Due: prettier, eslint

Fixes dirty dot appearance
  packages/notebook/style/base.css
Due: prettier, stylelint

Renames CSS class, adds animation
  packages/cells/src/inputarea.ts
  packages/cells/style/inputarea.css
Due: prettier, eslint, stylelint

Improves styling, adds option
  packages/cell-toolbar-extension/schema/plugin.json
  packages/cell-toolbar-extension/src/index.ts
  packages/cells/style/inputarea.css
Due: prettier, eslint, stylelint

Use Jupyter toolkit treeview
  dev_mode/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/filebrowser/package.json
  examples/notebook/package.json
  examples/terminal/package.json
  galata/src/helpers/debuggerpanel.ts
  galata/test/jupyterlab/debugger.test.ts
  galata/test/jupyterlab/debugger.test.ts-snapshots/image-debug-session-global-variables-jupyterlab-linux.png
  galata/test/jupyterlab/debugger.test.ts-snapshots/start-debug-session-script-variables-jupyterlab-linux.png
  galata/test/jupyterlab/debugger.test.ts-snapshots/start-debug-session-variables-jupyterlab-linux.png
  galata/test/jupyterlab/toc-running.test.ts-snapshots/toc-running-indicator-error-jupyterlab-linux.png
  galata/test/jupyterlab/toc-running.test.ts-snapshots/toc-running-indicators-jupyterlab-linux.png
  galata/test/jupyterlab/toc.test.ts-snapshots/notebook-output-headings-jupyterlab-linux.png
  galata/test/jupyterlab/toc.test.ts-snapshots/toc-panel-jupyterlab-linux.png
  galata/test/jupyterlab/toc.test.ts-snapshots/toggle-numbered-list-jupyterlab-linux.png
  packages/debugger/package.json
  packages/debugger/src/panels/variables/index.ts
  packages/debugger/src/panels/variables/tree.tsx
  packages/debugger/style/variables.css
  packages/running/package.json
  packages/running/src/index.tsx
  packages/running/style/base.css
  packages/toc/package.json
  packages/toc/src/tocitem.tsx
  packages/toc/src/toctree.tsx
  packages/toc/style/base.css
  packages/ui-components/package.json
  packages/ui-components/src/utils.ts
  packages/ui-components/style/base.css
  packages/ui-components/style/toolkit.css
  yarn.lock
Due: prettier, eslint, stylelint

Fix snapshots
  packages/running/style/base.css
  packages/toc/style/base.css
Due: prettier, stylelint

Fix buttons styling
  packages/ui-components/src/components/toolbar.tsx
  packages/ui-components/style/toolkit.css
Due: prettier, eslint, stylelint

Fix integration tests
  galata/test/documentation/debugger.test.ts-snapshots/debugger-variables-documentation-linux.png
  galata/test/jupyterlab/debugger.test.ts
  galata/test/jupyterlab/toc-running.test.ts
  galata/test/jupyterlab/toc.test.ts
  galata/test/jupyterlab/toc.test.ts-snapshots/notebook-output-headings-jupyterlab-linux.png
  galata/test/jupyterlab/toc.test.ts-snapshots/toc-panel-jupyterlab-linux.png
  galata/test/jupyterlab/toc.test.ts-snapshots/toggle-numbered-list-jupyterlab-linux.png
  packages/debugger/src/panels/variables/tree.tsx
Due: prettier, eslint

Reduce left margin for flat list
  packages/running/src/index.tsx
  packages/running/style/base.css
  packages/ui-components/style/toolkit.css
Due: prettier, eslint, stylelint

Ask explicitly the type of sessions view
  packages/lsp-extension/src/index.ts
  packages/running-extension/src/kernels.tsx
  packages/running-extension/src/opentabs.ts
  packages/running-extension/src/recents.ts
  packages/running-extension/tsconfig.json
  packages/running/src/index.tsx
  packages/running/style/base.css
  packages/terminal-extension/src/index.ts
  packages/workspaces-extension/src/sidebar.ts
Due: prettier, eslint, stylelint

Update snapshots
  galata/test/documentation/general.test.ts-snapshots/running-layout-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/running-modal-documentation-linux.png
  galata/test/documentation/workspaces.test.ts-snapshots/workspaces-sidebar-documentation-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-jp-running-sessions-jupyterlab-linux.png
Due: none

Bump toolkit to 0.16.5
  dev_mode/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/filebrowser/package.json
  examples/notebook/package.json
  examples/terminal/package.json
  packages/debugger/package.json
  packages/running/package.json
  packages/toc/package.json
  packages/ui-components/package.json
  yarn.lock
Due: prettier

Fix integration tests
  galata/test/documentation/general.test.ts-snapshots/running-layout-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/running-modal-documentation-linux.png
  galata/test/documentation/overview.test.ts-snapshots/interface-tabs-documentation-linux.png
  galata/test/jupyterlab/debugger.test.ts
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-jp-running-sessions-jupyterlab-linux.png
  galata/test/jupyterlab/toc-running.test.ts-snapshots/toc-running-indicator-top-level-jupyterlab-linux.png
Due: prettier, eslint

Avoid horizontal position change when switching from flat to hierarchical tree view
  packages/debugger/src/panels/variables/tree.tsx
  packages/running/src/index.tsx
  packages/toc/src/tocitem.tsx
Due: prettier, eslint

Bump toolkit to 0.16.6
  dev_mode/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/filebrowser/package.json
  examples/notebook/package.json
  examples/terminal/package.json
  packages/debugger/package.json
  packages/running/package.json
  packages/toc/package.json
  packages/ui-components/package.json
  yarn.lock
Due: prettier

Reduce spacing between icon and label
  packages/running/style/base.css
Due: prettier, stylelint

Update snapshots
  galata/test/documentation/debugger.test.ts-snapshots/debugger-variables-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/running-layout-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/running-modal-documentation-linux.png
  galata/test/documentation/overview.test.ts-snapshots/interface-tabs-documentation-linux.png
  galata/test/documentation/workspaces.test.ts-snapshots/workspaces-sidebar-documentation-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-jp-running-sessions-jupyterlab-linux.png
Due: none
