Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
        exclude: galata/.*-snapshots
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.23.1
    hooks:
      - id: check-github-workflows

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.282
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

Fix style for mobile layout
  packages/cells/style/inputarea.css
  packages/outputarea/style/base.css
Due: prettier, stylelint

Backport PR jupyterlab#15237: Fix completer tests after transition to pointer events
  packages/completer/test/widget.spec.ts
  testutils/src/common.ts
  testutils/src/index.ts
Due: prettier, eslint

Bump `@jupyterlab/rendermime-interfaces` to `3.9.0-alpha.1` (#15240)
  dev_mode/package.json
  examples/federated/core_package/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/attachments/package.json
  packages/docregistry/package.json
  packages/fileeditor-extension/package.json
  packages/javascript-extension/package.json
  packages/json-extension/package.json
  packages/mermaid-extension/package.json
  packages/mermaid/package.json
  packages/metapackage/package.json
  packages/outputarea/package.json
  packages/pdf-extension/package.json
  packages/rendermime-interfaces/package.json
  packages/rendermime/package.json
  packages/running-extension/package.json
  packages/translation/package.json
  packages/ui-components/package.json
  packages/vega5-extension/package.json
  yarn.lock
Due: prettier

Backport PR #15184 on branch 4.0.x (Fix clicking in the TOC does not scroll) (#15242)
  galata/test/jupyterlab/notebooks/toc_scrolling_notebook.ipynb
  galata/test/jupyterlab/toc-scrolling.test.ts
  galata/test/jupyterlab/toc-scrolling.test.ts-snapshots/scrolled-to-bottom-heading-jupyterlab-linux.png
  packages/markdownviewer/src/toc.ts
  packages/notebook/src/toc.ts
Due: prettier, eslint

Remove hard coded text-plain in multiple places (#15182)
  packages/codeeditor/src/editor.ts
  packages/docregistry/src/mimedocument.ts
  packages/fileeditor/src/fileeditorlspadapter.ts
  packages/notebook/src/notebooklspadapter.ts
  packages/notebook/src/widget.ts
Due: prettier, eslint

Fix completer documentation panel hiding and animation (#15238)
  packages/completer/src/widget.ts
  packages/completer/style/base.css
  packages/metapackage/test/completer/widget.spec.ts
Due: prettier, eslint, stylelint

Backport PR #15238: Fix completer documentation panel hiding and animation
  packages/completer/src/widget.ts
  packages/completer/style/base.css
  packages/metapackage/test/completer/widget.spec.ts
Due: prettier, eslint, stylelint

Mobile: adjust margins and disable collapser overlay
  packages/cells/style/inputarea.css
  packages/outputarea/style/base.css
Due: prettier, stylelint

Package integrity updates
  packages/codeeditor/package.json
  packages/codeeditor/tsconfig.json
  packages/codeeditor/tsconfig.test.json
  packages/lsp-extension/package.json
  packages/lsp-extension/tsconfig.json
  yarn.lock
Due: prettier

update workspace test with respective widgetStates
  galata/test/jupyterlab/workspace.test.ts
Due: prettier, eslint

clip viewport to show menbar only
  galata/test/jupyterlab/low-vision.test.ts
Due: prettier, eslint

Revert mermaid snapshot update
  galata/test/jupyterlab/notebook-markdown.test.ts-snapshots/render-mermaid-flowchart-jupyterlab-linux.png
Due: none

Check for LSP server updating virtual documents
  packages/lsp/src/adapters/adapter.ts
Due: prettier, eslint

check for language of foreign documents
  packages/lsp/src/adapters/adapter.ts
Due: prettier, eslint

snapshot to match main, deleted previous low vision snapshot
  galata/test/jupyterlab/collapsible-headings.test.ts-snapshots/reexpand-headers-01-jupyterlab-linux.png
  galata/test/jupyterlab/low-vision.test.ts-snapshots/low-vision-400-zoom-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/dark-term-inherit-jupyterlab-linux.png
Due: none

Improve docker script (#15241)
  docker/Dockerfile
  docker/start.sh
  docs/source/developer/contributing.rst
Due: none

Backport PR #15238: Fix completer documentation panel hiding and animation (#15248)
  packages/completer/src/widget.ts
  packages/completer/style/base.css
  packages/metapackage/test/completer/widget.spec.ts
Due: prettier, eslint, stylelint

Workaround issue with notebook-mobile test
  galata/test/jupyterlab/notebook-mobile.test.ts
Due: prettier, eslint

Update snapshot for mobile layout
  galata/test/jupyterlab/notebook-mobile.test.ts-snapshots/mobile-layout-jupyterlab-linux.png
Due: none

Fix text wrapping in the search box- Ref #15049 (#15080)
  packages/documentsearch/style/base.css
Due: prettier, stylelint

Backport PR #15080: Fix text wrapping in the search box
  packages/documentsearch/style/base.css
Due: prettier, stylelint

Link the issue to setCell
  galata/test/jupyterlab/notebook-mobile.test.ts
Due: prettier, eslint

Backport PR #15080: Fix text wrapping in the search box (#15251)
  packages/documentsearch/style/base.css
Due: prettier, stylelint

Add test
  packages/lsp/test/adapters.spec.ts
Due: prettier, eslint

Remove LSP server check
  packages/lsp/src/adapters/adapter.ts
Due: prettier, eslint

Custom kernel message serializer
  packages/services/src/kernel/default.ts
  packages/services/src/serverconnection.ts
Due: prettier, eslint

Revert incorrect completer snapshot update
  galata/test/jupyterlab/completer.test.ts-snapshots/completer-with-doc-panel-jupyterlab-linux.png
Due: none

Update jupyterlab/extensions/pypi.py
  jupyterlab/extensions/pypi.py
Due: none

Fixed home page link to sibling project.
  docs/source/index.rst
Due: none

Restore horizontal scrolling of outputs for Firefox (#15171)
  galata/test/jupyterlab/notebook-mobile.test.ts
  galata/test/jupyterlab/notebook-mobile.test.ts-snapshots/mobile-layout-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run-vega.test.ts-snapshots/run-cells-dark-vega-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run-vega.test.ts-snapshots/run-cells-vega-jupyterlab-linux.png
  galata/test/jupyterlab/print.test.ts
  galata/test/jupyterlab/print.test.ts-snapshots/printed-notebook-jupyterlab-linux.png
  packages/cells/style/inputarea.css
  packages/cells/style/widget.css
  packages/notebook/style/base.css
  packages/outputarea/style/base.css
Due: prettier, eslint, stylelint

Backport PR #15171: Restore horizontal scrolling of outputs for Firefox
  galata/test/jupyterlab/notebook-mobile.test.ts
  galata/test/jupyterlab/notebook-mobile.test.ts-snapshots/mobile-layout-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run-vega.test.ts-snapshots/run-cells-dark-vega-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run-vega.test.ts-snapshots/run-cells-vega-jupyterlab-linux.png
  galata/test/jupyterlab/print.test.ts
  galata/test/jupyterlab/print.test.ts-snapshots/printed-notebook-jupyterlab-linux.png
  packages/cells/style/inputarea.css
  packages/cells/style/widget.css
  packages/notebook/style/base.css
  packages/outputarea/style/base.css
Due: prettier, eslint, stylelint

Backport PR #15171: Restore horizontal scrolling of outputs for Firefox (#15257)
  galata/test/jupyterlab/notebook-mobile.test.ts
  galata/test/jupyterlab/notebook-mobile.test.ts-snapshots/mobile-layout-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run-vega.test.ts-snapshots/run-cells-dark-vega-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run-vega.test.ts-snapshots/run-cells-vega-jupyterlab-linux.png
  galata/test/jupyterlab/print.test.ts
  galata/test/jupyterlab/print.test.ts-snapshots/printed-notebook-jupyterlab-linux.png
  packages/cells/style/inputarea.css
  packages/cells/style/widget.css
  packages/notebook/style/base.css
  packages/outputarea/style/base.css
Due: prettier, eslint, stylelint

a test case to illustrate issue #14871
  galata/test/jupyterlab/notebook-search-outline.test.ts
  galata/test/jupyterlab/notebook-search-outline.test.ts-snapshots/notebook-search-outline-1-jupyterlab-darwin.png
  galata/test/jupyterlab/notebook-search-outline.test.ts-snapshots/notebook-search-outline-2-jupyterlab-darwin.png
  galata/test/jupyterlab/notebooks/search_outline_notebook.ipynb
Due: prettier, eslint

cleanup unused code
  galata/test/jupyterlab/notebook-search-outline.test.ts
Due: prettier, eslint

Fixed home page link to sibling project. (#15256)
  docs/source/index.rst
Due: none
