Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [check-jsonschema, prettier, eslint, integrity]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: forbid-new-submodules
      - id: check-case-conflict
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: debug-statements

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.16
    hooks:
      - id: mdformat

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.14.2
    hooks:
      - id: check-jsonschema
        name: 'Check GitHub Workflows'
        files: ^\.github/workflows/
        types: [yaml]
        args: ['--schemafile', 'https://json.schemastore.org/github-workflow']

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

fix test timeouts
  packages/filebrowser/test/listing.spec.ts
Due: prettier, eslint

fix linter error
  packages/filebrowser/src/opendialog.ts
Due: prettier, eslint

Make changes to the tooltips of the toolbar actions. (#13861)
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/general.test.ts-snapshots/file-formats-html-display-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-jupyterlab-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-right-common-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-tabs-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-tabs-menu-documentation-linux.png
  packages/notebook-extension/src/index.ts
  packages/notebook/src/widget.ts
Due: prettier, eslint

Update directories.rst
  docs/source/user/directories.rst
Due: none

Simplify promise handling
  packages/fileeditor/src/searchprovider.ts
Due: prettier, eslint

Address review
  packages/cells/src/placeholder.ts
  packages/cells/src/widget.ts
  packages/cells/style/placeholder.css
Due: prettier, eslint

Only update first line when input is hidden
  packages/cells/src/widget.ts
Due: prettier, eslint

Only update first line when output is hidden
  packages/cells/src/widget.ts
Due: prettier, eslint

Revert snapshots
  galata/test/documentation/general.test.ts-snapshots/file-formats-html-display-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-jupyterlab-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-right-common-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-tabs-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-tabs-menu-documentation-linux.png
Due: none

Rename setting
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Don't activate the current notebook in labels and captions
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Update snapshots for menus
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/notebook-code-jupyterlab-linux.png
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/notebook-md-jupyterlab-linux.png
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-edit-jupyterlab-linux.png
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-run-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/opened-menu-edit-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/opened-menu-run-jupyterlab-linux.png
Due: none

Fix selector for 3.6.x
  galata/test/jupyterlab/settings.test.ts
Due: prettier, eslint

Clean up events service types in preparation for release
  packages/services/src/event/index.ts
Due: prettier, eslint

Miss one command
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

More UI selectors fixes
  galata/test/jupyterlab/settings.test.ts
Due: prettier, eslint

Update output access
  packages/cells/src/widget.ts
Due: prettier, eslint

Fix label in menu selectors
  galata/test/jupyterlab/notebook-edit.test.ts
Due: prettier, eslint

Wait for active cell content
  galata/test/documentation/export_notebook.test.ts
Due: prettier, eslint

Backport PR #14077 on branch 3.6.x (Fix code/content/ui font-size change) (#14138)
  galata/test/jupyterlab/settings.test.ts
  packages/apputils/src/thememanager.ts
Due: prettier, eslint

Add deprecation note
  packages/notebook-extension/schema/tracker.json
Due: prettier

Fix getting current without activation for labels and captions (#14152)
  galata/test/documentation/export_notebook.test.ts
  galata/test/documentation/general.test.ts-snapshots/file-formats-html-display-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-jupyterlab-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-right-common-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-tabs-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-tabs-menu-documentation-linux.png
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/notebook-code-jupyterlab-linux.png
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/notebook-md-jupyterlab-linux.png
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-edit-jupyterlab-linux.png
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-run-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/opened-menu-edit-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/opened-menu-run-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Add mathjax-extension package
  .github/labeler.yml
  buildutils/src/ensure-repo.ts
  dev_mode/package.json
  dev_mode/style.js
  examples/app/index.js
  examples/app/package.json
  examples/federated/core_package/package.json
  examples/notebook/package.json
  examples/notebook/src/index.ts
  packages/extensionmanager-extension/examples/listings/index.js
  packages/extensionmanager-extension/examples/listings/package.json
  packages/mathjax-extension/package.json
  packages/mathjax-extension/src/index.ts
  packages/mathjax-extension/src/typesetter.ts
  packages/mathjax-extension/style/base.css
  packages/mathjax-extension/style/index.css
  packages/mathjax-extension/style/index.js
  packages/mathjax-extension/tsconfig.json
  packages/mathjax-extension/typedoc.json
  packages/mathjax2-extension/typedoc.json
  packages/mathjax2/package.json
  packages/mathjax2/style/index.css
  packages/mathjax2/style/index.js
  packages/mathjax2/tsconfig.json
  packages/mathjax2/typedoc.json
  packages/metapackage/package.json
  packages/metapackage/test/rendermime/registry.spec.ts
  packages/metapackage/tsconfig.json
  packages/metapackage/tsconfig.test.json
  tsconfigdoc.json
  typedoc.js
Due: prettier, eslint

Add migration note
  docs/source/extension/extension_migration.rst
Due: none

Introduce disabled states for the cell move up/move down icons in the toolbars of the notebook cells.
  galata/test/documentation/debugger.test.ts-snapshots/debugger-run-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-altair-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-nteract-vdom-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-tabs-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/notebook-heading-anchor-link-documentation-linux.png
  galata/test/galata/notebook.spec.ts-snapshots/code-cell-galata-linux.png
  galata/test/galata/notebook.spec.ts-snapshots/markdown-cell-galata-linux.png
  galata/test/galata/notebook.spec.ts-snapshots/raw-cell-galata-linux.png
  galata/test/galata/notebook.spec.ts-snapshots/run-cells-galata-linux.png
  galata/test/jupyterlab/collapsible-headings.test.ts-snapshots/add-header-below-02-jupyterlab-linux.png
  galata/test/jupyterlab/collapsible-headings.test.ts-snapshots/collapse-previous-headers-jupyterlab-linux.png
  galata/test/jupyterlab/collapsible-headings.test.ts-snapshots/no-showHCB-collapse-heading-jupyterlab-linux.png
  galata/test/jupyterlab/collapsible-headings.test.ts-snapshots/no-showHCB-expand-heading-via-collapser-jupyterlab-linux.png
  galata/test/jupyterlab/collapsible-headings.test.ts-snapshots/no-showHCB-heading-selected-jupyterlab-linux.png
  galata/test/jupyterlab/collapsible-headings.test.ts-snapshots/reexpand-headers-03a-jupyterlab-linux.png
  galata/test/jupyterlab/collapsible-headings.test.ts-snapshots/showHCB-collapse-heading-jupyterlab-linux.png
  galata/test/jupyterlab/collapsible-headings.test.ts-snapshots/showHCB-expand-heading-via-collapser-jupyterlab-linux.png
  galata/test/jupyterlab/collapsible-headings.test.ts-snapshots/showHCB-heading-selected-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/dark-theme-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/run-cells-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/deselect-all-cells-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/execute-again-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/merge-cells-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/move-cell-up-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/paste-replace-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/reedit-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/run-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/select-all-cells-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/split-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-markdown.test.ts-snapshots/highlight-latex-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-toolbar.test.ts-snapshots/change-to-markdown-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-toolbar.test.ts-snapshots/cut-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-toolbar.test.ts-snapshots/delete-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-toolbar.test.ts-snapshots/paste-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-toolbar.test.ts-snapshots/run-cell-jupyterlab-linux.png
  packages/notebook-extension/src/index.ts
  packages/notebook/src/widget.ts
Due: prettier, eslint

feat: Add fallback value for undefined className prop in StatusBarGroupItem component (#14140)
  packages/statusbar/src/components/group.tsx
Due: prettier, eslint

check that descendant node has focus
  packages/notebook/src/widget.ts
Due: prettier, eslint

Clean up events service types in preparation for release (#14149)
  packages/services/src/event/index.ts
Due: prettier, eslint

Remove deprecated code
  docs/source/extension/extension_migration.rst
  packages/completer/src/handler.ts
  packages/console/src/panel.ts
  packages/csvviewer/src/toolbar.ts
  packages/csvviewer/test/toolbar.spec.ts
  packages/mainmenu-extension/src/index.ts
  packages/mainmenu/src/index.ts
  packages/metapackage/test/rendermime/registry.spec.ts
  packages/notebook/src/default-toolbar.tsx
  packages/notebook/src/widgetfactory.ts
  packages/notebook/test/widgetfactory.spec.ts
  packages/rendermime/src/registry.ts
  packages/ui-components/src/components/menu.ts
  packages/ui-components/src/components/windowedlist.ts
  packages/ui-components/src/style/icon.ts
Due: prettier, eslint

Don't activate on isEnabled execution
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Remove snapshot from older test
  galata/test/documentation/general.test.ts-snapshots/file-formats-nteract-vdom-documentation-linux.png
Due: none

Robustify documentation snapshot tests
  galata/test/documentation/general.test.ts
Due: prettier, eslint

Wait until editor is focused
  galata/test/documentation/general.test.ts
Due: prettier, eslint

Fix button color on About JupyterLab
  packages/application/style/buttons.css
Due: prettier

Fix text color on documentation link
  packages/ui-components/style/base.css
Due: prettier

Fix integrity
  buildutils/src/ensure-repo.ts
Due: prettier, eslint

Fix create-package
  buildutils/src/create-package.ts
  buildutils/tsconfig.json
Due: prettier, eslint

Fix create-package (#14156)
  buildutils/src/create-package.ts
  buildutils/src/ensure-repo.ts
  buildutils/tsconfig.json
Due: prettier, eslint
