Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
        exclude: galata/.*-snapshots
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.23.1
    hooks:
      - id: check-github-workflows

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.282
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

Backport PR #16151: Removed broken gif links in README.md files
  packages/json-extension/README.md
  packages/statusbar-extension/README.md
  packages/vega5-extension/README.md
Due: none

Apply suggestions from code review
  package.json
Due: prettier

Keep the old `ITopArea`
  packages/application/src/shell.ts
Due: prettier, eslint

Backport PR #16151: Removed broken gif links in README.md files (#16152)
  packages/json-extension/README.md
  packages/statusbar-extension/README.md
  packages/vega5-extension/README.md
Due: none

Backport PR #16151: Removed broken gif links in README.md files (#16153)
  packages/json-extension/README.md
  packages/statusbar-extension/README.md
  packages/vega5-extension/README.md
Due: none

Fix yarn.lock
  package.json
  yarn.lock
Due: prettier

Add information about configuration Windows 11
  docs/source/extension/extension_tutorial.rst
Due: none

Test accepting completion with `Enter`
  galata/test/jupyterlab/completer.test.ts
Due: prettier, eslint

Fix the issue
  packages/codemirror/src/commands.ts
  packages/codemirror/src/extension.ts
Due: prettier, eslint

Update notebook-panel-1-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run.test.ts-snapshots/notebook-panel-1-jupyterlab-linux.png
Due: none

snapshots changed
  galata/test/documentation/custom_css.test.ts-snapshots/custom-css-main-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-terminal-position-single-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/running-layout-documentation-linux.png
Due: none

Fix for issue #15966. Cell outputs searched even when replace is active, replace button is disabled when highlighting an output, and replace all only replaces editable strings.
  packages/documentsearch/src/searchmodel.ts
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
  packages/notebook/src/searchprovider.ts
Due: prettier, eslint

Fix snapshot to include the bug, add an await to avoid flaky updates
  galata/test/documentation/general.test.ts
  galata/test/documentation/general.test.ts-snapshots/jupyterlab-documentation-linux.png
Due: prettier, eslint

Fix the flaky helps shortcuts test
  galata/test/documentation/general.test.ts
Due: prettier, eslint

Second pass
  galata/test/documentation/general.test.ts
Due: prettier, eslint

Fix the workspaces context menu flakiness
  galata/test/documentation/workspaces.test.ts
Due: prettier, eslint

Clarify the LSP docs
  docs/source/user/lsp.rst
Due: none

fix dirty dot
  packages/cells/src/model.ts
  packages/notebook/src/widget.ts
Due: prettier, eslint

Fix documentation snapshots test (#16159)
  galata/test/documentation/general.test.ts
  galata/test/documentation/general.test.ts-snapshots/jupyterlab-documentation-linux.png
  galata/test/documentation/workspaces.test.ts
Due: prettier, eslint

Fix accepting completion with `Enter` (#16156)
  galata/test/jupyterlab/completer.test.ts
  packages/codemirror/src/commands.ts
  packages/codemirror/src/extension.ts
Due: prettier, eslint

Backport PR #16159: Fix documentation snapshots test
  galata/test/documentation/general.test.ts
Due: prettier, eslint

Backport PR #16162: Backport PR #16159 on branch 4.1.x (Fix documentation snapshots test)
  galata/test/documentation/general.test.ts
Due: prettier, eslint

Backport PR #16159: Fix documentation snapshots test (#16162)
  galata/test/documentation/general.test.ts
Due: prettier, eslint

Backport PR #16162: Backport PR #16159 on branch 4.1.x (Fix documentation snapshots test) (#16163)
  galata/test/documentation/general.test.ts
Due: prettier, eslint

Update index.rst
  docs/source/index.rst
Due: none

Add changes to the note about Windows configuration
  docs/source/extension/extension_dev.rst
  docs/source/extension/extension_tutorial.rst
Due: none

Clarify the LSP docs (#16160)
  docs/source/user/lsp.rst
Due: none

Backport PR #16160: Clarify the LSP documentation
  docs/source/user/lsp.rst
Due: none

Backport PR #16160: Clarify the LSP documentation (#16171)
  docs/source/user/lsp.rst
Due: none

Backport PR #16160: Clarify the LSP documentation (#16170)
  docs/source/user/lsp.rst
Due: none

Update the note text
  docs/source/extension/extension_dev.rst
Due: none

Fix recents menu not getting updated after loading history (#16149)
  packages/docmanager-extension/src/recents.ts
  packages/docmanager/src/recents.ts
  packages/docmanager/test/recents.spec.ts
  packages/mainmenu-extension/src/recents.ts
Due: prettier, eslint

Update snapshots (corrected)
  galata/test/documentation/custom_css.test.ts-snapshots/custom-css-main-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/customized-context-menu-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/customized-terminal-position-single-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-context-menu-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-terminal-position-single-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-open-with-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/files-shareable-link-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/running-layout-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/shortcuts-help-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-chinese-documentation-linux.png
  galata/test/documentation/overview.test.ts-snapshots/interface-jupyterlab-documentation-linux.png
  galata/test/documentation/workspaces.test.ts-snapshots/workspaces-sidebar-documentation-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/dark-theme-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/launch-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/simple-mode-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/filebrowser-right-jupyterlab-linux.png
Due: none

Add information about configuration Windows 11 for building an extension (#16154)
  docs/source/extension/extension_dev.rst
  docs/source/extension/extension_tutorial.rst
Due: none

Update required snapshots
  examples/app/example.spec.ts-snapshots/example-linux.png
  examples/federated/example.spec.ts-snapshots/example-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-jp-running-sessions-jupyterlab-linux.png
Due: none
