Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Fixes fuzzySearch to be less ASCII-centric with splitting
  packages/ui-components/src/components/search.tsx
Due: prettier, eslint

Adds test cases
  packages/ui-components/test/search.spec.tsx
Due: prettier, eslint

Revert "Update Playwright Snapshots"
  galata/test/documentation/customization.test.ts-snapshots/customized-terminal-position-single-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-terminal-position-single-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-open-with-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-right-common-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/running-layout-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-settings-documentation-linux.png
Due: none

Revert "Prevent command shortcuts from preventing user input (#15790)"
  packages/application/src/lab.ts
Due: prettier, eslint

Revert "Prevent command shortcuts from preventing user input (#15790)" (#15938)
  packages/application/src/lab.ts
Due: prettier, eslint

Backport PR #15938: Revert "Prevent command shortcuts from preventing user input"
  packages/application/src/lab.ts
Due: prettier, eslint

Backport PR #15938: Revert "Prevent command shortcuts from preventing user input" (#15940)
  packages/application/src/lab.ts
Due: prettier, eslint

fix: restore SwitchKernel ToolbarButton color (#15924)
  galata/test/jupyterlab/toolbars.test.ts
  packages/ui-components/style/toolbar.css
Due: prettier, eslint, stylelint

Backport PR #15924: Fix Theme color is not applied to SwitchKernel ToolbarButton
  galata/test/jupyterlab/toolbars.test.ts
  packages/ui-components/style/toolbar.css
Due: prettier, eslint, stylelint

Backport PR #15924: Fix Theme color is not applied to SwitchKernel ToolbarButton (#15941)
  galata/test/jupyterlab/toolbars.test.ts
  packages/ui-components/style/toolbar.css
Due: prettier, eslint, stylelint

Fix creating files in custom drives, fix `ContentsManagerMock` (#15291)
  packages/filebrowser/src/browser.ts
  packages/filebrowser/test/browser.spec.ts
  packages/notebook-extension/src/index.ts
  packages/services/src/testutils.ts
Due: prettier, eslint

Backport PR #15291: Fix creating files in custom drives, fix `ContentsManagerMock`
  packages/filebrowser/src/browser.ts
  packages/filebrowser/test/browser.spec.ts
  packages/notebook-extension/src/index.ts
  packages/services/src/testutils.ts
Due: prettier, eslint

Backport PR #15805 on branch 4.0.x (Fix codemirror highlight for Python builtin) (#15928)
  examples/notebook/example.spec.ts-snapshots/example-linux.png
  galata/test/benchmark/notebook.spec.ts-snapshots/large-code-notebook-ipynb-benchmark-linux.png
  galata/test/jupyterlab/debugger.test.ts-snapshots/start-debug-session-script-sources-jupyterlab-linux.png
  galata/test/jupyterlab/debugger.test.ts-snapshots/start-debug-session-sources-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mobile.test.ts-snapshots/mobile-layout-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-new-outputs-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-on-new-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-within-outputs-jupyterlab-linux.png
  galata/test/jupyterlab/output-scrolling.test.ts-snapshots/prompt-overlay-hover-normal-jupyterlab-linux.png
  galata/test/jupyterlab/output-scrolling.test.ts-snapshots/prompt-overlay-hover-scroll-jupyterlab-linux.png
  packages/codemirror-extension/src/services.tsx
  packages/codemirror/src/index.ts
  packages/codemirror/src/language.ts
  packages/codemirror/src/pythonBuiltin.ts
  packages/codemirror/src/theme.ts
Due: prettier, eslint

Backport PR #15291: Fix creating files in custom drives, fix `ContentsManagerMock` (#15942)
  packages/filebrowser/src/browser.ts
  packages/filebrowser/test/browser.spec.ts
  packages/notebook-extension/src/index.ts
  packages/services/src/testutils.ts
Due: prettier, eslint

Refactor workspaces to provide a scaffold for Workspaces UI
  .github/labeler.yml
  dev_mode/package.json
  dev_mode/style.js
  packages/apputils-extension/src/workspacesplugin.ts
  packages/metapackage/package.json
  packages/metapackage/tsconfig.json
  packages/metapackage/tsconfig.test.json
  packages/workspaces-extension/.vscode/launch.json
  packages/workspaces-extension/package.json
  packages/workspaces-extension/src/commands.ts
  packages/workspaces-extension/src/index.ts
  packages/workspaces-extension/style/index.css
  packages/workspaces-extension/style/index.js
  packages/workspaces-extension/tsconfig.json
  packages/workspaces/.vscode/launch.json
  packages/workspaces/babel.config.js
  packages/workspaces/jest.config.js
  packages/workspaces/package.json
  packages/workspaces/src/index.ts
  packages/workspaces/src/tokens.ts
  packages/workspaces/style/index.css
  packages/workspaces/style/index.js
  packages/workspaces/tsconfig.json
  packages/workspaces/tsconfig.test.json
  tsconfigdoc.json
  yarn.lock
Due: prettier, eslint, stylelint

Invokes test assertions
  packages/ui-components/test/search.spec.tsx
Due: prettier, eslint

Update packages/ui-components/test/search.spec.tsx
  packages/ui-components/test/search.spec.tsx
Due: prettier, eslint

Remove workspace commands from top-level file menu
  packages/apputils-extension/schema/workspaces.json
Due: prettier

Implement workspaces sidebar and menu implementation
  buildutils/src/ensure-repo.ts
  packages/apputils-extension/package.json
  packages/apputils-extension/src/workspacesplugin.ts
  packages/apputils-extension/style/index.css
  packages/apputils-extension/style/index.js
  packages/apputils-extension/tsconfig.json
  packages/apputils/src/dialog.tsx
  packages/apputils/src/inputdialog.ts
  packages/apputils/style/inputdialog.css
  packages/filebrowser/src/opendialog.ts
  packages/filebrowser/style/base.css
  packages/metapackage/package.json
  packages/running/style/base.css
  packages/services/src/workspace/index.ts
  packages/workspaces-extension/package.json
  packages/workspaces-extension/schema/menu.json
  packages/workspaces-extension/schema/sidebar.json
  packages/workspaces-extension/src/commands.ts
  packages/workspaces-extension/src/index.ts
  packages/workspaces-extension/src/sidebar.ts
  packages/workspaces-extension/style/index.css
  packages/workspaces-extension/style/index.js
  packages/workspaces-extension/tsconfig.json
  packages/workspaces/package.json
  packages/workspaces/src/index.ts
  packages/workspaces/src/model.ts
  packages/workspaces/src/tokens.ts
  packages/workspaces/style/index.css
  packages/workspaces/style/index.js
  packages/workspaces/tsconfig.json
  packages/workspaces/tsconfig.test.json
  yarn.lock
Due: prettier, eslint, stylelint

Add workspaces docs to a dedicated file, add GUI stub
  docs/source/user/directories.rst
  docs/source/user/index.md
  docs/source/user/urls.rst
  docs/source/user/workspaces.rst
Due: none

Fixes filter for Chinese, other non-ASCII filenames (#15935)
  packages/ui-components/src/components/search.tsx
  packages/ui-components/test/search.spec.tsx
Due: prettier, eslint

Improve helpers
  galata/src/helpers/debuggerpanel.ts
  galata/src/helpers/filebrowser.ts
  galata/src/helpers/notebook.ts
  packages/ui-components/src/components/toolbar.tsx
Due: prettier, eslint

Hide test-* folders in documentation filebrowser
  galata/src/galata.ts
  galata/test/documentation/commands.test.ts
  galata/test/documentation/customization.test.ts
  galata/test/documentation/general.test.ts
  galata/test/documentation/internationalization.test.ts
  galata/test/documentation/utils.ts
Due: prettier, eslint

Fix debugger status
  galata/src/helpers/debuggerpanel.ts
  galata/test/jupyterlab/debugger.test.ts
Due: prettier, eslint

Revert some changes in filebrowser helper
  galata/src/helpers/filebrowser.ts
Due: prettier, eslint

Try to make `setCell` more robust
  galata/src/helpers/notebook.ts
  galata/test/jupyterlab/notebook-mobile.test.ts
Due: prettier, eslint

Fix filebrowser refresh helper
  galata/src/helpers/filebrowser.ts
Due: prettier, eslint

Fix debugger tests
  galata/src/helpers/activity.ts
  galata/src/helpers/debuggerpanel.ts
  galata/src/helpers/notebook.ts
  galata/src/helpers/sidebar.ts
Due: prettier, eslint

Fix new helpers
  galata/src/helpers/notebook.ts
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  packages/ui-components/src/components/toolbar.tsx
Due: prettier, eslint

Minor README improvements
  galata/README.md
Due: none

Don't use try-catch to play nice with Playwright tools
  galata/src/helpers/activity.ts
Due: prettier, eslint

Fix setCellType
  galata/src/helpers/notebook.ts
Due: prettier, eslint

Fix notebook serach test
  galata/test/jupyterlab/notebook-search.test.ts
Due: prettier, eslint

Fix set cell mode
  galata/src/helpers/notebook.ts
Due: prettier, eslint

Restoration after rebase
  galata/test/documentation/overview.test.ts
Due: prettier, eslint

Avoid using functions that return elementHandle from the menu helper
  galata/src/helpers/menu.ts
  galata/test/jupyterlab/contextmenu.test.ts
  galata/test/jupyterlab/debugger.test.ts
  galata/test/jupyterlab/menus.test.ts
  galata/test/jupyterlab/notebook-create.test.ts
  galata/test/jupyterlab/sidebars.test.ts
  galata/test/jupyterlab/toc.test.ts
  galata/test/jupyterlab/workspace.test.ts
Due: prettier, eslint

Avoid using getNotebookInPanel function that return elementHandle from the notebook helper, and start replacing getCell with getCellLocator
  galata/src/helpers/notebook.ts
  galata/test/jupyterlab/collapsible-headings.test.ts
  galata/test/jupyterlab/history.test.ts
  galata/test/jupyterlab/notebook-create.test.ts
  galata/test/jupyterlab/notebook-edit.test.ts
  galata/test/jupyterlab/notebook-mobile.test.ts
  galata/test/jupyterlab/notebook-replace.test.ts
  galata/test/jupyterlab/notebook-run-mermaid.test.ts
  galata/test/jupyterlab/notebook-run-vega.test.ts
  galata/test/jupyterlab/notebook-run.test.ts
  galata/test/jupyterlab/notebook-scroll-no-windowing.test.ts
  galata/test/jupyterlab/notebook-scroll.test.ts
  galata/test/jupyterlab/notebook-search.test.ts
  galata/test/jupyterlab/notebook-toolbar.test.ts
  galata/test/jupyterlab/toc-scrolling.test.ts
  galata/test/jupyterlab/utils.ts
  galata/test/jupyterlab/windowed-notebook.test.ts
Due: prettier, eslint

Use locator to set cell type, fix the cell filling and make debugger activation more robust
  galata/src/helpers/debuggerpanel.ts
  galata/src/helpers/notebook.ts
Due: prettier, eslint

Remove usage of elementhandle in galata source ('.', '.37183()', .waitForSelector()')
  galata/src/fixtures.ts
  galata/src/helpers/debuggerpanel.ts
  galata/src/helpers/filebrowser.ts
  galata/src/helpers/menu.ts
  galata/src/helpers/notebook.ts
  galata/src/helpers/sidebar.ts
  galata/src/helpers/statusbar.ts
  galata/src/helpers/theme.ts
  galata/src/jupyterlabpage.ts
  galata/src/utils.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
