Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Update packages/lsp/test/document.spec.ts
  packages/lsp/test/document.spec.ts
Due: prettier, eslint

Fix connection loop issue with standalone foreign document in LSP (#15262)
  packages/lsp/src/virtual/document.ts
  packages/lsp/test/document.spec.ts
Due: prettier, eslint

declare node-gyp@^9.0.0 in devDependencies
  package.json
  yarn.lock
Due: prettier

yarn-deduplicate
  yarn.lock
Due: none

Backport PR #15376 on branch 4.0.x (Fix highlighting search in an out-of-viewport cell) (#15390)
  galata/test/galata/notebook.spec.ts
  galata/test/galata/notebooks/windowed_notebook.ipynb
  galata/test/jupyterlab/windowed-notebook.test.ts
  packages/codemirror/src/searchprovider.ts
Due: prettier, eslint

Avoid focus looping in active cell
  packages/notebook/src/widget.ts
Due: prettier, eslint

Exclude ipynb files in prettier pre-commit (#15378)
  .pre-commit-config.yaml
Due: none

Fix overreactive scrolling to next cell after `Shift + Enter` (#15288)
  galata/test/jupyterlab/notebook-scroll.test.ts
  galata/test/jupyterlab/notebooks/long_outputs.ipynb
  galata/test/jupyterlab/windowed-notebook.test.ts
  packages/notebook/src/actions.tsx
  packages/notebook/src/windowing.ts
  packages/ui-components/src/components/windowedlist.ts
Due: prettier, eslint

Update notebook window on resize if height changes (#15357)
  galata/test/jupyterlab/notebooks/20_empty_cells.ipynb
  galata/test/jupyterlab/windowed-notebook.test.ts
  packages/ui-components/src/components/windowedlist.ts
Due: prettier, eslint

added default property (#15346)
  packages/codemirror-extension/schema/plugin.json
Due: prettier

Don't show default value for objects in Settings Editor (#15380)
  packages/ui-components/src/components/form.tsx
Due: prettier, eslint

Fix highlighting search in an out-of-viewport cell (#15376)
  galata/test/galata/notebook.spec.ts
  galata/test/galata/notebooks/windowed_notebook.ipynb
  galata/test/jupyterlab/windowed-notebook.test.ts
  packages/codemirror/src/searchprovider.ts
Due: prettier, eslint

Remove unnecessary requirement from servicesPlugin (#15362)
  packages/codemirror-extension/src/services.tsx
Due: prettier, eslint

Add error indicator in Table of Contents (#14784)
  galata/test/jupyterlab/notebooks/toc_running.ipynb
  galata/test/jupyterlab/toc-running.test.ts
  galata/test/jupyterlab/toc-running.test.ts-snapshots/toc-running-indicator-error-jupyterlab-linux.png
  galata/test/jupyterlab/toc-running.test.ts-snapshots/toc-running-indicator-top-level-jupyterlab-linux.png
  galata/test/jupyterlab/toc-running.test.ts-snapshots/toc-running-indicators-jupyterlab-linux.png
  packages/notebook/src/actions.tsx
  packages/notebook/src/toc.ts
  packages/notebook/style/toc.css
Due: prettier, eslint, stylelint

Fix scrolling when dragging files in the file browser (#15318)
  packages/filebrowser/src/listing.ts
  packages/filebrowser/test/listing.spec.ts
Due: prettier, eslint

Fix scrolling past long outputs in presence of un-rendered headings (#15356)
  galata/src/helpers/notebook.ts
  galata/test/jupyterlab/notebook-scroll.test.ts
  galata/test/jupyterlab/notebooks/long_output_and_headings.ipynb
  packages/cells/src/widget.ts
  packages/codeeditor/src/editor.ts
  packages/codemirror/src/editor.ts
Due: prettier, eslint

Open files from errors (#13390)
  packages/debugger-extension/src/index.ts
  packages/debugger/src/debugger.ts
  packages/debugger/src/index.ts
  packages/debugger/src/tokens.ts
  packages/fileeditor/src/widget.ts
  packages/fileeditor/test/widget.spec.ts
  packages/rendermime-extension/src/index.ts
  packages/rendermime-interfaces/src/index.ts
  packages/rendermime/src/factories.ts
  packages/rendermime/src/registry.ts
  packages/rendermime/src/renderers.ts
  packages/rendermime/src/widgets.ts
  packages/rendermime/style/base.css
  packages/rendermime/test/factories.spec.ts
Due: prettier, eslint, stylelint

Update @jupyter/ydoc in dev_mode (#15383)
  dev_mode/package.json
Due: prettier

Define cells to run as independent of selection (#14996)
  packages/notebook-extension/src/index.ts
  packages/notebook/src/actions.tsx
  packages/notebook/test/actions.spec.ts
Due: prettier, eslint

Fix update button in extension manager (#15331)
  galata/test/documentation/data/extensions.json
  galata/test/documentation/extension_manager.test.ts
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-allowed-list-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-blocked-list-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-default-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-enabled-documentation-linux.png
  packages/extensionmanager/src/model.ts
  packages/extensionmanager/src/widget.tsx
Due: prettier, eslint

Package integrity updates
  packages/codeeditor/tsconfig.json
  packages/codeeditor/tsconfig.test.json
  packages/lsp-extension/tsconfig.json
Due: prettier

Package integrity updates
  packages/codeeditor/package.json
  packages/codeeditor/style/index.css
  packages/codeeditor/style/index.js
  packages/codeeditor/tsconfig.json
  packages/codeeditor/tsconfig.test.json
  packages/lsp-extension/package.json
  packages/lsp-extension/style/index.css
  packages/lsp-extension/style/index.js
  packages/lsp-extension/tsconfig.json
  yarn.lock
Due: prettier, eslint, stylelint

test refactor
  galata/test/jupyterlab/menus.test.ts
Due: prettier, eslint

Package integrity updates
  packages/codeeditor/style/index.css
  packages/codeeditor/style/index.js
  packages/codeeditor/tsconfig.json
  packages/codeeditor/tsconfig.test.json
  packages/lsp-extension/style/index.css
  packages/lsp-extension/style/index.js
  packages/lsp-extension/tsconfig.json
Due: prettier, eslint, stylelint

minor change
  packages/application/style/menus.css
Due: prettier, stylelint

Measure cells out of viewport in windowing mode
  packages/notebook/package.json
  packages/notebook/src/widget.ts
  packages/notebook/src/windowing.ts
  packages/ui-components/src/components/windowedlist.ts
  yarn.lock
Due: prettier, eslint

Fix completer cycling documentation (#15393)
  docs/source/user/completer.rst
Due: none

Do not update filebrowser breadcrumbs when not needed (#15387)
  packages/filebrowser/src/crumbs.ts
  packages/filebrowser/test/crumbs.spec.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
