Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [check-jsonschema, prettier, eslint, integrity]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: forbid-new-submodules
      - id: check-case-conflict
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: debug-statements

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.16
    hooks:
      - id: mdformat

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.14.2
    hooks:
      - id: check-jsonschema
        name: 'Check GitHub Workflows'
        files: ^\.github/workflows/
        types: [yaml]
        args: ['--schemafile', 'https://json.schemastore.org/github-workflow']

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

update current state of projects
  docs/source/getting_started/overview.rst
Due: none

Rebases to include changes from #13645
  packages/terminal/package.json
  packages/terminal/src/widget.ts
  yarn.lock
Due: prettier, eslint

Improves translator API (#13834)
  docs/source/extension/extension_migration.rst
  packages/apputils/test/toolbar.spec.ts
  packages/cell-toolbar/test/celltoolbartracker.spec.ts
  packages/rendermime-interfaces/src/index.ts
  packages/translation/src/base.ts
  packages/translation/src/manager.ts
Due: prettier, eslint

Updates to the kernel panel of the "running" sidebar (#13792)
  galata/test/documentation/general.test.ts
  galata/test/documentation/general.test.ts-snapshots/interface-tabs-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/running-layout-documentation-linux.png
  packages/application/style/scrollbar.css
  packages/running-extension/package.json
  packages/running-extension/src/index.ts
  packages/running-extension/src/kernels.ts
  packages/running-extension/tsconfig.json
  packages/running/src/index.tsx
  packages/services/src/kernel/manager.ts
  packages/services/src/manager.ts
  packages/ui-components/src/components/menu.ts
  packages/ui-components/src/components/toolbar.tsx
  packages/ui-components/src/components/vdom.ts
Due: prettier, eslint

Fix wrong color variable name
  packages/documentsearch/style/base.css
Due: prettier

Add support for replace preserving case
  packages/cells/src/searchprovider.ts
  packages/codemirror/src/searchprovider.ts
  packages/documentsearch/src/searchmodel.ts
  packages/documentsearch/src/searchprovider.ts
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
  packages/documentsearch/style/base.css
  packages/documentsearch/test/documentsearchprovider.spec.ts
  packages/notebook/src/searchprovider.ts
Due: prettier, eslint

Fix search test after removing `jp-DocumentSearch-replace-entry` class
  galata/test/jupyterlab/search.test.ts
Due: prettier, eslint

Set `line-height` to center replace buttons, remove unused `border-radius`
  packages/documentsearch/style/base.css
Due: prettier

Apply suggestions from code review
  packages/documentsearch/src/searchview.tsx
  packages/notebook/src/searchprovider.ts
Due: prettier, eslint

Use `pluginId.propertyName` as key for form renderers Rename to use _renderer_ instead of _component_ as it is a more common wording in Lumino/Lab code base.
  packages/completer-extension/src/index.ts
  packages/lsp-extension/src/index.ts
  packages/metadataform-extension/src/index.ts
  packages/metadataform/src/form.tsx
  packages/metadataform/src/metadataform.ts
  packages/metadataform/src/token.ts
  packages/settingeditor-extension/src/index.ts
  packages/settingeditor/src/SettingsFormEditor.tsx
  packages/settingeditor/src/settingseditor.tsx
  packages/settingeditor/src/settingspanel.tsx
  packages/settingregistry/src/settingregistry.ts
  packages/settingregistry/test/settingregistry.spec.ts
  packages/shortcuts-extension/src/index.ts
  packages/ui-components-extension/src/index.ts
  packages/ui-components/src/FormComponentRegistry.tsx
  packages/ui-components/src/FormRendererRegistry.tsx
  packages/ui-components/src/components/form.tsx
  packages/ui-components/src/components/index.ts
  packages/ui-components/src/index.ts
  packages/ui-components/src/tokens.ts
Due: prettier, eslint

Update migration guide
  docs/source/extension/extension_migration.rst
Due: none

Fix computing default for metadataform
  packages/metadataform/src/form.tsx
  packages/metadataform/src/metadataform.ts
  packages/metadataform/src/token.ts
  packages/settingregistry/src/settingregistry.ts
Due: prettier, eslint

Fix rst syntax
  docs/source/extension/extension_migration.rst
Due: none

Drop `MetadataForm.ISettings`
  packages/metadataform/src/metadataform.ts
  packages/metadataform/src/token.ts
Due: prettier, eslint

Remove `settings` from `FormContext`
  packages/metadataform/src/form.tsx
Due: prettier, eslint

Rename `customComponent` in `customRenderer`
  packages/metadataform-extension/schema/metadataforms.json
  packages/metadataform-extension/src/index.ts
  packages/settingregistry/src/plugin-schema.json
Due: prettier, eslint

Update @jupyter/ydoc
  dev_mode/package.json
  examples/cell/package.json
  package.json
  packages/attachments/package.json
  packages/cells/package.json
  packages/codeeditor/package.json
  packages/codemirror/package.json
  packages/completer/package.json
  packages/console/package.json
  packages/debugger/package.json
  packages/docprovider/package.json
  packages/docregistry/package.json
  packages/notebook/package.json
  packages/services/package.json
  yarn.lock
Due: prettier

Update jupyter_ydoc
  pyproject.toml
Due: none

Clean up the top package dependencies
  package.json
Due: prettier

Reverts Xterm 5 changes from local master
  packages/terminal/package.json
  packages/terminal/src/widget.ts
  yarn.lock
Due: prettier, eslint

Removes nested A tag
  packages/extensionmanager/src/widget.tsx
Due: prettier, eslint

Stops showing toolbar on collapsed input cells
  packages/cell-toolbar/src/celltoolbartracker.ts
Due: prettier, eslint

Fix code style
  packages/extensionmanager/src/widget.tsx
Due: prettier, eslint

Fix integrity
  yarn.lock
Due: none

Fix branch setup for UI test
  .github/workflows/galata.yml
Due: none

Upgrade xterm.js to v5.1
  docs/source/extension/extension_migration.rst
  galata/test/jupyterlab/terminal.test.ts
  packages/terminal-extension/src/index.ts
  packages/terminal/package.json
  packages/terminal/src/tokens.ts
  packages/terminal/src/widget.ts
  yarn.lock
Due: prettier, eslint

Add support for replace preserving case (#13778)
  galata/test/jupyterlab/notebook-replace.test.ts-snapshots/replace-all-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-replace.test.ts-snapshots/replace-in-cell-jupyterlab-linux.png
  galata/test/jupyterlab/search.test.ts
  packages/cells/src/searchprovider.ts
  packages/codemirror/src/searchprovider.ts
  packages/documentsearch/src/searchmodel.ts
  packages/documentsearch/src/searchprovider.ts
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
  packages/documentsearch/style/base.css
  packages/documentsearch/test/documentsearchprovider.spec.ts
  packages/notebook/src/searchprovider.ts
Due: prettier, eslint

Update snapshots
  galata/test/documentation/general.test.ts-snapshots/terminal-layout-documentation-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/launcher-term-jupyterlab-linux.png
Due: none

Improve form renderer registry (#13823)
  docs/source/extension/extension_migration.rst
  packages/completer-extension/src/index.ts
  packages/lsp-extension/src/index.ts
  packages/metadataform-extension/schema/metadataforms.json
  packages/metadataform-extension/src/index.ts
  packages/metadataform/src/form.tsx
  packages/metadataform/src/metadataform.ts
  packages/metadataform/src/token.ts
  packages/settingeditor-extension/src/index.ts
  packages/settingeditor/src/SettingsFormEditor.tsx
  packages/settingeditor/src/settingseditor.tsx
  packages/settingeditor/src/settingspanel.tsx
  packages/settingregistry/src/plugin-schema.json
  packages/settingregistry/src/settingregistry.ts
  packages/settingregistry/test/settingregistry.spec.ts
  packages/shortcuts-extension/src/index.ts
  packages/ui-components-extension/src/index.ts
  packages/ui-components/src/FormComponentRegistry.tsx
  packages/ui-components/src/FormRendererRegistry.tsx
  packages/ui-components/src/components/form.tsx
  packages/ui-components/src/components/index.ts
  packages/ui-components/src/index.ts
  packages/ui-components/src/tokens.ts
Due: prettier, eslint

Fix undefined css variables --jp-inverse-layout2, --jp-inverse-layout3 and --jp-content-header-font-weight.
  packages/ui-components/style/icons.css
  packages/ui-components/style/rjsfTemplates.css
Due: prettier

Fix waiting for terminal
  galata/test/documentation/general.test.ts
  galata/test/documentation/general.test.ts-snapshots/terminal-layout-documentation-linux.png
Due: prettier, eslint

Update snapshots
  galata/test/documentation/general.test.ts-snapshots/terminal-layout-documentation-linux.png
Due: none

Updates jupyter_server_ydoc
  pyproject.toml
Due: none

Removes nested A tag from extensionmanager code (#13845)
  packages/extensionmanager/src/widget.tsx
Due: prettier, eslint

Fix undefined css variables --jp-inverse-layout2, --jp-inverse-layout3 and --jp-content-header-font-weight. (#13852)
  packages/ui-components/style/icons.css
  packages/ui-components/style/rjsfTemplates.css
Due: prettier

Update packages/terminal/src/widget.ts
  packages/terminal/src/widget.ts
Due: prettier, eslint

not sure what to do with this stuff
  packages/apputils/src/mainareawidget.ts
  packages/cells/src/widget.ts
  packages/notebook-extension/schema/tracker.json
  packages/notebook/src/widget.ts
  packages/outputarea/src/widget.ts
Due: prettier, eslint
