Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

Copy edit for privacy policy docs (#13594)
  docs/source/privacy_policies.rst
Due: none

Backport PR #13510: Sanitize notification message
  docs/source/extension/ui_helpers.rst
  docs/source/privacy_policies.rst
  galata/test/jupyterlab/announcements.test.ts
  galata/test/jupyterlab/notification.test.ts
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-accent-action-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-default-action-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-link-action-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-markdown-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-warn-action-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/text-content-notification-jupyterlab-linux.txt
  jupyterlab/handlers/announcements.py
  jupyterlab/tests/test_announcements.py
  packages/apputils-extension/package.json
  packages/apputils-extension/src/announcements.ts
  packages/apputils-extension/src/notificationplugin.tsx
  packages/apputils-extension/style/index.css
  packages/apputils-extension/style/index.js
  packages/apputils-extension/style/notification.css
  packages/apputils-extension/tsconfig.json
  packages/apputils/src/notification.ts
  packages/extensionmanager/src/widget.tsx
  yarn.lock
Due: prettier, eslint

Bump @lumino/application (#13590)
  builder/package.json
  dev_mode/package.json
  packages/application/package.json
  yarn.lock
Due: prettier

Update docs/source/extension/documents.rst
  docs/source/extension/documents.rst
Due: none

Backport PR #13510 on branch 3.6.x (Sanitize notification message) (#13599)
  docs/source/extension/ui_helpers.rst
  docs/source/privacy_policies.rst
  galata/test/jupyterlab/announcements.test.ts
  galata/test/jupyterlab/notification.test.ts
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-accent-action-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-center-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-default-action-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-link-action-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-markdown-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-warn-action-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/text-content-notification-jupyterlab-linux.txt
  jupyterlab/handlers/announcements.py
  jupyterlab/tests/test_announcements.py
  packages/apputils-extension/package.json
  packages/apputils-extension/src/announcements.ts
  packages/apputils-extension/src/notificationplugin.tsx
  packages/apputils-extension/style/index.css
  packages/apputils-extension/style/index.js
  packages/apputils-extension/style/notification.css
  packages/apputils-extension/tsconfig.json
  packages/apputils/src/notification.ts
  packages/extensionmanager/src/widget.tsx
  yarn.lock
Due: prettier, eslint

Backport PR #13594: Copy edit for privacy policy docs
  docs/source/privacy_policies.rst
Due: none

Show picture and add APODResponse and async/await.
  docs/source/extension/extension_tutorial.rst
Due: none

Added "improve widget behavior" css/error handling features.
  docs/source/extension/extension_tutorial.rst
Due: none

Class refactor and related sample code fixes.
  docs/source/extension/extension_tutorial.rst
Due: none

Backport PR #13594: Copy edit for privacy policy docs (#13602)
  docs/source/privacy_policies.rst
Due: none

Documentation RTC and user service (#13578) (#13591)
  docs/source/extension/documents.rst
  docs/source/extension/extension_migration.rst
  docs/source/extension/identity.rst
  docs/source/index.rst
  docs/source/user/rtc.rst
Due: none

use jupyter_config_dir instead of config_path[0] for workspaces, settings (#13589)
  jupyterlab/commands.py
Due: none

Backport PR #13589: use jupyter_config_dir instead of config_path[0] for workspaces, settings
  jupyterlab/commands.py
Due: none

Backport PR #13514: Backport PR #13508 on branch 3.6.x (Fix Python test dependencies)
  conftest.py
  setup.cfg
Due: none

Backport PR #13514: Backport PR #13508 on branch 3.6.x (Fix Python test dependencies) (#13608)
  conftest.py
  setup.cfg
Due: none

Backport PR #13589: use jupyter_config_dir instead of config_path[0] for workspaces, settings (#13604)
  jupyterlab/commands.py
Due: none

Automated Changelog Entry for 3.6.0b0 on 3.6.x
  CHANGELOG.md
Due: none

Set the font size and line height of the jp-LaucherCard-label to var(--jp-ui-font-size1).
  packages/launcher/style/base.css
Due: prettier

Add scaleFactor when creating the PNG representation for a Vega-based chart
  packages/vega5-extension/src/index.ts
Due: prettier, eslint

Automated Changelog Entry for 3.6.0b0 on 3.6.x (#13609)
  CHANGELOG.md
Due: none

Improved class code and restorer logic.
  docs/source/extension/extension_tutorial.rst
Due: none

Minor formatting updates.
  docs/source/extension/extension_tutorial.rst
Due: none

Minor formatting edits.
  docs/source/extension/extension_tutorial.rst
Due: none

Revised highlighting
  docs/source/extension/extension_tutorial.rst
Due: none

Fixed isDisposed check in new image on demand section.
  docs/source/extension/extension_tutorial.rst
Due: none

Update to Playwright 1.19
  galata/package.json
  yarn.lock
Due: prettier

[ci skip] Publish 3.6.0b0
  .bumpversion.cfg
  dev_mode/package.json
  jupyterlab/_version.py
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
Due: prettier

Do not load CSS of disabled federated extensions (#11962)
  dev_mode/index.js
  docs/source/extension/extension_migration.rst
  jupyterlab/labapp.py
Due: prettier, eslint

Remove old (deprecated or not) completer API
  packages/completer/src/handler.ts
  packages/completer/src/model.ts
  packages/completer/src/widget.ts
  packages/completer/test/model.spec.ts
Due: prettier, eslint

Update more tests
  packages/completer/test/model.spec.ts
  packages/completer/test/widget.spec.ts
Due: prettier, eslint

Remove test which does not correspond to current behaviour
  packages/completer/test/widget.spec.ts
Due: prettier, eslint

Cleanup no-longer needed checks
  packages/completer/src/widget.ts
Due: prettier, eslint

does not prevent default behavior if shift-clicking an option or within text input
  packages/notebook/src/widget.ts
Due: prettier, eslint

Fix Python test
  setup.cfg
Due: none

Update to Playwright 1.19 (#13612)
  galata/package.json
  yarn.lock
Due: prettier

Do not load CSS of disabled federated extensions (#11962) (#13614)
  dev_mode/index.js
  docs/source/extension/extension_migration.rst
  jupyterlab/labapp.py
Due: prettier, eslint

Remove old completer API (#13615)
  packages/completer/src/handler.ts
  packages/completer/src/model.ts
  packages/completer/src/widget.ts
  packages/completer/test/model.spec.ts
  packages/completer/test/widget.spec.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
