Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Do not check links to https://blog.jupyter.org/
  .github/workflows/linuxtests.yml
Due: none

move to packages/running-extension/src/kernels.tsx
  packages/running-extension/src/kernels.tsx
  packages/running/src/index.tsx
Due: prettier, eslint

Fix execution in console in terminal interaction mode (#16348)
  galata/test/jupyterlab/console.test.ts
  packages/codemirror/src/commands.ts
  packages/console/package.json
  packages/console/src/widget.ts
  yarn.lock
Due: prettier, eslint

Backport PR #16348: Fix execution in console in terminal interaction mode
  galata/test/jupyterlab/console.test.ts
  packages/codemirror/src/commands.ts
  packages/console/package.json
  packages/console/src/widget.ts
  yarn.lock
Due: prettier, eslint

Create scorecard.yml
  .github/workflows/scorecard.yml
Due: none

Add OpenSSF Scorecard to README.md
  README.md
Due: none

Backport PR #16348: Fix execution in console in terminal interaction mode (#16356)
  galata/test/jupyterlab/console.test.ts
  packages/codemirror/src/commands.ts
  packages/console/package.json
  packages/console/src/widget.ts
  yarn.lock
Due: prettier, eslint

Fix workspace menu incorrectly showing up in non-workspace sections of the sidebar (#16346)
  packages/workspaces-extension/schema/sidebar.json
Due: prettier

Backport PR #16346: Fix workspace context menu incorrectly showing up in other sidebar sections
  packages/workspaces-extension/schema/sidebar.json
Due: prettier

Backport PR #16346: Fix workspace context menu incorrectly showing up in other sidebar sections (#16357)
  packages/workspaces-extension/schema/sidebar.json
Due: prettier

Add the command to toggle the virtual scrollbar to the palette (#16322)
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Fix `Shift + Tab` contextual help inspector tooltip regression (#16343)
  galata/test/jupyterlab/inspector-tooltip.test.ts
  packages/codemirror/src/commands.ts
Due: prettier, eslint

Backport PR #16343: Fix `Shift + Tab` contextual help inspector tooltip regression
  galata/test/jupyterlab/inspector-tooltip.test.ts
  packages/codemirror/src/commands.ts
Due: prettier, eslint

Backport PR #16343: Fix `Shift + Tab` contextual help inspector tooltip regression (#16360)
  galata/test/jupyterlab/inspector-tooltip.test.ts
  packages/codemirror/src/commands.ts
Due: prettier, eslint

Check whether debugger is running before trying to read a message header
  packages/debugger/src/handler.ts
Due: prettier, eslint

Do not check links to https://blog.jupyter.org/ (#16351)
  .github/workflows/linuxtests.yml
Due: none

Backport PR #16351: Do not check links to Jupyter blog on Medium
  .github/workflows/linuxtests.yml
Due: none

Change link to JAWS to point to Wikipedia
  docs/source/getting_started/accessibility.rst
Due: none

Backport PR #16351: Do not check links to Jupyter blog on Medium (#16362)
  .github/workflows/linuxtests.yml
Due: none

Backport PR #16351: Do not check links to Jupyter blog on Medium (#16363)
  .github/workflows/linuxtests.yml
Due: none

Try to fix failing tests, update yarn.lock.
  yarn.lock
Due: none

Check whether debugger is running before trying to read a message header (#16368)
  packages/debugger/src/handler.ts
Due: prettier, eslint

Backport PR #16368: Fix runtime console error in debugger extension
  packages/debugger/src/handler.ts
Due: prettier, eslint

Catching group repo up to PR repo
  packages/application-extension/src/index.tsx
  packages/application/src/shell.ts
Due: prettier, eslint

Ensuring prettier actually ran
  packages/application-extension/src/index.tsx
  packages/application/src/shell.ts
Due: prettier, eslint

Set custom kernel variables into metadata
  packages/notebook/src/panel.ts
Due: prettier, eslint

Backport PR #16368: Fix runtime console error in debugger extension (#16372)
  packages/debugger/src/handler.ts
Due: prettier, eslint

Updated the wording so it wouldn't be as repetitive.
  packages/apputils/src/sessioncontext.tsx
Due: prettier, eslint

Revert snapshot updates
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/split-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run.test.ts-snapshots/notebook-panel-1-jupyterlab-linux.png
Due: none

swap to CommandToolbarButton
  packages/apputils/package.json
  packages/running-extension/src/kernels.tsx
  packages/running/src/index.tsx
  yarn.lock
Due: prettier, eslint

fixed location of lazy loading attribute
  packages/help-extension/src/index.tsx
  packages/pdf-extension/src/index.ts
Due: prettier, eslint

Fix width and margins of the notebook footer.
  packages/notebook/style/notebookfooter.css
Due: prettier, stylelint

Change link to JAWS to point to Wikipedia (#16365)
  docs/source/getting_started/accessibility.rst
Due: none

Backport PR #16365: Fix failing link check (point to JAWS on Wikipedia)
  docs/source/getting_started/accessibility.rst
Due: none

Fix running a kernel by using metadata with custom kernel specs
  packages/docregistry/src/context.ts
Due: prettier, eslint

Refresh on click
  packages/running-extension/src/kernels.tsx
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
