Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

update yarn.lock
  yarn.lock
Due: none

Add slot prop in lab icon
  packages/ui-components/src/components/search.tsx
  packages/ui-components/src/icon/labicon.tsx
Due: prettier, eslint

add to missing
  buildutils/src/ensure-repo.ts
Due: prettier, eslint

code comment removed
  packages/ui-components/src/icon/labicon.tsx
Due: prettier, eslint

unnecessary changes removed
  packages/ui-components/src/components/search.tsx
  packages/ui-components/src/icon/labicon.tsx
Due: prettier, eslint

unnecessary changes removed
  packages/ui-components/src/icon/labicon.tsx
Due: prettier, eslint

Backport PR #15810: When attaching only typeset after rendering is completed (#15879)
  packages/rendermime/src/widgets.ts
Due: prettier, eslint

Backport PR #15805: Fix codemirror highlight for Python builtin (#15882)
  examples/notebook/example.spec.ts-snapshots/example-linux.png
  galata/test/benchmark/notebook.spec.ts-snapshots/large-code-notebook-ipynb-benchmark-linux.png
  galata/test/jupyterlab/debugger.test.ts-snapshots/start-debug-session-script-sources-jupyterlab-linux.png
  galata/test/jupyterlab/debugger.test.ts-snapshots/start-debug-session-sources-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mobile.test.ts-snapshots/mobile-layout-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-new-outputs-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-on-new-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-within-outputs-jupyterlab-linux.png
  galata/test/jupyterlab/output-scrolling.test.ts-snapshots/prompt-overlay-hover-normal-jupyterlab-linux.png
  galata/test/jupyterlab/output-scrolling.test.ts-snapshots/prompt-overlay-hover-scroll-jupyterlab-linux.png
  packages/codemirror-extension/src/services.tsx
  packages/codemirror/src/index.ts
  packages/codemirror/src/language.ts
  packages/codemirror/src/pythonBuiltin.ts
  packages/codemirror/src/theme.ts
Due: prettier, eslint

Backport PR #15873: Fix missing signals in file editor adapter (#15886)
  packages/fileeditor/src/fileeditorlspadapter.ts
Due: prettier, eslint

Backport PR #15878: Bump es5-ext from 0.10.62 to 0.10.63 (#15883)
  yarn.lock
Due: none

Adds description for disabled search filter (#15867)
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
  packages/notebook/src/searchprovider.ts
Due: prettier, eslint

Fix browser-test.js
  jupyterlab/browser-test.js
Due: prettier, eslint

Minor revert
  jupyterlab/browser-test.js
Due: prettier, eslint

Update packages/ui-components/src/components/search.tsx
  packages/ui-components/src/components/search.tsx
Due: prettier, eslint

comments resolved
  packages/extensionmanager/style/base.css
  packages/ui-components/src/icon/labicon.tsx
  packages/ui-components/style/base.css
Due: prettier, eslint, stylelint

Add `metadataform` to the labeler
  .github/labeler.yml
Due: none

Apply suggestions from code review
  docs/source/extension/extension_multiple_ui.rst
Due: none

Remove one more condescending fragment
  docs/source/extension/extension_multiple_ui.rst
Due: none

Show outline on the full item in file browser, only when needed (#15860)
  galata/test/documentation/internationalization.test.ts-snapshots/language-chinese-documentation-linux.png
  packages/filebrowser/style/base.css
Due: prettier, stylelint

Fix spurious dedent when opening inspector tooltip
  packages/codemirror/src/commands.ts
  packages/codemirror/src/extension.ts
Due: prettier, eslint

Add an explicit default for inline completer providers
  packages/completer-extension/schema/inline-completer.json
Due: prettier

Copy edits in dialog (#15875)
  packages/notebook/src/searchprovider.ts
Due: prettier, eslint

Enable default file browsers with different properties (aria label, title...) (#15697)
  packages/filebrowser-extension/src/index.ts
Due: prettier, eslint

Add `metadataform` to the labeler (#15896)
  .github/labeler.yml
Due: none

Align ruff version
  .pre-commit-config.yaml
Due: none

Prevent command shortcuts from preventing user input (#15790)
  packages/application/src/lab.ts
Due: prettier, eslint

Backport PR #15790: Prevent command shortcuts from preventing user input
  packages/application/src/lab.ts
Due: prettier, eslint

Backport PR #15873: Fix missing signals in file editor adapter (#15887)
  packages/fileeditor/src/fileeditorlspadapter.ts
Due: prettier, eslint

fixed unnecessary snapshots
  galata/test/documentation/customization.test.ts-snapshots/customized-context-menu-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/customized-menu-bar-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/customized-terminal-position-single-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-context-menu-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-menu-bar-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-terminal-position-single-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-editor-settings-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/files-shareable-link-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-left-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/jupyterlab-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-settings-documentation-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/dark-theme-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/launch-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/simple-mode-jupyterlab-linux.png
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-settings-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/opened-menu-kernel-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run.test.ts-snapshots/notebook-panel-1-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-in-two-selected-cells-jupyterlab-linux.png
  galata/test/jupyterlab/readonly.test.ts-snapshots/readonly-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/filebrowser-right-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-filebrowser-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-jp-running-sessions-jupyterlab-linux.png
Due: none

Always print out incompatibility errors (even for "outdated" extensions)
  jupyterlab/commands.py
Due: none

Remove `child_process` dependency (#15888)
  buildutils/package.json
  buildutils/src/ensure-repo.ts
  packages/testing/package.json
  yarn.lock
Due: prettier, eslint

Bump `sanitize-html` to latest v2.12.1 (#15877)
  packages/apputils/package.json
  yarn.lock
Due: prettier

Package integrity updates
  docker/Dockerfile
  docker/start.sh
  examples/cell/package.json
  examples/console/package.json
  examples/filebrowser/package.json
  examples/notebook/package.json
  examples/terminal/package.json
  packages/debugger/package.json
  packages/ui-components/package.json
  yarn.lock
Due: prettier

Revert "Package integrity updates"
  docker/Dockerfile
  docker/start.sh
  examples/cell/package.json
  examples/console/package.json
  examples/filebrowser/package.json
  examples/notebook/package.json
  examples/terminal/package.json
  packages/debugger/package.json
  packages/ui-components/package.json
  yarn.lock
Due: prettier

Package integrity updates
  packages/debugger/package.json
  yarn.lock
Due: prettier

Fix saving of item positions in reactive toolbar (#15843)
  galata/src/helpers/sidebar.ts
  galata/test/documentation/customization.test.ts
  galata/test/documentation/debugger.test.ts
  galata/test/documentation/export_notebook.test.ts
  galata/test/documentation/extension_manager.test.ts
  galata/test/documentation/general.test.ts
  galata/test/documentation/internationalization.test.ts
  galata/test/documentation/overview.test.ts
  galata/test/documentation/utils.ts
  galata/test/jupyterlab/notebook-toolbar.test.ts
  packages/ui-components/src/components/toolbar.tsx
Due: prettier, eslint

Backport PR #15843: Fix saving of item positions in reactive toolbar
  galata/src/helpers/sidebar.ts
  galata/test/documentation/customization.test.ts
  galata/test/documentation/debugger.test.ts
  galata/test/documentation/export_notebook.test.ts
  galata/test/documentation/extension_manager.test.ts
  galata/test/documentation/general.test.ts
  galata/test/documentation/internationalization.test.ts
  galata/test/documentation/overview.test.ts
  galata/test/documentation/utils.ts
  galata/test/jupyterlab/notebook-toolbar.test.ts
  packages/ui-components/src/components/toolbar.tsx
Due: prettier, eslint

Restore the galata function to resize sidebar in documentation/utils (instead of sidebar's helper) and add a copy of it in jupyterlab/utils
  galata/src/helpers/sidebar.ts
  galata/test/documentation/customization.test.ts
  galata/test/documentation/debugger.test.ts
  galata/test/documentation/export_notebook.test.ts
  galata/test/documentation/extension_manager.test.ts
  galata/test/documentation/general.test.ts
  galata/test/documentation/internationalization.test.ts
  galata/test/documentation/overview.test.ts
  galata/test/documentation/utils.ts
  galata/test/jupyterlab/notebook-toolbar.test.ts
  galata/test/jupyterlab/utils.ts
Due: prettier, eslint

add slot
  packages/ui-components/src/icon/labicon.tsx
Due: prettier, eslint

Add devcontainer
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  docker/Dockerfile
  docker/environment.yml
  docs/source/developer/contributing.rst
Due: prettier

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
