Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
        exclude: galata/.*-snapshots
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.23.1
    hooks:
      - id: check-github-workflows

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.282
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

Correct variable name
  packages/settingregistry/src/settingregistry.ts
Due: prettier, eslint

Deduplicate warnings about selectors
  packages/settingregistry/src/settingregistry.ts
Due: prettier, eslint

Add user-facing changelog for 4.1
  CHANGELOG.md
Due: none

Add images for changelog
  docs/source/getting_started/changelog_assets/4.1-inline-completer.png
  docs/source/getting_started/changelog_assets/4.1-merimad-diagram.png
  docs/source/getting_started/changelog_assets/4.1-toc-error-indicator.png
  docs/source/getting_started/changelog_assets/4.1-traceback-links.png
  docs/source/getting_started/changelog_assets/4.1-virtual-scrollbar.png
Due: none

Remove spurious "highlights" heading as it was making
  CHANGELOG.md
Due: none

formatting
  packages/shortcuts-extension/src/components/ShortcutInput.tsx
  packages/shortcuts-extension/src/components/ShortcutItem.tsx
  packages/shortcuts-extension/src/components/ShortcutList.tsx
  packages/shortcuts-extension/src/components/ShortcutUI.tsx
Due: prettier, eslint

Minor grammar/reorganization, spli lines to make review easier
  CHANGELOG.md
  docs/source/user/custom_css.rst
Due: none

remove unused variable
  packages/shortcuts-extension/src/components/ShortcutList.tsx
Due: prettier, eslint

Fix typos/change heading style
  CHANGELOG.md
Due: none

Added accessibility tag to test describe block
  packages/shortcuts-extension/test/shortcuts.spec.ts
Due: prettier, eslint

Revert incorrect snapshot update
  galata/test/jupyterlab/readonly.test.ts-snapshots/readonly-jupyterlab-linux.png
Due: none

Revert spurious snapshot update
  galata/test/documentation/customization.test.ts-snapshots/customized-terminal-position-single-documentation-linux.png
Due: none

Dependency injection refactors, formatting and minor editing.
  docs/source/extension/extension_dev.rst
  docs/source/extension/extension_multiple_ui.rst
Due: none

Remaining edits.
  docs/source/extension/extension_multiple_ui.rst
Due: none

Fix kernel shortcuts, add migration, fix defaults population (#15639)
  docs/source/extension/extension_migration.rst
  examples/notebook/src/commands.ts
  galata/test/jupyterlab/settings.test.ts
  packages/mainmenu-extension/schema/plugin.json
  packages/settingeditor/src/SettingsFormEditor.tsx
  packages/settingregistry/src/settingregistry.ts
  packages/settingregistry/test/settingregistry.spec.ts
Due: prettier, eslint

Edited section headings for better visibility.
  docs/source/extension/extension_multiple_ui.rst
Due: none

fixed jupyterlab downgrade issue on plugin installation
  jupyterlab/extensions/pypi.py
Due: none

Refactored keydown handler functionality
  packages/apputils-extension/src/statusbarplugin.ts
  packages/apputils/src/kernelstatuses.tsx
  packages/apputils/src/runningSessions.tsx
  packages/statusbar/src/components/text.tsx
Due: prettier, eslint

Changed imports
  packages/apputils-extension/src/statusbarplugin.ts
  packages/apputils/src/kernelstatuses.tsx
  packages/apputils/src/runningSessions.tsx
Due: prettier, eslint

update to mermaid 10.7.0 (#15647)
  binder/environment.yml
  packages/mermaid/package.json
  packages/mermaid/src/manager.ts
  pyproject.toml
  yarn.lock
Due: prettier, eslint

Resilience to a state when context is stuck
  packages/docmanager/src/widgetmanager.ts
  packages/running/src/index.tsx
Due: prettier, eslint

Fix missing labels/descriptions
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/plugins.test.ts-snapshots/plugins-documentation-linux.json
  packages/docmanager-extension/src/recents.ts
  packages/mainmenu-extension/src/recents.ts
Due: prettier, eslint

Revert snapshot changes
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-in-selected-cells-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-in-selected-text-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-within-outputs-jupyterlab-linux.png
  galata/test/jupyterlab/outputarea-stdin.test.ts-snapshots/stdin-history-search-jupyterlab-linux.png
  galata/test/jupyterlab/readonly.test.ts-snapshots/readonly-jupyterlab-linux.png
Due: none

preserve legacy fallback of accessing outputarea renderer
  packages/outputarea/src/widget.ts
Due: prettier, eslint

add unittest for continuous outputarea render
  packages/outputarea/test/widget.spec.ts
Due: prettier, eslint

run prettier on outputarea fixes
  packages/outputarea/src/widget.ts
  packages/outputarea/test/widget.spec.ts
Due: prettier, eslint

Fix outputarea package from not detecting updates (#15642)
  packages/outputarea/src/widget.ts
  packages/outputarea/test/widget.spec.ts
Due: prettier, eslint

Backport PR #15642: Fix outputarea package from not detecting updates
  packages/outputarea/src/widget.ts
  packages/outputarea/test/widget.spec.ts
Due: prettier, eslint

Fixes focus indicator on input checkbox for Firefox (#15612)
  packages/apputils/style/dialog.css
  packages/ui-components/style/styling.css
Due: prettier, stylelint

Backport PR #15612: Fixes focus indicator on input checkbox for Firefox
  packages/apputils/style/dialog.css
  packages/ui-components/style/styling.css
Due: prettier, stylelint

Added comment to iprops
  packages/apputils/src/runningSessions.tsx
Due: prettier, eslint

Backport PR #15612: Fixes focus indicator on input checkbox for Firefox (#15653)
  packages/apputils/style/dialog.css
  packages/ui-components/style/styling.css
Due: prettier, stylelint

Add a section about windowing mode improvements
  CHANGELOG.md
Due: none

Apply suggestions from code review
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fix two typos
  CHANGELOG.md
Due: none

margin edit
  packages/filebrowser/style/base.css
Due: prettier, stylelint
