Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Fix MathJax font override, avoid double initialization (#15230)
  examples/example.spec.ts
  packages/mathjax-extension/package.json
  packages/mathjax-extension/src/index.ts
  packages/mathjax-extension/style/fonts.css
  yarn.lock
Due: prettier, eslint, stylelint

start backport of #15230 and #15214
  .yarnrc.yml
  binder/environment.yml
  binder/postBuild
  examples/example.spec.ts
  packages/mathjax-extension/package.json
  packages/mathjax-extension/src/index.ts
  packages/mathjax-extension/style/fonts.css
  yarn.lock
Due: prettier, eslint, stylelint

collect history in batches
  packages/notebook/src/history.ts
Due: prettier, eslint

add httpx support
  jupyterlab/extensions/pypi.py
Due: none

remove space
  jupyterlab/extensions/pypi.py
Due: none

add httpx dependency
  pyproject.toml
Due: none

Hide completer when changing notebook tabs (#14534)
  packages/completer/src/widget.ts
Due: prettier, eslint

Backport PR #14534: Hide completer when changing notebook tabs
  packages/completer/src/widget.ts
Due: prettier, eslint

Better blur handling
  packages/completer/src/ghost.ts
  packages/completer/src/inline.ts
  packages/completer/tsconfig.json
  packages/completer/tsconfig.test.json
Due: prettier, eslint

Hide inline completions on cursor movement
  packages/completer/src/handler.ts
  packages/completer/src/inline.ts
Due: prettier, eslint

Implement on hover display of widget
  packages/completer-extension/schema/inline-completer.json
  packages/completer/src/ghost.ts
  packages/completer/src/inline.ts
  packages/completer/src/tokens.ts
  packages/completer/style/base.css
Due: prettier, eslint, stylelint

Show new line immediately when streaming
  packages/completer/src/ghost.ts
Due: prettier, eslint

Implement per-provider timeout and debouncer
  packages/completer-extension/src/index.ts
  packages/completer/src/manager.ts
  packages/completer/src/reconciliator.ts
  packages/completer/src/tokens.ts
Due: prettier, eslint

Restore `pre-wrap`, but exclude the streaming token itself
  packages/completer/style/base.css
Due: prettier, stylelint

fix(filebrowser-extension): copy absolute path with first slash
  packages/coreutils/src/path.ts
  packages/filebrowser-extension/src/index.ts
Due: prettier, eslint

no change - remove spurrious useless comment
  galata/test/jupyterlab/toc-scrolling.test.ts
Due: prettier, eslint

Fix completer tests after transition to pointer events
  packages/metapackage/test/completer/widget.spec.ts
  packages/testing/src/common.ts
  packages/testing/src/index.ts
Due: prettier, eslint

Prevent animation from overlapping monogram, adjust colours
  packages/completer/style/base.css
Due: prettier, stylelint

Add a test case against doc panel regression
  packages/metapackage/test/completer/widget.spec.ts
Due: prettier, eslint

Fix panel hiding
  packages/completer/src/widget.ts
Due: prettier, eslint

Rewrite `@jupyterlab/lsp-extension:tracker` description without Saxon genitive
  galata/test/documentation/plugins.test.ts-snapshots/plugins-documentation-linux.json
  packages/lsp-extension/src/index.ts
Due: prettier, eslint

Integrity fix
  packages/completer-extension/package.json
Due: prettier

start backport of #15230 and #15214 (#15231)
  .yarnrc.yml
  binder/environment.yml
  binder/postBuild
  examples/example.spec.ts
  packages/mathjax-extension/package.json
  packages/mathjax-extension/src/index.ts
  packages/mathjax-extension/style/fonts.css
  yarn.lock
Due: prettier, eslint, stylelint

Wait for MathJax message to disappear
  galata/test/jupyterlab/print.test.ts
Due: prettier, eslint

Skip optional `slice` argument
  packages/notebook/src/actions.tsx
Due: prettier, eslint

Restore previous behaviour of `runAllBelow()`
  packages/notebook/src/actions.tsx
  packages/notebook/test/actions.spec.ts
Due: prettier, eslint

Bump `@jupyterlab/rendermime-interfaces` to `3.9.0-alpha.1`
  dev_mode/package.json
  examples/federated/core_package/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/attachments/package.json
  packages/docregistry/package.json
  packages/fileeditor-extension/package.json
  packages/javascript-extension/package.json
  packages/json-extension/package.json
  packages/mermaid-extension/package.json
  packages/mermaid/package.json
  packages/metapackage/package.json
  packages/outputarea/package.json
  packages/pdf-extension/package.json
  packages/rendermime-interfaces/package.json
  packages/rendermime/package.json
  packages/running-extension/package.json
  packages/translation/package.json
  packages/ui-components/package.json
  packages/vega5-extension/package.json
  yarn.lock
Due: prettier

Improve docker build cache
  docker/Dockerfile
Due: none

Add port argument
  docker/start.sh
  docs/source/developer/contributing.rst
Due: none

Fix clicking in the TOC does not scroll (#15184)
  galata/test/jupyterlab/notebooks/toc_scrolling_notebook.ipynb
  galata/test/jupyterlab/toc-scrolling.test.ts
  galata/test/jupyterlab/toc-scrolling.test.ts-snapshots/scrolled-to-bottom-heading-jupyterlab-linux.png
  packages/markdownviewer/src/toc.ts
  packages/notebook/src/toc.ts
Due: prettier, eslint

Backport PR #15184: Fix clicking in the TOC does not scroll
  galata/test/jupyterlab/notebooks/toc_scrolling_notebook.ipynb
  galata/test/jupyterlab/toc-scrolling.test.ts
  galata/test/jupyterlab/toc-scrolling.test.ts-snapshots/scrolled-to-bottom-heading-jupyterlab-linux.png
  packages/markdownviewer/src/toc.ts
  packages/notebook/src/toc.ts
Due: prettier, eslint

Fix completer tests after transition to pointer events (#15237)
  packages/metapackage/test/completer/widget.spec.ts
  packages/testing/src/common.ts
  packages/testing/src/index.ts
Due: prettier, eslint

Backport PR #15237: Fix completer tests after transition to pointer events
  packages/metapackage/test/completer/widget.spec.ts
  packages/testing/src/common.ts
  packages/testing/src/index.ts
Due: prettier, eslint

add test for expansionStates in workspace
  galata/test/jupyterlab/workspace.test.ts
Due: prettier, eslint

Backport PR #14534: Hide completer when changing notebook tabs (#15236)
  packages/completer/src/widget.ts
Due: prettier, eslint

Backport PR #15237: Fix completer tests after transition to pointer events (#15243)
  packages/metapackage/test/completer/widget.spec.ts
  packages/testing/src/common.ts
  packages/testing/src/index.ts
Due: prettier, eslint

Reword LSP tracker plugin description (#15209)
  galata/test/documentation/plugins.test.ts-snapshots/plugins-documentation-linux.json
  packages/lsp-extension/src/index.ts
Due: prettier, eslint

Restore mobile snapshot
  galata/test/jupyterlab/notebook-mobile.test.ts-snapshots/mobile-layout-jupyterlab-linux.png
Due: none

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
