Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
        exclude: galata/.*-snapshots
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.23.1
    hooks:
      - id: check-github-workflows

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.282
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

Add a parent class for the style of the toolbar button component.
  packages/notebook-extension/style/base.css
Due: prettier, stylelint

Fix data attribute It should be camelCase https://html.spec.whatwg.org/multipage/dom.html#embedding-custom-non-visible-data-with-the-data-*-attributes:domstringmap-3
  packages/cells/src/widget.ts
Due: prettier, eslint

Fix integration test selectors
  galata/test/jupyterlab/notebook-tags.test.ts
Due: prettier, eslint

Apply suggestions from code review
  packages/notebook-extension/src/index.tsx
Due: prettier, eslint

Update packages/notebook-extension/style/base.css
  packages/notebook-extension/style/base.css
Due: prettier, stylelint

Namespace data attribute Ensure tags are always surrounded by commas
  galata/test/jupyterlab/notebook-tags.test.ts
  packages/cells/src/widget.ts
Due: prettier, eslint

Take comments of the review into accounts.
  galata/test/jupyterlab/notebook-tags.test.ts
  packages/cells/src/widget.ts
  packages/notebook-extension/schema/tools.json
  packages/notebook-extension/src/cellfilters.tsx
  packages/notebook-extension/src/index.tsx
  packages/notebook-extension/style/base.css
Due: prettier, eslint, stylelint

Clean the code
  packages/notebook-extension/src/cellfilters.tsx
  packages/notebook-extension/src/index.tsx
Due: prettier, eslint

Fix integration tests
  galata/test/jupyterlab/notebook-tags.test.ts
Due: prettier, eslint

Fix integration test expectation
  galata/test/jupyterlab/notebook-tags.test.ts
Due: prettier, eslint

Mark some API as `alpha`
  packages/notebook-extension/src/cellfilters.tsx
Due: prettier, eslint

Add radio button _any type_ to deactivate type filter
  packages/notebook-extension/src/cellfilters.tsx
Due: prettier, eslint

Use radio buttons for types
  packages/notebook-extension/src/cellfilters.tsx
  packages/notebook-extension/src/index.tsx
  packages/notebook-extension/style/base.css
Due: prettier, eslint, stylelint

Refactor styles to be positioned in the same pkg as the code
  packages/celltags-extension/style/index.css
  packages/celltags-extension/style/index.js
  packages/notebook/style/base.css
  packages/notebook/style/celltags.css
Due: prettier, eslint, stylelint

Merge conflict resolution
  packages/celltags-extension/tsconfig.json
  packages/notebook-extension/src/index.tsx
  packages/notebook-extension/typedoc.json
  packages/notebook/package.json
  packages/notebook/style/index.css
  packages/notebook/style/index.js
  yarn.lock
Due: prettier, eslint, stylelint

Update index.tsx file of notebook-extension packages and other minor changes.
  packages/notebook/style/index.css
  packages/notebook/style/index.js
Due: prettier, eslint, stylelint

Try to fix ui tests.
  galata/test/jupyterlab/notebook-tags.test.ts
Due: prettier, eslint

Resolve merge conflicts.
  packages/celltags-extension/tsconfig.json
  yarn.lock
Due: prettier

Keep on trying to fix failing ui tests.
  galata/test/jupyterlab/notebook-tags.test.ts
Due: prettier, eslint

Get yarn.lock file from main branch.
  yarn.lock
Due: none

Update package integrity.
  yarn.lock
Due: none

Rebase with main branch.
  packages/celltags-extension/tsconfig.json
  yarn.lock
Due: prettier

Change the content of the buttons in the dialog and update notebook-tags.test.ts.
  galata/test/jupyterlab/notebook-tags.test.ts
  packages/notebook-extension/src/index.tsx
Due: prettier, eslint

Try to fix failing tests.
  packages/celltags-extension/tsconfig.json
  yarn.lock
Due: prettier

Update yarn.lock.
  yarn.lock
Due: none

use upstream/main yarn.lock
  yarn.lock
Due: none

Fix showing a dialog from console when kernel spec files are filtered
  packages/apputils/src/sessioncontext.tsx
  packages/console-extension/src/index.ts
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Suggested changes
  packages/running-extension/src/kernels.tsx
  packages/ui-components/src/icon/iconimports.ts
  packages/ui-components/style/deprecated.css
  packages/ui-components/style/icons/toolbar/cleaning.svg
Due: prettier, eslint, stylelint

Fix for Promise.allSettled
  packages/running-extension/tsconfig.json
Due: prettier

Lable to caption
  packages/running-extension/src/kernels.tsx
Due: prettier, eslint

Set the background color for the hover state of the New Launcher button (#16551)
  packages/launcher-extension/style/base.css
Due: prettier, stylelint

Fix Markdown code block rendering
  packages/rendermime/style/base.css
Due: prettier, stylelint

remove pluginslist grey background
  packages/settingeditor/style/base.css
Due: prettier, stylelint

Use standalone plugin registry
  dev_mode/index.js
  examples/app/index.js
  examples/federated/core_package/index.template.js
  jupyterlab/tests/mock_packages/mimeextension/package.json
  packages/application/src/lab.ts
  packages/rendermime-interfaces/package.json
  yarn.lock
Due: prettier, eslint

Add kernel.id to the dialog
  packages/running-extension/src/kernels.tsx
Due: prettier, eslint

Add token for service manager
  dev_mode/index.js
  packages/application-extension/package.json
  packages/application-extension/src/index.tsx
  packages/application-extension/src/services.ts
  packages/application-extension/tsconfig.json
  packages/application/src/lab.ts
  packages/services/src/index.ts
  packages/services/src/tokens.ts
  yarn.lock
Due: prettier, eslint

Add new token for connection status
  dev_mode/index.js
  packages/application-extension/src/connectionstatus.ts
  packages/application-extension/src/index.tsx
  packages/application-extension/src/services.ts
  packages/application/src/connectionstatus.ts
  packages/application/src/index.ts
  packages/application/src/lab.ts
  packages/application/src/tokens.ts
Due: prettier, eslint

Add default drive token
  packages/application-extension/src/defaultdrive.ts
  packages/application-extension/src/services.ts
  packages/services/src/tokens.ts
Due: prettier, eslint

Add server settings token
  packages/application-extension/src/defaultdrive.ts
  packages/application-extension/src/index.tsx
  packages/application-extension/src/serversettings.ts
  packages/application-extension/src/services.ts
  packages/services/src/tokens.ts
Due: prettier, eslint
