Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
        exclude: galata/.*-snapshots
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.23.1
    hooks:
      - id: check-github-workflows

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.282
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

Fix for unused launcher-extension "factory" dependency
  packages/launcher-extension/src/index.ts
Due: prettier, eslint

Improve the keybinding input guard using proposed lumino features (#15927)
  galata/test/jupyterlab/notebook-search.test.ts
  packages/application/src/lab.ts
  packages/completer-extension/schema/inline-completer.json
  packages/shortcuts-extension/schema/shortcuts.json
Due: prettier, eslint

Lint fixes
  packages/coreutils/src/time.ts
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

Revert "Revert "Alternate description for disabled filters""
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
Due: prettier, eslint

Revert "Alternate description for disabled filters"
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
Due: prettier, eslint

Uses standard library in 'narrow' mode
  packages/coreutils/src/time.ts
  packages/filebrowser/src/listing.ts
  packages/filebrowser/style/base.css
Due: prettier, eslint, stylelint

Uses extremely short units, shrinks the Last Modified column by 62 px
  packages/coreutils/src/time.ts
  packages/filebrowser/src/listing.ts
  packages/filebrowser/style/base.css
Due: prettier, eslint, stylelint

Three-step container query to display longer or shorter date
  packages/coreutils/src/time.ts
  packages/filebrowser/src/listing.ts
  packages/filebrowser/style/base.css
Due: prettier, eslint, stylelint

Freezes dates at one day ago
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

WIP: Creates test files
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

Uploads files with time stamp override in a separate test pass
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

Avoid using page in beforeAll
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

Fix loop issue
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

Adds medium sidebar test for filebrowser
  galata/test/jupyterlab/sidebars.test.ts
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-filebrowser-medium-jupyterlab-linux.png
Due: prettier, eslint

Reinstates previous screen shots not modified by this change
  galata/test/jupyterlab/notebook-markdown.test.ts-snapshots/render-mermaid-error-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run.test.ts-snapshots/notebook-panel-1-jupyterlab-linux.png
Due: none

Update comment
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

Adds small and large sidebar tests specifically for filebrowser
  galata/test/jupyterlab/sidebars.test.ts
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-filebrowser-large-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-filebrowser-small-jupyterlab-linux.png
Due: prettier, eslint

Disable stylelint for container queries
  packages/filebrowser/style/base.css
Due: prettier, stylelint

Reverts tests so I can put them into another branch
  galata/test/jupyterlab/sidebars.test.ts
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-filebrowser-large-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-filebrowser-medium-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-filebrowser-small-jupyterlab-linux.png
Due: prettier, eslint

Removes container queries, triple rendering; updates listings on resize
  packages/filebrowser/src/listing.ts
  packages/filebrowser/style/base.css
Due: prettier, eslint, stylelint

Only rerenders nodes if modified style has changed
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

Removes comment about container queries, no longer valid
  packages/filebrowser/style/base.css
Due: prettier, stylelint

Null check for container width
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

Reinstates screenshots without sample files
  galata/test/jupyterlab/sidebars.test.ts-snapshots/filebrowser-right-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-filebrowser-jupyterlab-linux.png
Due: none

Reverts screen shots not modified by this change
  galata/test/documentation/custom_css.test.ts-snapshots/custom-css-notebook-markdown-documentation-linux.png
  galata/test/jupyterlab/cells.test.ts-snapshots/collapsed-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run-mermaid.test.ts-snapshots/run-cells-dark-mermaid-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run-mermaid.test.ts-snapshots/run-cells-mermaid-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run-vega.test.ts-snapshots/run-cells-dark-vega-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run-vega.test.ts-snapshots/run-cells-vega-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run.test.ts-snapshots/notebook-panel-0-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run.test.ts-snapshots/notebook-panel-2-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run.test.ts-snapshots/notebook-panel-3-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run.test.ts-snapshots/notebook-panel-4-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run.test.ts-snapshots/notebook-panel-5-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run.test.ts-snapshots/notebook-panel-6-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run.test.ts-snapshots/notebook-panel-7-jupyterlab-linux.png
  galata/test/jupyterlab/output-scrolling.test.ts-snapshots/prompt-overlay-hover-normal-jupyterlab-linux.png
  galata/test/jupyterlab/output-scrolling.test.ts-snapshots/prompt-overlay-hover-scroll-jupyterlab-linux.png
  galata/test/jupyterlab/readonly.test.ts-snapshots/readonly-jupyterlab-linux.png
Due: none

Revisions per @krassowski
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

Updates sidebars test options to avoid timeouts
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

Only updates modified dates on resize
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

Update visibility level of new member method
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

Reverts screen shot that this branch should not modify
  galata/test/galata/notebook.spec.ts-snapshots/example-run-galata-linux.png
Due: none

Uses VirtualDOM.render()
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

Removes unused title parameter
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

Reinstates older screenshot
  galata/test/documentation/custom_css.test.ts-snapshots/custom-css-notebook-markdown-documentation-linux.png
Due: none

Updates comment about ES version
  packages/coreutils/src/time.ts
Due: prettier, eslint

Update packages/filebrowser/src/listing.ts
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

Adds test case for string replacement that contains query string
  galata/test/jupyterlab/notebook-replace.test.ts
Due: prettier, eslint

Do not crash if there are no sessions for kernel
  packages/running-extension/src/kernels.tsx
Due: prettier, eslint

Revert snapshot incorrectly updated in #16046
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-jp-running-sessions-jupyterlab-linux.png
Due: none

Remove unused private `shutdownAllLabel` prop from `List` and `ListWidget`
  packages/running/src/index.tsx
Due: prettier, eslint

Enable `noUncheckedIndexedAccess`
  packages/coreutils/src/markdowncodeblocks.ts
  tsconfigbase.json
Due: prettier, eslint
