Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
        exclude: galata/.*-snapshots
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.23.1
    hooks:
      - id: check-github-workflows

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.282
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

Remove `whatwg-fetch` polyfill
  dev_mode/package.json
  dev_mode/webpack.config.js
  examples/app/package.json
  examples/app/webpack.config.js
  examples/cell/package.json
  examples/cell/webpack.config.js
  examples/console/package.json
  examples/console/webpack.config.js
  examples/federated/core_package/package.json
  examples/filebrowser/package.json
  examples/filebrowser/webpack.config.js
  examples/notebook/package.json
  examples/notebook/webpack.config.js
  examples/terminal/package.json
  examples/terminal/webpack.config.js
  jupyterlab/staging/package.json
  jupyterlab/staging/webpack.config.js
  packages/extensionmanager-extension/examples/listings/package.json
  packages/extensionmanager-extension/examples/listings/webpack.config.js
  packages/services/README.md
  yarn.lock
Due: prettier, eslint

undo staging changes
  jupyterlab/staging/package.json
  jupyterlab/staging/webpack.config.js
Due: prettier, eslint

Fix search match color on selection
  packages/codemirror/style/base.css
Due: prettier, stylelint

Update snapshot for sidebar (as new category gets added)
  galata/test/documentation/overview.test.ts-snapshots/interface-tabs-documentation-linux.png
Due: none

Update snapshot as CodeMirror dimensions changed
  galata/test/jupyterlab/texteditor.test.ts-snapshots/text-editor-active-line-with-selection-jupyterlab-linux.png
Due: none

Remove `whatwg-fetch` polyfill (#16000)
  dev_mode/package.json
  dev_mode/webpack.config.js
  examples/app/package.json
  examples/app/webpack.config.js
  examples/cell/package.json
  examples/cell/webpack.config.js
  examples/console/package.json
  examples/console/webpack.config.js
  examples/federated/core_package/package.json
  examples/filebrowser/package.json
  examples/filebrowser/webpack.config.js
  examples/notebook/package.json
  examples/notebook/webpack.config.js
  examples/terminal/package.json
  examples/terminal/webpack.config.js
  packages/extensionmanager-extension/examples/listings/package.json
  packages/extensionmanager-extension/examples/listings/webpack.config.js
  packages/services/README.md
  yarn.lock
Due: prettier, eslint

Print details on mismatching versions conditionally
  jupyterlab/commands.py
  jupyterlab/labextensions.py
Due: none

stick to strict fallback changes
  galata/test/jupyterlab/zoom.test.ts
  packages/application/style/menus.css
  packages/application/style/sidepanel.css
  packages/filebrowser/style/base.css
Due: prettier, eslint, stylelint

Update CodeMirror and lezer packages (#15987)
  docs/source/extension/extension_migration.rst
  galata/test/jupyterlab/texteditor.test.ts-snapshots/text-editor-active-line-with-selection-jupyterlab-linux.png
  packages/cells/package.json
  packages/codeeditor/package.json
  packages/codeeditor/src/editor.ts
  packages/codeeditor/src/widget.ts
  packages/codemirror-extension/package.json
  packages/codemirror/package.json
  packages/codemirror/src/editor.ts
  packages/codemirror/style/base.css
  packages/codemirror/test/editor.spec.ts
  packages/completer/package.json
  packages/completer/src/testutils.ts
  packages/completer/src/widget.ts
  packages/console/package.json
  packages/debugger/package.json
  packages/fileeditor-extension/package.json
  packages/json-extension/package.json
  packages/metapackage/test/completer/widget.spec.ts
  packages/tooltip/src/widget.ts
  packages/ui-components/src/hoverbox.ts
  yarn.lock
Due: prettier, eslint, stylelint

Re apply the fix and lint
  packages/services/src/basemanager.ts
  packages/services/test/kernelspec/manager.spec.ts
Due: prettier, eslint

Lint devcontainer
  .devcontainer/devcontainer.json
Due: prettier

Move to .jp-Completer-match
  packages/completer/style/base.css
Due: prettier, stylelint

Add test cases for scrolling to cell when editor is active
  galata/test/jupyterlab/windowed-notebook.test.ts
Due: prettier, eslint

Fix scrolling on editor interactions in windowed mode
  packages/cells/src/widget.ts
  packages/notebook/src/widget.ts
Due: prettier, eslint

Add a small delay to ensure keys get handled
  galata/test/jupyterlab/windowed-notebook.test.ts
Due: prettier, eslint

Support suggestions
  package.json
  packages/notebook/package.json
  packages/notebook/src/model.ts
  yarn.lock
Due: prettier, eslint

Notify new suggestions and connect to forked room
  packages/notebook/src/model.ts
  yarn.lock
Due: prettier, eslint

-
  packages/notebook-extension/src/index.ts
  packages/notebook/src/model.ts
  packages/notebook/src/modelfactory.ts
  yarn.lock
Due: prettier, eslint

Rename 'editor scroll request' to 'scroll request'
  packages/cells/src/widget.ts
  packages/notebook/src/widget.ts
Due: prettier, eslint

-
  dev_mode/package.json
  jupyterlab/staging/package.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/model.ts
  packages/notebook/src/modelfactory.ts
  yarn.lock
Due: prettier, eslint

Fix compilation by adding type argument
  packages/application/src/lab.ts
Due: prettier, eslint

Fix `ServerApp.token` deprecation warnings
  binder/jupyter_config.py
  jupyterlab/galata/__init__.py
  jupyterlab/labapp.py
Due: none

Start some documentation
  README.md
  docs/source/developer/openssf.rst
Due: none

Create openssf-scorecard.yml
  .github/openssf-scorecard.yml
Due: none

Lint the code
  packages/services/test/kernelspec/manager.spec.ts
Due: prettier, eslint

Add jest test for Notebook ToC situation
  packages/notebook/test/toc.spec.ts
Due: prettier, eslint

Fix Notebook headings being incorrectly considered as equal
  packages/notebook/src/toc.ts
  packages/toc/src/model.ts
Due: prettier, eslint

Fix detaching active cell when it is pending removal
  packages/notebook/src/windowing.ts
Due: prettier, eslint

Fix `ServerApp.token` deprecation warnings (#16011)
  binder/jupyter_config.py
  jupyterlab/galata/__init__.py
  jupyterlab/labapp.py
Due: none

Replace Promise.all() with Promise.allSettled()
  packages/completer/src/reconciliator.ts
Due: prettier, eslint

Fix manager isDisposed is not set (#15997)
  packages/services/src/basemanager.ts
  packages/services/test/kernelspec/manager.spec.ts
Due: prettier, eslint

Backport PR #15997: Fix manager isDisposed is not set
  packages/services/src/basemanager.ts
  packages/services/test/kernelspec/manager.spec.ts
Due: prettier, eslint

Add workspace name in the "Delete" tooltip
  packages/running/src/index.tsx
  packages/workspaces-extension/src/sidebar.ts
Due: prettier, eslint

Bump ydoc in dev-mode
  dev_mode/package.json
Due: prettier

add await to test expectation
  galata/test/jupyterlab/settings.test.ts
Due: prettier, eslint

Adjust use of ellipsis (…) in workspace commands/menu
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-menu-documentation-linux.png
  galata/test/documentation/workspaces.test.ts-snapshots/workspaces-sidebar-documentation-linux.png
  galata/test/jupyterlab/menus.test.ts
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-file-jupyterlab-linux.png
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-file-workspaces-jupyterlab-linux.png
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-file-workspaces…-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/opened-menu-file-jupyterlab-linux.png
  packages/workspaces-extension/schema/menu.json
  packages/workspaces-extension/src/commands.ts
Due: prettier, eslint

Add quotes to emphasize workspace name,
  packages/workspaces-extension/src/commands.ts
Due: prettier, eslint
