Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Try fixing webpack config
  builder/src/webpack.config.base.ts
Due: prettier, eslint

Update packages/codemirror/src/searchprovider.ts
  packages/codemirror/src/searchprovider.ts
Due: prettier, eslint

Simplifies logic, deferring to caller to call highlightNext
  packages/codemirror/src/searchprovider.ts
Due: prettier, eslint

Fix typing in editable elements inside of open shadow DOM (#15774)
  docs/source/extension/extension_migration.rst
  docs/source/extension/notebook.rst
  examples/notebook/src/commands.ts
  galata/test/jupyterlab/outputarea-stdin.test.ts
  packages/apputils/src/domutils.ts
  packages/apputils/test/domutils.spec.ts
  packages/console/src/widget.ts
  packages/mainmenu-extension/schema/plugin.json
  packages/notebook-extension/schema/tracker.json
  packages/notebook/src/widget.ts
  packages/settingregistry/src/settingregistry.ts
Due: prettier, eslint

Add a test for replacing line endings on paste
  packages/cells/test/widget.spec.ts
Due: prettier, eslint

Add mocks for `ClipboardEvent` and `DataTransfer`
  packages/testing/src/jest-shim.ts
Due: prettier, eslint

Default python completion support is not needed
  packages/codemirror/src/language.ts
Due: prettier, eslint

Support python nested in md
  packages/codemirror-extension/src/services.tsx
  packages/codemirror/src/index.ts
  packages/codemirror/src/language.ts
  packages/codemirror/src/pythonBuiltin.ts
Due: prettier, eslint

Remove SO links, add more recent issue to FAQ
  docs/source/extension/ui_components.rst
  docs/source/getting_started/faq.rst
Due: none

When attaching only typeset after rendering is completed
  packages/rendermime/src/widgets.ts
Due: prettier, eslint

Fix highlight sequencing when replacing text in code cells (#15803)
  packages/codemirror/src/searchprovider.ts
  packages/notebook/test/searchprovider.spec.ts
Due: prettier, eslint

Backport PR #15803: Fix highlight sequencing when replacing text in code cells
  packages/codemirror/src/searchprovider.ts
  packages/notebook/test/searchprovider.spec.ts
Due: prettier, eslint

Another attempt to tune the webpack config
  jupyterlab/staging/webpack.config.js
Due: prettier, eslint

Windows platforms, erratic pasting of text into Markdown field (#15794)
  packages/cells/src/widget.ts
  packages/cells/test/widget.spec.ts
  packages/testing/src/jest-shim.ts
Due: prettier, eslint

Replace one more SO link with the direct link to MS docs
  docs/source/user/extensions.rst
Due: none

Remove SO links, add more recent issue to FAQ (#15811)
  docs/source/extension/ui_components.rst
  docs/source/getting_started/faq.rst
  docs/source/user/extensions.rst
Due: none

[docker] Allow non-unique GID (#15699)
  .dockerignore
  .github/workflows/docker-test.yml
  docker/Dockerfile
  docker/environment.yml
  docker/start.sh
Due: none

Backport PR #15811: Remove SO links, add more recent issue to FAQ
  docs/source/extension/ui_components.rst
  docs/source/getting_started/faq.rst
  docs/source/user/extensions.rst
Due: none

Backport PR #15794: Windows platforms, erratic pasting of text into Markdown field
  packages/cells/src/widget.ts
  packages/cells/test/widget.spec.ts
  packages/testing/src/jest-shim.ts
Due: prettier, eslint

Use void
  packages/testing/src/jest-shim.ts
Due: prettier, eslint

Remove no-longer needed `util` workaround
  builder/src/webpack.config.base.ts
  jupyterlab/staging/webpack.config.js
Due: prettier, eslint

Adds title to close button
  packages/documentsearch/src/searchview.tsx
Due: prettier, eslint

Backport PR #15750 on branch 4.0.x ([pre-commit.ci] pre-commit autoupdate) (#15763)
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Backport PR #15753: Fix completer auto-invoking on non-source changes (#15780)
  packages/completer/src/handler.ts
  packages/metapackage/test/completer/handler.spec.ts
Due: prettier, eslint

Remove another SO link
  packages/ui-components/docs/source/labicon.rst
Due: none

Update packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/searchview.tsx
Due: prettier, eslint

Dynamic title for expander/collapser button
  galata/test/jupyterlab/notebook-replace.test.ts
  galata/test/jupyterlab/notebook-search.test.ts
  packages/documentsearch/src/searchview.tsx
Due: prettier, eslint

Lint fixes
  packages/documentsearch/src/searchview.tsx
Due: prettier, eslint

issue-15741 add support for specified directory/notebook file type
  packages/docregistry/src/registry.ts
Due: prettier, eslint

prettier code
  packages/docregistry/src/registry.ts
Due: prettier, eslint

Backport PR #15751: Fix outputs preservation on splitting cells (#15769)
  packages/notebook/src/actions.tsx
  packages/notebook/test/actions.spec.ts
Due: prettier, eslint

Backport PR #15779: Fix console cells not becoming read-only after execution (#15789)
  galata/test/jupyterlab/console.test.ts
  packages/codemirror/style/base.css
  packages/console/src/widget.ts
  packages/console/test/widget.spec.ts
Due: prettier, eslint, stylelint

Remove third copy of this link (really?)
  packages/ui-components/README.md
Due: none

Backport PR #15803: Fix highlight sequencing when replacing text in code cells (#15812)
  packages/codemirror/src/searchprovider.ts
  packages/notebook/test/searchprovider.spec.ts
Due: prettier, eslint

Backport PR #15811 on branch 3.6.x (Remove SO links, add more recent issue to FAQ) (#15824)
  docs/source/extension/ui_components.rst
  docs/source/getting_started/faq.rst
  docs/source/user/extensions.rst
  packages/ui-components/README.md
  packages/ui-components/docs/source/labicon.rst
Due: none

Backport PR #15811: Remove SO links, add more recent issue to FAQ (#15822)
  docs/source/extension/ui_components.rst
  docs/source/getting_started/faq.rst
  docs/source/user/extensions.rst
Due: none

Backport PR #15794 on branch 4.0.x (Windows platforms, erratic pasting of text into Markdown field) (#15823)
  packages/cells/src/widget.ts
  packages/cells/test/widget.spec.ts
  packages/testing/src/jest-shim.ts
Due: prettier, eslint

Fix code sample (`app.services` does not exist)
  docs/source/extension/identity.rst
Due: none

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
