Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

Update snapshots
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/customization.test.ts-snapshots/customized-context-menu-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/customized-terminal-position-single-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-context-menu-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-open-with-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/files-menu-left-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/files-shareable-link-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-change-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-chinese-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-settings-documentation-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/dark-theme-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/launch-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/simple-mode-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/filebrowser-right-jupyterlab-linux.png
Due: prettier

Backport PR #13589 on branch 3.5.x (use jupyter_config_dir instead of config_path[0] for workspaces, settings) (#13605)
  jupyterlab/commands.py
  setup.cfg
Due: none

Automated Changelog Entry for 3.5.2 on 3.5.x
  CHANGELOG.md
Due: none

Fix icons in shortcuts editor
  packages/shortcuts-extension/src/components/ShortcutInput.tsx
  packages/shortcuts-extension/src/components/ShortcutTitleItem.tsx
  packages/shortcuts-extension/src/components/TopNav.tsx
  packages/shortcuts-extension/style/base.css
  packages/ui-components/src/icon/iconimports.ts
  packages/ui-components/style/deprecated.css
  packages/ui-components/style/icons/error.svg
Due: prettier, eslint

Automated Changelog Entry for 3.5.2 on 3.5.x (#13619)
  CHANGELOG.md
Due: none

[ci skip] Publish 3.5.2
  .bumpversion.cfg
  dev_mode/package.json
  jupyterlab/_version.py
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
Due: prettier

Set font sizes with css variables (#13305)
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/customization.test.ts-snapshots/customized-context-menu-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/customized-terminal-position-single-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-context-menu-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-open-with-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/files-menu-left-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/files-shareable-link-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-change-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-chinese-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-settings-documentation-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/dark-theme-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/launch-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/simple-mode-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/filebrowser-right-jupyterlab-linux.png
  packages/launcher/style/base.css
Due: prettier

Fix select wrapping in inputDialog
  packages/apputils/src/inputdialog.ts
Due: prettier, eslint

Fix select wrapping in inputDialog (#13622)
  packages/apputils/src/inputdialog.ts
Due: prettier, eslint

use tagName rather than localName
  packages/notebook/src/widget.ts
Due: prettier, eslint

Use git command instead of GitHub action
  .github/workflows/license-header.yml
Due: none

Use git command instead of GitHub action (#13625)
  .github/workflows/license-header.yml
Due: none

Does not prevent default behavior when shift-clicking (#13616)
  packages/notebook/src/widget.ts
Due: prettier, eslint

Backport PR #13616: Does not prevent default behavior when shift-clicking
  packages/notebook/src/widget.ts
Due: prettier, eslint

Remove log file otherwise it is committed
  .github/workflows/license-header.yml
Due: none

Remove log file otherwise it is committed (#13627)
  .github/workflows/license-header.yml
Due: none

Add test skeleton
  .github/workflows/linuxjs-tests.yml
  buildutils/template/package.json
  packages/vega5-extension/babel.config.js
  packages/vega5-extension/jest.config.js
  packages/vega5-extension/package.json
  packages/vega5-extension/test/renderer.spec.ts
  packages/vega5-extension/tsconfig.test.json
Due: prettier, eslint

Fix style rules
  packages/shortcuts-extension/style/base.css
Due: prettier

Remove bad Element.id usage
  packages/shortcuts-extension/src/components/ShortcutItem.tsx
  packages/shortcuts-extension/style/base.css
Due: prettier, eslint

Update to lerna 6.2.0
  package.json
  yarn.lock
Due: prettier

Update MIME in README and clean command
  packages/vega5-extension/README.md
  packages/vega5-extension/package.json
Due: prettier

Backport PR #13616: Does not prevent default behavior when shift-clicking (#13626)
  packages/notebook/src/widget.ts
Due: prettier, eslint

Update to lerna 6.2.0 (#13628)
  docs/source/privacy_policies.rst
  jupyterlab/tests/conftest.py
  package.json
  packages/apputils-extension/src/announcements.ts
  testutils/src/user.ts
  yarn.lock
Due: prettier, eslint

Remove `skipLibCheck` in the `vega5-extension` package
  packages/vega5-extension/tsconfig.json
Due: prettier

Add dev deps and tests
  packages/vega5-extension/package.json
  packages/vega5-extension/test/renderer.spec.ts
  packages/vega5-extension/test/utils.ts
Due: prettier, eslint

Remove `skipLibCheck` in the `vega5-extension` package (#13630)
  packages/vega5-extension/tsconfig.json
Due: prettier

Fix ts test config
  packages/vega5-extension/tsconfig.test.json
Due: prettier

Add the `scaleFactor` value from the embed options when creating the PNG representation for a Vega-based chart (#13610)
  .github/workflows/linuxjs-tests.yml
  buildutils/template/package.json
  packages/vega5-extension/README.md
  packages/vega5-extension/babel.config.js
  packages/vega5-extension/jest.config.js
  packages/vega5-extension/package.json
  packages/vega5-extension/src/index.ts
  packages/vega5-extension/test/renderer.spec.ts
  packages/vega5-extension/test/utils.ts
  packages/vega5-extension/tsconfig.test.json
Due: prettier, eslint

Backport PR #13610: Add the `scaleFactor` value from the embed options when creating the PNG representation for a Vega-based chart
  .github/workflows/linuxjs-tests.yml
  buildutils/template/package.json
  packages/vega5-extension/README.md
  packages/vega5-extension/babel.config.js
  packages/vega5-extension/jest.config.js
  packages/vega5-extension/package.json
  packages/vega5-extension/src/index.ts
  packages/vega5-extension/test/renderer.spec.ts
  packages/vega5-extension/test/utils.ts
  packages/vega5-extension/tsconfig.test.json
Due: prettier, eslint

Write the browser open files for test
  jupyterlab/browser_check.py
Due: none

Fix integrity
  packages/vega5-extension/package.json
Due: prettier

Fix accessor
  jupyterlab/browser_check.py
Due: none

Write the browser open files for test (#13634)
  jupyterlab/browser_check.py
Due: none

Backport PR #13634: Write the browser open files for test
  jupyterlab/browser_check.py
Due: none

Backport PR #13634: Write the browser open files for test (#13636)
  jupyterlab/browser_check.py
Due: none

Backport PR #13634: Write the browser open files for test (#13637)
  jupyterlab/browser_check.py
Due: none

Automated Changelog Entry for 3.5.3 on 3.5.x
  CHANGELOG.md
Due: none

Automated Changelog Entry for 3.5.3 on 3.5.x (#13638)
  CHANGELOG.md
Due: none

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
