Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
        exclude: galata/.*-snapshots
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.23.1
    hooks:
      - id: check-github-workflows

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.282
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

Remove debug leftover in ui-tests
  galata/test/jupyterlab/html-viewer.test.ts
Due: prettier, eslint

Fix linter
  .eslintignore
  packages/notebook/src/windowing.ts
Due: prettier, eslint

Fix linter
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

test refactor
  galata/test/jupyterlab/menus.test.ts
Due: prettier, eslint

Command id for test updated
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
Due: prettier

open file browser test refactor
  galata/test/jupyterlab/menus.test.ts
Due: prettier, eslint

snapshots
  galata/test/jupyterlab/collapsible-headings.test.ts-snapshots/reexpand-headers-01-jupyterlab-linux.png
Due: none

Try to fix readonly test
  galata/test/jupyterlab/readonly.test.ts
Due: prettier, eslint

Changed visited link colour in dark/light themes for better contrast
  packages/theme-dark-extension/style/variables.css
  packages/theme-light-extension/style/variables.css
Due: prettier, stylelint

Running terminals keyboard accessibility test
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

Added explicit reference/linking for basic provider/consumer info.
  docs/source/extension/extension_dev.rst
  docs/source/extension/extension_dual_compatibility.rst
Due: none

Added compatibility guide to toctree.
  docs/source/extension/extension_dev.rst
Due: none

Title renaming.
  docs/source/extension/extension_dev.rst
  docs/source/extension/extension_dual_compatibility.rst
Due: none

Removed parens.
  docs/source/extension/extension_dev.rst
Due: none

Open table of contents test
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

Add a command that enables to open from a filter button in the notebook toolbar a Dialog with a ReactWidget inside showing a checkbox list with the various tags of the cells.
  packages/notebook-extension/schema/panel.json
  packages/notebook-extension/src/celltaglist.tsx
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Add a WeakMap to store < Notebook, CellTagListModel> Add the logics of restoring checked list if one has to reopen the Dialog several times Update the model if the view has changed and vice versa.
  packages/notebook-extension/schema/panel.json
  packages/notebook-extension/src/celltaglist.tsx
  packages/notebook-extension/src/index.ts
  packages/statusbar/src/components/hover.tsx
Due: prettier, eslint

Change the filter from union to intersection to fit the previous behavior of the filtering tool from jupyterLab3.
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Remove filter button from the notebook's tool bar and thus the possibility to execute the filterCells command from this toolbar.
  packages/notebook-extension/schema/panel.json
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Update index.ts and celltaglist.tsx to include the proper logics to correctly filter the cells to collapse and update their respective collapsed state when selected filters changed
  packages/application/src/shell.ts
  packages/notebook-extension/src/celltaglist.tsx
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Add a button component in the common tools from which the dialog can be opened, using an IFormRenderer interface anand adding it to the formRegistry.
  packages/notebook-extension/schema/tools.json
  packages/notebook-extension/src/celltaglist.tsx
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Add logics to not keep changes in the list of checked tags if the dialog is closed without validation.
  packages/notebook-extension/src/celltaglist.tsx
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Add the type of cells in the tags list and adapt the code to take this change into account.
  packages/notebook-extension/schema/tools.json
  packages/notebook-extension/src/celltaglist.tsx
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Restore previous privilege for the popup.
  packages/statusbar/src/components/hover.tsx
Due: prettier, eslint

Update packages/notebook-extension/src/celltaglist.tsx
  packages/notebook-extension/src/celltaglist.tsx
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Update packages/notebook-extension/src/celltaglist.tsx
  packages/notebook-extension/src/celltaglist.tsx
Due: prettier, eslint

Use the Button widget from ui-components instead of a the previous custom button react component.
  packages/notebook-extension/src/celltaglist.tsx
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Improve code
  packages/application/src/shell.ts
  packages/notebook-extension/schema/tools.json
  packages/notebook-extension/src/celltaglist.tsx
  packages/notebook-extension/src/index.tsx
Due: prettier, eslint

Update the button used to open the dialog.
  packages/notebook-extension/src/celltaglist.tsx
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Refactor code to avoid inheritance of celltags-ext to nb-ext
  packages/celltags-extension/src/index.ts
  packages/celltags-extension/tsconfig.json
  packages/notebook-extension/src/cellfilters.tsx
  packages/notebook-extension/src/index.tsx
  packages/notebook-extension/style/index.css
  packages/notebook-extension/style/index.js
  packages/notebook-extension/tsconfig.json
  packages/notebook/src/celltag.tsx
  packages/notebook/src/index.ts
Due: prettier, eslint, stylelint

Add integration tests
  galata/test/jupyterlab/notebook-tags.test.ts
  galata/test/jupyterlab/notebooks/tags.ipynb
  packages/cells/src/widget.ts
Due: prettier, eslint

Improve style
  packages/celltags-extension/src/celltag.tsx
  packages/celltags-extension/src/index.ts
  packages/celltags-extension/style/base.css
  packages/notebook-extension/src/celltaglist.tsx
  packages/notebook-extension/style/base.css
  packages/notebook-extension/style/index.css
  packages/notebook-extension/style/index.js
  packages/notebook-extension/tsconfig.json
Due: prettier, eslint, stylelint

Fix integration test selectors
  galata/test/jupyterlab/notebook-tags.test.ts
Due: prettier, eslint

Make the plugin list scrollable
  packages/pluginmanager/src/dialogs.tsx
  packages/pluginmanager/style/base.css
Due: prettier, eslint, stylelint

Take comments of the review into accounts.
  galata/test/jupyterlab/notebook-tags.test.ts
  packages/cells/src/widget.ts
  packages/notebook-extension/schema/tools.json
  packages/notebook-extension/src/cellfilters.tsx
  packages/notebook-extension/src/index.tsx
  packages/notebook-extension/style/base.css
Due: prettier, eslint, stylelint

Namespace data attribute Ensure tags are always surrounded by commas
  galata/test/jupyterlab/notebook-tags.test.ts
  packages/cells/src/widget.ts
Due: prettier, eslint
