Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Lint fixes
  packages/documentsearch/src/searchview.tsx
Due: prettier, eslint

Adds title to close button of search and replace box (#15825)
  packages/documentsearch/src/searchview.tsx
Due: prettier, eslint

Dynamic title for expander/collapser button (#15826)
  galata/test/jupyterlab/notebook-replace.test.ts
  galata/test/jupyterlab/notebook-search.test.ts
  packages/documentsearch/src/searchview.tsx
Due: prettier, eslint

Simplifies classes, style rules
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/style/base.css
Due: prettier, eslint, stylelint

Backport PR #15854: Fix clean script
  buildutils/src/clean-packages.ts
Due: prettier, eslint

Make the focus ring cover full item and have round corners
  packages/filebrowser/style/base.css
Due: prettier, stylelint

Revert back to simple outline
  packages/filebrowser/style/base.css
Due: prettier, stylelint

Hide the outline when editing file name
  packages/filebrowser/style/base.css
Due: prettier, stylelint

Backport PR #15854: Fix clean script (#15858)
  buildutils/src/clean-packages.ts
Due: prettier, eslint

Clarify docstring/attribute value to selector for more general use
  galata/src/helpers/activity.ts
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

Slightly reduce size of collapse/expand icons
  packages/running/style/base.css
Due: prettier, stylelint

Also open menu over widget entries (children of kernels)
  packages/running-extension/src/kernels.ts
Due: prettier, eslint

formatting
  galata/src/helpers/activity.ts
Due: prettier, eslint

Implement toggle memory for list/view switch
  packages/running-extension/package.json
  packages/running-extension/src/index.ts
  packages/running-extension/src/kernels.ts
  packages/running-extension/tsconfig.json
  packages/running/package.json
  packages/running/src/index.tsx
  packages/running/tsconfig.json
  yarn.lock
Due: prettier, eslint

while condition matches selector
  galata/src/helpers/activity.ts
Due: prettier, eslint

Fix button state initialization
  packages/running/src/index.tsx
Due: prettier, eslint

Simplify state setup for buttons
  packages/running/src/index.tsx
  packages/running/style/base.css
Due: prettier, eslint, stylelint

specify selector in test
  galata/src/helpers/activity.ts
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

Integrity lint
  packages/running-extension/tsconfig.json
  packages/running/tsconfig.json
Due: prettier

Update selectors in tests
  galata/test/documentation/general.test.ts
  galata/test/documentation/overview.test.ts
Due: prettier, eslint

Avoids highlighting inside disabled buttons on hover/click
  packages/documentsearch/style/base.css
Due: prettier, stylelint

Fix selector in test
  galata/test/documentation/general.test.ts
Due: prettier, eslint

Check if editor exists before checking if it is disposed
  packages/lsp/src/adapters/editorAdapter.ts
Due: prettier, eslint

Changed title.
  docs/source/extension/extension_multiple_ui.rst
Due: none

Alternate description for disabled filters
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
  packages/notebook/src/searchprovider.ts
Due: prettier, eslint

Revert "Alternate description for disabled filters"
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
  packages/notebook/src/searchprovider.ts
Due: prettier, eslint

Lint fixes
  packages/documentsearch/src/searchview.tsx
  packages/notebook/src/searchprovider.ts
Due: prettier, eslint

Improve the update of item positions when a new one is inserted, and move it to the popup toolbar if necessary
  packages/ui-components/src/components/toolbar.tsx
Due: prettier, eslint

fix: cells editorOptions return extensions option
  packages/cells/src/widget.ts
Due: prettier, eslint

fix: remove editorExtensions function
  packages/cells/src/widget.ts
Due: prettier, eslint

Check if editor exists before checking if it is disposed (#15865)
  packages/lsp/src/adapters/editorAdapter.ts
Due: prettier, eslint

Add tests on reactive toolbar
  galata/src/helpers/sidebar.ts
  galata/test/jupyterlab/notebook-toolbar.test.ts
Due: prettier, eslint

Use the helper function to resize sidebar in documentation tests
  galata/src/helpers/sidebar.ts
  galata/test/documentation/customization.test.ts
  galata/test/documentation/debugger.test.ts
  galata/test/documentation/export_notebook.test.ts
  galata/test/documentation/extension_manager.test.ts
  galata/test/documentation/general.test.ts
  galata/test/documentation/internationalization.test.ts
  galata/test/documentation/overview.test.ts
  galata/test/documentation/utils.ts
Due: prettier, eslint

Fix sidebar width when testing notebook toolbar
  galata/test/jupyterlab/notebook-toolbar.test.ts
Due: prettier, eslint

Fix missing signals in file editor adapter
  packages/fileeditor/src/fileeditorlspadapter.ts
Due: prettier, eslint

Await promise
  galata/test/jupyterlab/notebook-toolbar.test.ts
Due: prettier, eslint

Remove unused parameter
  galata/src/helpers/sidebar.ts
  galata/test/documentation/customization.test.ts
  galata/test/documentation/debugger.test.ts
  galata/test/documentation/export_notebook.test.ts
  galata/test/documentation/extension_manager.test.ts
  galata/test/documentation/general.test.ts
  galata/test/documentation/internationalization.test.ts
  galata/test/documentation/overview.test.ts
  galata/test/jupyterlab/notebook-toolbar.test.ts
Due: prettier, eslint

Changed title and fixed a small typo.
  docs/source/extension/extension_multiple_ui.rst
Due: none

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
