Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [check-jsonschema, prettier, eslint, integrity]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: forbid-new-submodules
      - id: check-case-conflict
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: debug-statements

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.16
    hooks:
      - id: mdformat

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.14.2
    hooks:
      - id: check-jsonschema
        name: 'Check GitHub Workflows'
        files: ^\.github/workflows/
        types: [yaml]
        args: ['--schemafile', 'https://json.schemastore.org/github-workflow']

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

Remove archived repos from the post release checklist (#14259)
  RELEASE.md
Due: none

justify buttons to flex-end
  packages/extensionmanager/style/base.css
Due: prettier

Use logical block start instead of 'top' for padding
  packages/extensionmanager/style/base.css
Due: prettier

Add install/run commands to yarn
  binder/postBuild
Due: none

integrity update
  packages/markedparser-extension/package.json
  yarn.lock
Due: prettier

rework, expand parser errors
  packages/markedparser-extension/src/index.ts
  packages/markedparser-extension/style/base.css
Due: prettier, eslint

Update .jp-Button-flat styling
  packages/help-extension/style/base.css
Due: prettier

Yarn 3 migration: disable scripts using config (close enough), remove `ignore-optional`
  binder/postBuild
Due: none

Try without disabling scripts
  .yarnrc.yml
  binder/postBuild
Due: none

Restore disabling scripts
  binder/postBuild
Due: none

Comment out the workaround replacing notebook with lab
  binder/postBuild
Due: none

Split standard input line history per session (notebook) (#13944)
  packages/cells/src/widget.ts
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/widget.ts
  packages/outputarea/src/widget.ts
Due: prettier, eslint

add --skip-dev-build, use to fix binder, yarn invocation
  binder/environment.yml
  binder/jupyter_config.py
  binder/postBuild
  jupyterlab/labapp.py
Due: none

Align Extension manager buttonbar right (#14205)
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-allowed-list-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-blocked-list-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-default-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-enabled-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-search-documentation-linux.png
  packages/extensionmanager/style/base.css
Due: prettier

Fix `ensure_node_modules()`
  jupyterlab/commands.py
Due: none

Load `::-webkit-scrollbar` styles on-demand
  builder/src/webpack.config.base.ts
  packages/application/style/scrollbar.css
  packages/apputils-extension/src/themesplugins.ts
  packages/apputils-extension/src/typings.d.ts
  packages/apputils-extension/style/scrollbar.raw.css
Due: prettier, eslint

[ci skip] Publish 4.0.0b0
  .bumpversion.cfg
  CHANGELOG.md
  dev_mode/package.json
  examples/federated/core_package/package.json
  jupyterlab/_version.py
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
  yarn.lock
Due: prettier

Fix cursor placement in stdin history search and navigation (#14225)
  galata/test/jupyterlab/outputarea-stdin.test.ts
  packages/outputarea/src/widget.ts
Due: prettier, eslint

Add desktop file and icon for it
  jupyterlab.desktop
  jupyterlab.svg
  pyproject.toml
Due: none

Update extension upgrade script
  jupyterlab/upgrade_extension.py
  pyproject.toml
Due: none

Add migration
  docs/source/extension/extension_migration.rst
Due: none

Fix link colors #14084 (Previous PR #14129) (#14159)
  packages/application/style/buttons.css
  packages/help-extension/style/base.css
  packages/theme-light-extension/style/variables.css
  packages/ui-components/style/base.css
Due: prettier

Specify peerDependencies to remove yarn warning (#14230)
  packages/settingregistry/package.json
  packages/testing/package.json
  yarn.lock
Due: prettier

Add copy option for directories (#13886)
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/folder-jupyterlab-linux.png
  packages/filebrowser-extension/schema/browser.json
  pyproject.toml
Due: prettier

Ignore jupyterlab.desktop file
  .licenserc.yaml
Due: none

add --skip-dev-build, use to fix binder, yarn invocation (#14273)
  binder/environment.yml
  binder/jupyter_config.py
  binder/postBuild
  jupyterlab/labapp.py
Due: none

Add missing lumino package as singleton
  dev_mode/package.json
Due: prettier

Add desktop file and icon for it (#14277)
  .licenserc.yaml
  jupyterlab.desktop
  jupyterlab.svg
  pyproject.toml
Due: none

Update yarn.lock
  yarn.lock
Due: none

[apputils-extensions] increase splash recover timeout to 20 secs
  packages/apputils-extension/src/index.ts
Due: prettier, eslint

Make use of `stylelint-disable-next-line` where practical
  packages/application/style/menus.css
  packages/toc/style/base.css
  packages/ui-components/style/base.css
Due: prettier

Uses cursors to indicate behavior
  packages/outputarea/src/widget.ts
  packages/outputarea/style/base.css
Due: prettier, eslint

Adds buffer for cell output collapser
  packages/outputarea/style/base.css
  packages/theme-light-extension/style/variables.css
Due: prettier

Lint fix
  packages/theme-light-extension/style/variables.css
Due: prettier

Uses left padding for output area
  packages/outputarea/style/base.css
  packages/theme-light-extension/style/variables.css
Due: prettier

fix: cell example
  examples/cell/src/index.ts
Due: prettier, eslint

fix: notebook example
  examples/cell/src/index.ts
  examples/notebook/src/index.ts
Due: prettier, eslint
