Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [check-jsonschema, prettier, eslint, integrity]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: forbid-new-submodules
      - id: check-case-conflict
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: debug-statements

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.16
    hooks:
      - id: mdformat

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.14.2
    hooks:
      - id: check-jsonschema
        name: 'Check GitHub Workflows'
        files: ^\.github/workflows/
        types: [yaml]
        args: ['--schemafile', 'https://json.schemastore.org/github-workflow']

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

Lint the code
  src/index.ts
Due: prettier, eslint

define --jp-ui-font-disabled-colori variables in relation with --jp-ui-font-colorj variable.
  packages/application/style/menus.css
  packages/theme-dark-extension/style/variables.css
  packages/theme-light-extension/style/variables.css
Due: prettier

Backport #13399 on branch 3.6.x (tomllib is in stdlib in Python 3.11+)
  jupyterlab/federated_labextensions.py
  setup.cfg
Due: none

Backport #13392 on branch 3.6.x (Added collaborative_document_save_delay trait)
  jupyterlab/labapp.py
Due: none

Backport #13392 on branch 3.6.x (Added collaborative_document_save_delay trait) (#13404)
  jupyterlab/labapp.py
Due: none

Backport #13399 on branch 3.6.x (tomllib is in stdlib in Python 3.11+) (#13405)
  jupyterlab/federated_labextensions.py
  setup.cfg
Due: none

Automated Changelog Entry for 3.6.0a3 on 3.6.x
  CHANGELOG.md
Due: none

Bump jupyter_server_ydoc
  setup.cfg
Due: none

Backport #13279 on branch 3.6.x (Define file or activity icons color as static)
  packages/theme-dark-extension/style/variables.css
  packages/theme-light-extension/style/variables.css
  packages/ui-components/style/icons.css
  packages/ui-components/style/icons/filetype/console.svg
  packages/ui-components/style/icons/filetype/inspector.svg
  packages/ui-components/style/icons/filetype/json.svg
  packages/ui-components/style/icons/filetype/notebook.svg
  packages/ui-components/style/icons/filetype/text-editor.svg
  packages/ui-components/style/icons/jupyter/jupyter-favicon.svg
  packages/ui-components/style/icons/jupyter/jupyter.svg
  packages/ui-components/style/icons/statusbar/terminal.svg
  packages/ui-components/style/switch.css
Due: prettier

Bump jupyter_server_ydoc (#13407)
  setup.cfg
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Automated Changelog Entry for 3.6.0a3 on 3.6.x (#13409)
  CHANGELOG.md
Due: none

[ci skip] Publish 3.6.0a3
  .bumpversion.cfg
  dev_mode/package.json
  jupyterlab/_version.py
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
Due: prettier

Suggest adding video preview in PR template
  .github/pull_request_template.md
Due: none

Fix EventManager#emit
  packages/services/src/event/index.ts
Due: prettier, eslint

Edit docstrings
  packages/services/src/event/index.ts
Due: prettier, eslint

Fail gracefully if api/events does not exist
  packages/services/src/event/index.ts
Due: prettier, eslint

Appease lint
  buildutils/src/create-test-package.ts
  jupyterlab/browser-test.js
Due: prettier, eslint

Stop the stream if the service is not detected
  packages/services/src/event/index.ts
Due: prettier, eslint

Fix incorrect isDisposed check
  packages/services/src/event/index.ts
Due: prettier, eslint

Remove console.warn
  packages/services/src/event/index.ts
Due: prettier, eslint

Fix interfaces
  packages/services/src/event/index.ts
Due: prettier, eslint

Use a real event
  packages/services/src/event/index.ts
Due: prettier, eslint

Do not subscribe to events if first event emission fails
  packages/services/src/event/index.ts
Due: prettier, eslint

Clean up clean up
  packages/services/src/event/index.ts
Due: prettier, eslint

If a promise fails and no one's listening, it should fail silently
  packages/services/src/event/index.ts
Due: prettier, eslint

Suggest adding video preview in PR template (#13410)
  .github/pull_request_template.md
Due: none

Backport #13279 on branch 3.6.x (Define file or activity icons color as static) (#13408)
  galata/test/jupyterlab/general.test.ts-snapshots/dark-theme-jupyterlab-linux.png
  packages/theme-dark-extension/style/variables.css
  packages/theme-light-extension/style/variables.css
  packages/ui-components/style/icons.css
  packages/ui-components/style/icons/filetype/console.svg
  packages/ui-components/style/icons/filetype/inspector.svg
  packages/ui-components/style/icons/filetype/json.svg
  packages/ui-components/style/icons/filetype/notebook.svg
  packages/ui-components/style/icons/filetype/text-editor.svg
  packages/ui-components/style/icons/jupyter/jupyter-favicon.svg
  packages/ui-components/style/icons/jupyter/jupyter.svg
  packages/ui-components/style/icons/statusbar/terminal.svg
  packages/ui-components/style/switch.css
Due: prettier

Scroll to cell by ID based on hash fragment (#13285)
  docs/source/user/urls.rst
  galata/test/documentation/customization.test.ts
  galata/test/documentation/customization.test.ts-snapshots/customized-terminal-position-single-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-notebook-toolbar-documentation-linux.png
  galata/test/documentation/debugger.test.ts
  galata/test/documentation/debugger.test.ts-snapshots/debugger-kernel-documentation-linux.png
  galata/test/documentation/debugger.test.ts-snapshots/debugger-run-documentation-linux.png
  galata/test/documentation/debugger.test.ts-snapshots/debugger-sidebar-documentation-linux.png
  galata/test/documentation/general.test.ts
  galata/test/documentation/general.test.ts-snapshots/files-create-text-file-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/files-menu-top-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/files-shareable-link-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-right-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/notebook-heading-anchor-link-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-chinese-documentation-linux.png
  galata/test/documentation/utils.ts
  galata/test/jupyterlab/notebook-scroll.test.ts
  galata/test/jupyterlab/notebooks/scroll.ipynb
  packages/notebook-extension/src/index.ts
  packages/notebook/src/widget.ts
Due: prettier, eslint

Use latest geojson
  pyproject.toml
Due: none

Don't rely on `metadataChanged` That API will change in ydoc 0.3.x vs 0.2.x
  packages/cells/src/model.ts
  packages/notebook/src/model.ts
Due: prettier, eslint

Fix integrity
  dev_mode/package.json
  packages/cells/package.json
  packages/codeeditor/package.json
  packages/codemirror/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  packages/docregistry/package.json
  packages/metapackage/package.json
  packages/notebook/package.json
Due: prettier

Fix JS tests
  packages/notebook/src/celllist.ts
  packages/notebook/src/model.ts
Due: prettier, eslint

Fix GeoJSON renderer
  pyproject.toml
Due: none

Update snapshots
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/general.test.ts-snapshots/notebook-ui-documentation-linux.png
Due: prettier

Update the tutorial to reflect the changes in the latest cookiecutter template
  docs/source/extension/extension_tutorial.rst
Due: none

Add user configuration for additional schemes for the sanitizer plugin (#13341)
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/general.test.ts-snapshots/notebook-ui-documentation-linux.png
  packages/apputils-extension/schema/sanitizer.json
  packages/apputils-extension/src/index.ts
  packages/apputils/src/sanitizer.ts
  packages/apputils/test/sanitizer.spec.ts
  packages/completer/src/tokens.ts
  packages/completer/src/widget.ts
  packages/console-extension/src/index.ts
  packages/fileeditor-extension/src/index.ts
  packages/notebook-extension/src/index.ts
  packages/rendermime/src/registry.ts
  packages/rendermime/test/factories.spec.ts
  pyproject.toml
Due: prettier, eslint
