Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
        exclude: galata/.*-snapshots
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.23.1
    hooks:
      - id: check-github-workflows

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.282
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

Revert "Adds test case for string replacement that contains query string"
  galata/test/jupyterlab/notebook-replace.test.ts
Due: prettier, eslint

Update example snapshot, pick up more stable versions of flaky snapshots
  examples/app/example.spec.ts-snapshots/example-linux.png
  examples/federated/example.spec.ts-snapshots/example-linux.png
  examples/filebrowser/example.spec.ts-snapshots/example-linux.png
  galata/test/documentation/custom_css.test.ts-snapshots/custom-css-main-documentation-linux.png
  galata/test/jupyterlab/outputarea-stdin.test.ts-snapshots/stdin-history-search-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-jp-running-sessions-jupyterlab-linux.png
Due: none

fixed linting for unused factory package in index.ts
  packages/launcher-extension/src/index.ts
Due: prettier, eslint

Remove unused `IDefaultFileBrowser` dependency from `launcher-extension` (#16173)
  packages/launcher-extension/src/index.ts
Due: prettier, eslint

Fix updating search value on input
  packages/ui-components/src/components/search.tsx
Due: prettier, eslint

Fix updating search value on input (#16198)
  packages/ui-components/src/components/search.tsx
Due: prettier, eslint

Add a test ensuring the modal input is focused
  galata/test/documentation/general.test.ts
Due: prettier, eslint

Await the `expect` promise
  galata/test/documentation/general.test.ts
Due: prettier, eslint

Set the focus on input inside the shadow DOM
  packages/running/src/index.tsx
Due: prettier, eslint

Update snapshot which now shows the focus indicator
  galata/test/documentation/general.test.ts-snapshots/running-modal-documentation-linux.png
Due: none

Partial backport of windowing fix from #16013
  packages/notebook/src/windowing.ts
Due: prettier, eslint

Remove resolution for jupyter toolkit
  dev_mode/package.json
Due: prettier

Ensure that input in recently open files modal is focused (#16199)
  galata/test/documentation/general.test.ts
  galata/test/documentation/general.test.ts-snapshots/running-modal-documentation-linux.png
  packages/running/src/index.tsx
Due: prettier, eslint

Fix integrity
  dev_mode/package.json
Due: prettier

Fix sorting in alphabetic order
  dev_mode/package.json
Due: prettier

Partial backport of windowing fix from #16013 (#16202)
  packages/notebook/src/windowing.ts
Due: prettier, eslint

Update resolution for jupyter-ui-toolkit (#16204)
  dev_mode/package.json
Due: prettier

Fix error in kernels sidebar when switching kernels, remove unused prop (#16188)
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-jp-running-sessions-jupyterlab-linux.png
  packages/running-extension/src/kernels.tsx
  packages/running/src/index.tsx
Due: prettier, eslint

Address review comments
  jupyterlab/commands.py
  scripts/ci_script.sh
Due: none

Update accessibility.rst
  docs/source/getting_started/accessibility.rst
Due: none

Clear output area when empty
  packages/cells/src/widget.ts
Due: prettier, eslint

Fix for unable to lock any extension
  jupyterlab/labapp.py
Due: none

Fix keybinding logic
  packages/shortcuts-extension/src/components/ShortcutUI.tsx
  packages/shortcuts-extension/test/components/ShortcutUI.spec.ts
Due: prettier, eslint

Fix shortcut/keybinding being set at wrong level
  packages/shortcuts-extension/src/components/ShortcutItem.tsx
Due: prettier, eslint

Migrate shortcuts search to filter box
  packages/shortcuts-extension/src/components/TopNav.tsx
  packages/shortcuts-extension/style/base.css
Due: prettier, eslint, stylelint

Save last cell output height
  packages/cells/src/widget.ts
Due: prettier, eslint

Moving some variables for clearing cell output
  packages/cells/src/widget.ts
Due: prettier, eslint

Check if height is defined/not defined before changing it
  packages/cells/src/widget.ts
Due: prettier, eslint

Dynamic label for toggle sidebar element in ketboard shortcuts
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Clear output area when empty (#16208)
  packages/cells/src/widget.ts
Due: prettier, eslint

Adapted review comments.
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Adapting review comments.
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Dynamic label for toggle sidebar element in ketboard shortcuts (#16218)
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Allow explicit `any` in buildutils, builder and examples
  .eslintrc.js
  builder/src/build-labextension.ts
  builder/src/build.ts
  builder/src/extensionConfig.ts
  builder/src/webpack-plugins.ts
  builder/src/webpack.config.base.ts
  buildutils/src/bump-js-major.ts
  buildutils/src/bumpversion.ts
  buildutils/src/clean-packages.ts
  buildutils/src/ensure-package.ts
  buildutils/src/ensure-repo.ts
  buildutils/src/get-dependency.ts
  buildutils/src/local-repository.ts
  buildutils/src/patch-release.ts
  buildutils/src/prepare-python-release.ts
  buildutils/src/publish.ts
  buildutils/src/remove-dependency.ts
  buildutils/src/update-dependency.ts
  buildutils/src/update-dist-tag.ts
  buildutils/src/utils.ts
  examples/cell/src/index.ts
  examples/console/src/index.ts
  examples/filebrowser/src/index.ts
  examples/notebook/src/index.ts
  examples/terminal/src/index.ts
Due: prettier, eslint

Allow `any` in `packages/testing/`
  .eslintrc.js
  packages/testing/src/common.ts
  packages/testing/src/jest-shim.ts
  packages/testing/src/start_jupyter_server.ts
Due: prettier, eslint
