Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
        exclude: galata/.*-snapshots
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.23.1
    hooks:
      - id: check-github-workflows

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.282
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

Update Accessibility Statement (#16206)
  docs/source/getting_started/accessibility.rst
Due: none

Fix context menu on each kernel icon on Launcher
  packages/apputils/src/sessioncontext.tsx
  packages/notebook-extension/src/index.ts
  packages/ui-components/src/components/customenvvars.tsx
  packages/ui-components/src/components/index.ts
Due: prettier, eslint

`console.warn` → `console.error`
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

Suppress the inline/tab completer if the other is already active
  packages/completer-extension/package.json
  packages/completer-extension/schema/inline-completer.json
  packages/completer-extension/schema/manager.json
  packages/completer-extension/src/index.ts
  packages/completer-extension/style/index.css
  packages/completer-extension/style/index.js
  packages/completer-extension/tsconfig.json
  packages/completer/src/handler.ts
  packages/completer/src/inline.ts
  packages/completer/src/manager.ts
  packages/completer/src/tokens.ts
  packages/completer/src/widget.ts
  yarn.lock
Due: prettier, eslint, stylelint

Fix the button enabled state not being updated
  packages/completer-extension/src/index.ts
Due: prettier, eslint

Remove unnecessary guard in update handler
  packages/completer/src/inline.ts
  packages/completer/src/widget.ts
Due: prettier, eslint

Fixing context menu on Launcher
  packages/apputils/src/sessioncontext.tsx
  packages/notebook-extension/src/index.ts
  packages/ui-components/src/components/customenvvars.tsx
Due: prettier, eslint

Add functionality to upload folder by dragging to file browser (#10596)
  packages/filebrowser/src/listing.ts
  packages/filebrowser/src/model.ts
  packages/filebrowser/test/listing.spec.ts
  packages/testing/src/index.ts
  packages/testing/src/jest-data-transfer-mock.ts
  packages/testing/src/jest-shim.ts
Due: prettier, eslint

Fix lack of color contrast for the project version and license selected on the Licenses page (#16582)
  packages/help-extension/style/base.css
Due: prettier, stylelint

Tests for pluginHandler
  jupyterlab/tests/test_jupyterlab.py
  jupyterlab/tests/test_plugin_manager_handler.py
Due: none

Revert "Alternate description for disabled filters"
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
Due: prettier, eslint

Revert "Revert "Alternate description for disabled filters""
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
Due: prettier, eslint

Fix running a kernel with custom env variables
  packages/apputils/src/sessioncontext.tsx
  packages/notebook-extension/src/index.ts
  packages/ui-components/src/components/customenvvars.tsx
Due: prettier, eslint

Removes visible title from File Browser widget
  packages/filebrowser-extension/src/index.ts
Due: prettier, eslint

revert manual change to galata documentation tests
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
Due: prettier

Try to fix integrity test and remove problematic duplicated piece of code related to filterCells command.
  packages/celltags-extension/package.json
  packages/celltags-extension/tsconfig.json
  packages/notebook-extension/src/index.tsx
  yarn.lock
Due: prettier, eslint

Update yarn.lock to the version from main branch.
  yarn.lock
Due: none

Add short slines of text in the dialog to explain the way the selection works.
  galata/test/jupyterlab/notebooks/tags.ipynb
  packages/notebook-extension/src/cellfilters.tsx
  yarn.lock
Due: prettier, eslint

Add explanations in the documentation in interface.rst.
  docs/source/user/interface.rst
Due: none

Standardize the button role and label for single, dismissal buttons in dialogs
  docs/source/developer/patterns.rst
  packages/application/src/connectionlost.ts
  packages/apputils/src/dialog.tsx
  packages/help-extension/src/index.tsx
Due: prettier, eslint

remove main menu option
  packages/filebrowser-extension/schema/browser.json
Due: prettier

Removes title from the entire File Browser (#16618)
  packages/filebrowser-extension/src/index.ts
Due: prettier, eslint

updated widgets
  packages/ui-components/src/components/form.tsx
  packages/ui-components/src/components/widgets/checkboxWidget.tsx
  packages/ui-components/src/components/widgets/checkboxesWidget.tsx
  packages/ui-components/src/components/widgets/radioWidget.tsx
  packages/ui-components/src/components/widgets/selectWidget.tsx
  packages/ui-components/src/components/widgets/textWidget.tsx
  packages/ui-components/src/components/widgets/textareaWidget.tsx
Due: prettier, eslint

Fix a kernel selection dialog
  packages/apputils/src/sessioncontext.tsx
Due: prettier, eslint

Fix for rendering .ipynb file with array value in output
  packages/notebook/src/windowing.ts
  packages/notebook/test/modelfactory.spec.ts
Due: prettier, eslint

Standardize dialogs to shut down all kernels
  packages/mainmenu-extension/src/index.ts
Due: prettier, eslint

Lint
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

Remove unnecessary label
  packages/mainmenu-extension/src/index.ts
Due: prettier, eslint

Fix showing checkbox
  packages/apputils/src/sessioncontext.tsx
Due: prettier, eslint

Add runningCount to kernel manager and update shut down all label accordingly
  packages/mainmenu-extension/src/index.ts
  packages/running-extension/src/kernels.tsx
  packages/running/src/index.tsx
  packages/services/src/kernel/kernel.ts
  packages/services/src/kernel/manager.ts
Due: prettier, eslint

updated widget and did some changes in renderer.tsx
  packages/completer-extension/src/renderer.tsx
  packages/ui-components/src/components/form.tsx
  packages/ui-components/src/components/widgets/checkboxWidget.tsx
  packages/ui-components/src/components/widgets/checkboxesWidget.tsx
  packages/ui-components/src/components/widgets/radioWidget.tsx
  packages/ui-components/src/components/widgets/selectWidget.tsx
  packages/ui-components/src/components/widgets/textWidget.tsx
Due: prettier, eslint

Update pending input message for clarification
  packages/notebook/src/cellexecutor.ts
Due: prettier, eslint

Add support of calling a dialog for custom env variables for console from Launcher
  packages/apputils/src/sessioncontext.tsx
  packages/apputils/style/dialog.css
  packages/console-extension/src/index.ts
  packages/docregistry/src/context.ts
  packages/notebook-extension/src/index.ts
  packages/ui-components/src/components/customenvvars.tsx
Due: prettier, eslint, stylelint

update user-facing documentation
  docs/source/user/files.rst
Due: none

Fix for Promise.allSettled
  packages/running-extension/tsconfig.json
Due: prettier

Trigger the toolbar button action on click instead of on mousedown (#16470)
  packages/apputils-extension/src/notificationplugin.tsx
  packages/apputils/src/mainareawidget.ts
  packages/apputils/src/toolbar/registry.ts
  packages/notebook/test/default-toolbar.spec.ts
  packages/toc-extension/src/index.ts
  packages/ui-components/src/components/toolbar.tsx
  packages/ui-components/test/toolbar.spec.ts
Due: prettier, eslint

Format code
  packages/apputils/src/sessioncontext.tsx
  packages/apputils/style/dialog.css
  packages/console-extension/package.json
  packages/console-extension/src/index.ts
  packages/console-extension/tsconfig.json
  packages/notebook-extension/src/index.ts
  packages/ui-components/src/components/customenvvars.tsx
Due: prettier, eslint, stylelint

Update github workflows (#16538)
  .github/workflows/check-release.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/galata.yml
  .github/workflows/linuxtests.yml
  .github/workflows/macostests.yml
  .github/workflows/windowstests.yml
Due: none

resolve comments
  dev_mode/index.js
  packages/application/src/frontend.ts
  packages/coreutils/src/plugins.ts
  packages/docregistry/src/registry.ts
Due: prettier, eslint
