Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

test refactor
  galata/test/jupyterlab/menus.test.ts
Due: prettier, eslint

Fix scrolling on active heading
  packages/toc/src/model.ts
Due: prettier, eslint

Add tests
  galata/test/jupyterlab/toc-scrolling.test.ts
Due: prettier, eslint

Add doc string to new attribute
  packages/notebook/src/toc.ts
Due: prettier, eslint

Add option to scroll heading to the top for notebook For editor it is not currently possible easily
  packages/codemirror/src/editor.ts
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/toc.ts
Due: prettier, eslint

Switch to command mode if we are jumping to an heading in md cell
  packages/notebook/src/toc.ts
Due: prettier, eslint

Rebase follow-up
  packages/codemirror/src/editor.ts
Due: prettier, eslint

Bump yarn to 3.6.4
  jupyterlab/staging/yarn.js
Due: prettier, eslint

Update extension_migration.rst
  docs/source/extension/extension_migration.rst
Due: none

Update yarn.lock files
  jupyterlab/staging/yarn.lock
  yarn.lock
Due: none

Bump yarn to 3.6.4 (#15295)
  docs/source/extension/extension_migration.rst
  jupyterlab/staging/yarn.js
  jupyterlab/staging/yarn.lock
  yarn.lock
Due: prettier, eslint

Optimized and more robust PyPIExtensionManager
  jupyterlab/extensions/pypi.py
Due: none

Fix PyPI constructor
  jupyterlab/extensions/pypi.py
Due: none

Propagate command changed signal in semantic commands.
  packages/application-extension/src/index.tsx
  packages/application/src/utils.ts
  packages/application/test/utils.spec.ts
  packages/apputils/src/semanticCommand.ts
  packages/apputils/test/semanticCommand.spec.ts
  packages/console-extension/src/foreign.ts
  packages/console-extension/src/index.ts
  packages/csvviewer-extension/src/index.ts
  packages/fileeditor-extension/src/commands.ts
  packages/htmlviewer-extension/src/index.tsx
  packages/imageviewer-extension/src/index.ts
  packages/mainmenu-extension/src/index.ts
  packages/notebook-extension/src/index.ts
  packages/terminal-extension/src/index.ts
Due: prettier, eslint

Add IShell.currentChanged and notify command based on it
  packages/application-extension/src/index.tsx
  packages/application/src/frontend.ts
  packages/apputils-extension/src/index.ts
  packages/docmanager-extension/src/index.tsx
  packages/documentsearch-extension/src/index.ts
Due: prettier, eslint

Fix CI
  packages/console-extension/src/foreign.ts
  packages/console-extension/src/index.ts
  packages/csvviewer-extension/src/index.ts
  packages/documentsearch-extension/src/index.ts
  packages/fileeditor-extension/src/commands.ts
  packages/fileeditor-extension/src/index.ts
  packages/imageviewer-extension/src/index.ts
  packages/notebook-extension/src/index.ts
  packages/terminal-extension/src/index.ts
Due: prettier, eslint

Add note about the `currentChanged` signal
  packages/application/src/frontend.ts
Due: prettier, eslint

Fix integration test
  galata/test/jupyterlab/windowed-notebook.test.ts
Due: prettier, eslint

Update packages/application-extension/src/index.tsx
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Fix integrity
  packages/rendermime-interfaces/package.json
  yarn.lock
Due: prettier

Changed visited link colour to purple for light theme
  packages/theme-light-extension/style/variables.css
Due: prettier, stylelint

Don't play with the focus when handling focus event
  packages/notebook/src/widget.ts
Due: prettier, eslint

Do not update filebrowser breadcrumbs when not needed (#15387)
  packages/filebrowser/src/crumbs.ts
  packages/filebrowser/test/crumbs.spec.ts
Due: prettier, eslint

adds readonly test
  galata/src/galata.ts
  galata/test/jupyterlab/readonly.test.ts
  galata/test/jupyterlab/readonly.test.ts-snapshots/readonly-jupyterlab-linux.png
  packages/docmanager-extension/src/index.tsx
Due: prettier, eslint

move to node-gyp to resolutions
  package.json
  yarn.lock
Due: prettier

yarn-deduplicate
  yarn.lock
Due: none

[.github] add CODEOWNERS + ofascommon workflow
  .github/CODEOWNERS
  .github/pull_request_template.md
  .github/workflows/common.yaml
  .github/workflows/enforce-label.yml
Due: none

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
