Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

Manage a new ReactWidget as body
  packages/apputils/src/dialog.tsx
Due: prettier, eslint

Fix lint and update documentation snapshots
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-menu-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-editor-overview-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-editor-settings-documentation-linux.png
  packages/apputils/src/dialog.tsx
Due: prettier, eslint

revert staging file
  jupyterlab/staging/yarn.lock
Due: none

Revert "Wait for ReactWidgets items of toolbar to be rendered before adding its class"
  galata/test/jupyterlab/collapsible-headings.test.ts
  packages/ui-components/src/components/toolbar.tsx
Due: prettier, eslint

Wait for ReactWidgets items of toolbar to be rendered before adding its class
  galata/test/jupyterlab/collapsible-headings.test.ts
  packages/ui-components/src/components/toolbar.tsx
Due: prettier, eslint

Wait for ReactWidgets items of toolbar to be rendered before attaching the toolbar
  packages/cell-toolbar/src/celltoolbartracker.ts
Due: prettier, eslint

lint
  packages/cell-toolbar/src/celltoolbartracker.ts
Due: prettier, eslint

Update yarn.lock
  yarn.lock
Due: none

Pin `jupyter_ydoc`
  setup.cfg
Due: none

Pin `jupyter_ydoc` (#13863)
  setup.cfg
Due: none

Updates jupyter_server_ydoc (#13854)
  pyproject.toml
Due: none

Update `jupyter_server_ydoc` as 0.6.2 is yanked
  pyproject.toml
Due: none

Automated Changelog Entry for 3.6.0rc1 on 3.6.x
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update packages/running/src/index.tsx
  packages/running/src/index.tsx
Due: prettier, eslint

Updates caret tips
  docs/source/extension/extension_dev.rst
Due: none

Updates @jupyter/ydoc
  dev_mode/package.json
  examples/cell/package.json
  packages/attachments/package.json
  packages/cells/package.json
  packages/codeeditor/package.json
  packages/codemirror/package.json
  packages/completer/package.json
  packages/console/package.json
  packages/debugger/package.json
  packages/docprovider/package.json
  packages/docregistry/package.json
  packages/notebook/package.json
  packages/services/package.json
  yarn.lock
Due: prettier

Use local paths instead of driveName:path in the shared model
  packages/docregistry/src/context.ts
Due: prettier, eslint

Address review comments
  packages/running-extension/src/kernels.ts
  packages/running/src/index.tsx
Due: prettier, eslint

Prettier
  schema/plugin.json
Due: prettier

Reverts Xterm 5 changes from local master
  packages/terminal/src/widget.ts
Due: prettier, eslint

Reverts Xterm 5 changes from local master
  yarn.lock
Due: none

link nbclassic docs, note Lab 4 drop notebook dependency (#13830)
  docs/source/getting_started/overview.rst
Due: none

Automated Changelog Entry for 3.6.0rc1 on 3.6.x (#13865)
  CHANGELOG.md
Due: none

Clearer variable name: `stopPropagation` instead of `shutdownRequested`
  packages/running/src/index.tsx
Due: prettier, eslint

[ci skip] Publish 3.6.0rc1
  .bumpversion.cfg
  dev_mode/package.json
  jupyterlab/_version.py
  jupyterlab/staging/package.json
  jupyterlab/staging/webpack.config.js
  jupyterlab/staging/yarn.lock
Due: prettier, eslint

Improve search integration test
  galata/test/jupyterlab/search.test.ts
Due: prettier, eslint

Update to Playwright 1.30
  galata/package.json
  yarn.lock
Due: prettier

Updates @jupyter/ydoc (#13868)
  dev_mode/package.json
  examples/cell/package.json
  packages/attachments/package.json
  packages/cells/package.json
  packages/codeeditor/package.json
  packages/codemirror/package.json
  packages/completer/package.json
  packages/console/package.json
  packages/debugger/package.json
  packages/docprovider/package.json
  packages/docregistry/package.json
  packages/notebook/package.json
  packages/services/package.json
  yarn.lock
Due: prettier

Use local paths instead of driveName:path in the shared model (#13866)
  packages/docregistry/src/context.ts
Due: prettier, eslint

Update to Playwright 1.30 (#13871)
  galata/package.json
  yarn.lock
Due: prettier

Automated Changelog Entry for 4.0.0a33 on master
  CHANGELOG.md
Due: none

Automated Changelog Entry for 4.0.0a33 on master (#13873)
  CHANGELOG.md
Due: none

Add languages to the command palette
  packages/translation-extension/src/index.ts
Due: prettier, eslint

Add missing `| null`
  packages/translation-extension/src/index.ts
Due: prettier, eslint

Update packages/translation-extension/src/index.ts
  packages/translation-extension/src/index.ts
Due: prettier, eslint

Update snapshots
  galata/test/documentation/general.test.ts-snapshots/command-palette-documentation-linux.png
Due: none

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
