Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Update urls.rst (#16305)
  docs/source/user/urls.rst
Due: none

Add tests for error indicator when streaming
  packages/completer/src/ghost.ts
  packages/completer/src/inline.ts
  packages/completer/test/inline.spec.ts
Due: prettier, eslint

Fix type annotation to run on node
  packages/completer/src/ghost.ts
Due: prettier, eslint

Styling adjustments
  packages/completer/src/ghost.ts
  packages/completer/style/base.css
Due: prettier, eslint, stylelint

Comment out unused test variable
  packages/completer/test/inline.spec.ts
Due: prettier, eslint

Added fullscreen feature with command alt f
  packages/application-extension/schema/commands.json
  packages/application-extension/src/index.tsx
  packages/application/src/shell.ts
Due: prettier, eslint

Updated fullscreen feature
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Added test
  packages/shortcuts-extension/src/components/ShortcutUI.tsx
  packages/shortcuts-extension/test/components/ShortcutUI.spec.ts
Due: prettier, eslint

Wait for the cell toolbar items to be rendered the first time before looking for overlap (#16291)
  galata/test/benchmark/notebook.spec.ts-snapshots/large-md-notebook-ipynb-benchmark-linux.png
  packages/cell-toolbar/src/celltoolbartracker.ts
Due: prettier, eslint

Resetting a shortcut does not restore and enable the default if it was modified (#16304)
  packages/shortcuts-extension/src/components/ShortcutUI.tsx
  packages/shortcuts-extension/test/components/ShortcutUI.spec.ts
Due: prettier, eslint

Add explanatory comments for lowercase vars
  jupyterlab/extensions/pypi.py
Due: none

Add Signal to proxy all Completer selected Signals
  packages/completer/src/manager.ts
  packages/completer/src/tokens.ts
Due: prettier, eslint

Ran prettier to fix lint issue
  packages/application-extension/src/index.tsx
  packages/application/src/shell.ts
Due: prettier, eslint

Run some tests on MacOS with Python 12
  .github/workflows/macostests.yml
Due: none

Replace dev dependency on `canvas` with `jest-canvas-mock`
  packages/csvviewer/jest.config.js
  packages/csvviewer/package.json
  packages/debugger/jest.config.js
  packages/debugger/package.json
  packages/terminal/jest.config.js
  packages/terminal/package.json
  yarn.lock
Due: prettier, eslint

Remove mentions of node-gyp and canvas from docs
  docs/source/developer/contributing.rst
Due: none

Emit ICompleterSelection instead of string
  packages/completer/src/manager.ts
  packages/completer/src/tokens.ts
Due: prettier, eslint

Add jest-canvas-mock to vega5-extension
  packages/vega5-extension/jest.config.js
  packages/vega5-extension/package.json
  yarn.lock
Due: prettier, eslint

Skip fragments of vega tests which require canvas
  packages/vega5-extension/test/renderer.spec.ts
Due: prettier, eslint

Add lowercase proxy vars and make priority consistent with other tools (#16287)
  jupyterlab/extensions/pypi.py
Due: none

Update benchmark snapshots
  galata/test/galata/benchmarkReporter.spec.ts-snapshots/customized-test-galata-linux.svg
  galata/test/galata/benchmarkReporter.spec.ts-snapshots/test-galata-linux.svg
Due: none

Allow RegExp in galata helper when looking for a tab (#16302)
  galata/src/helpers/activity.ts
Due: prettier, eslint

Update 4.2.x branch config and links
  .github/pull_request_template.md
  .github/workflows/check-release.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker-test.yml
  .github/workflows/linuxjs-tests.yml
  .github/workflows/linuxtests.yml
  .github/workflows/macostests.yml
  .github/workflows/windowstests.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  RELEASE.md
  buildutils/src/ensure-repo.ts
  docs/source/conf.py
  docs/source/developer/accessibility.rst
  docs/source/developer/components.rst
  docs/source/developer/contributing.rst
  docs/source/developer/css.rst
  docs/source/developer/repo.rst
  docs/source/extension/extension_dev.rst
  docs/source/extension/extension_migration.rst
  docs/source/extension/extension_multiple_ui.rst
  docs/source/extension/extension_tutorial.rst
  docs/source/extension/internationalization.rst
  docs/source/getting_started/faq.rst
  docs/source/getting_started/overview.rst
  docs/source/user/index.md
  galata/README.md
  packages/apputils-extension/src/announcements.ts
  packages/extensionmanager/src/widget.tsx
  packages/help-extension/src/index.tsx
  packages/javascript-extension/README.md
  packages/json-extension/README.md
  packages/services/README.md
  packages/ui-components/docs/source/intro.rst
  packages/ui-components/docs/source/labicon.rst
  packages/vega5-extension/README.md
Due: prettier, eslint

Reconfigure 4.1.x branch (4.2.x is new stable)
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  buildutils/src/ensure-repo.ts
  docs/source/extension/extension_migration.rst
  docs/source/extension/internationalization.rst
  docs/source/getting_started/overview.rst
  docs/source/user/index.md
  packages/apputils-extension/src/announcements.ts
  packages/extensionmanager/src/widget.tsx
  packages/help-extension/src/index.tsx
  packages/services/README.md
  packages/ui-components/docs/source/intro.rst
Due: prettier, eslint

change text to insertText
  packages/completer/src/manager.ts
  packages/completer/src/tokens.ts
Due: prettier, eslint

add new test for selected
  packages/metapackage/test/completer/manager.spec.ts
Due: prettier, eslint

Fixed errors
  packages/application-extension/src/index.tsx
  packages/application/src/shell.ts
Due: prettier, eslint

Update 4.2.x branch config and links (#16324)
  .github/pull_request_template.md
  .github/workflows/check-release.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker-test.yml
  .github/workflows/linuxjs-tests.yml
  .github/workflows/linuxtests.yml
  .github/workflows/macostests.yml
  .github/workflows/windowstests.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  RELEASE.md
  buildutils/src/ensure-repo.ts
  docs/source/conf.py
  docs/source/developer/accessibility.rst
  docs/source/developer/components.rst
  docs/source/developer/contributing.rst
  docs/source/developer/css.rst
  docs/source/developer/repo.rst
  docs/source/extension/extension_dev.rst
  docs/source/extension/extension_migration.rst
  docs/source/extension/extension_multiple_ui.rst
  docs/source/extension/extension_tutorial.rst
  docs/source/extension/internationalization.rst
  docs/source/getting_started/faq.rst
  docs/source/getting_started/overview.rst
  docs/source/user/index.md
  galata/README.md
  packages/apputils-extension/src/announcements.ts
  packages/extensionmanager/src/widget.tsx
  packages/help-extension/src/index.tsx
  packages/javascript-extension/README.md
  packages/json-extension/README.md
  packages/services/README.md
  packages/ui-components/docs/source/intro.rst
  packages/ui-components/docs/source/labicon.rst
  packages/vega5-extension/README.md
Due: prettier, eslint

Reconfigure 4.1.x branch (4.2.x is new stable) (#16325)
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  buildutils/src/ensure-repo.ts
  docs/source/extension/extension_migration.rst
  docs/source/extension/internationalization.rst
  docs/source/getting_started/overview.rst
  docs/source/user/index.md
  packages/apputils-extension/src/announcements.ts
  packages/extensionmanager/src/widget.tsx
  packages/help-extension/src/index.tsx
  packages/services/README.md
  packages/ui-components/docs/source/intro.rst
Due: prettier, eslint

Updte forms for seting custom kernel specs
  package.json
  packages/apputils/src/sessioncontext.tsx
  packages/notebook-extension/src/index.ts
  packages/ui-components/package.json
  packages/ui-components/src/components/customform.tsx
  packages/ui-components/src/components/index.ts
Due: prettier, eslint

Allow to select the path in debugger source component (#16246)
  packages/debugger/src/panels/sources/index.tsx
  packages/debugger/src/panels/sources/sourcepath.tsx
  packages/debugger/style/sources.css
Due: prettier, eslint, stylelint

Add error field and animation in inline completion (#15344)
  packages/completer/src/ghost.ts
  packages/completer/src/inline.ts
  packages/completer/src/reconciliator.ts
  packages/completer/src/tokens.ts
  packages/completer/style/base.css
  packages/completer/test/inline.spec.ts
Due: prettier, eslint, stylelint

added lazy loading
  packages/help-extension/src/index.tsx
  packages/htmlviewer/src/widget.tsx
  packages/pdf-extension/src/index.ts
Due: prettier, eslint

Update to Playwright 1.44.0 (#16300)
  galata/package.json
  yarn.lock
Due: prettier

Advertise the color scheme based on the theme (#16301)
  packages/apputils-extension/src/themesplugins.ts
Due: prettier, eslint

Upgrade CodeMirror dependencies (#16306)
  packages/cells/package.json
  packages/codemirror-extension/package.json
  packages/codemirror/package.json
  packages/codemirror/src/language.ts
  packages/completer/package.json
  packages/console/package.json
  packages/debugger/package.json
  packages/fileeditor-extension/package.json
  yarn.lock
Due: prettier, eslint

Add validation
  packages/apputils/src/sessioncontext.tsx
  packages/notebook-extension/src/index.ts
  packages/ui-components/src/components/customform.tsx
Due: prettier, eslint

Removes Ctrl Shift Q shortcut from command
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  packages/mainmenu-extension/schema/plugin.json
Due: prettier

Revert "Revert "Alternate description for disabled filters""
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
Due: prettier, eslint

Revert "Alternate description for disabled filters"
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
