Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Measure cells out of viewport in windowing mode (#15401)
  galata/test/jupyterlab/windowed-notebook.test.ts
  packages/notebook/package.json
  packages/notebook/src/widget.ts
  packages/notebook/src/windowing.ts
  packages/ui-components/src/components/windowedlist.ts
  yarn.lock
Due: prettier, eslint

snapshot changed
  galata/test/documentation/custom_css.test.ts-snapshots/custom-css-main-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/customized-notebook-toolbar-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/jupyterlab-documentation-linux.png
Due: none

Bump rspack packages
  builder/package.json
  dev_mode/package.json
  examples/app/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/federated/core_package/package.json
  examples/filebrowser/package.json
  examples/notebook/package.json
  examples/terminal/package.json
  packages/nbconvert-css/package.json
  packages/services/examples/browser/package.json
  packages/services/examples/typescript-browser-with-output/package.json
  packages/services/package.json
  packages/ui-components/examples/simple-windowed-list/package.json
  yarn.lock
Due: prettier

Add token `ICellExecutor` providing an entry to customize cell execution (#15830)
  galata/test/documentation/plugin_manager.test.ts-snapshots/plugin-manager-search-notebook-documentation-linux.png
  galata/test/documentation/plugins.test.ts-snapshots/plugins-documentation-linux.json
  galata/test/documentation/plugins.test.ts-snapshots/tokens-documentation-linux.json
  packages/console-extension/src/cellexecutor.ts
  packages/console-extension/src/index.ts
  packages/console/src/cellexecutor.ts
  packages/console/src/index.ts
  packages/console/src/panel.ts
  packages/console/src/tokens.ts
  packages/console/src/widget.ts
  packages/notebook-extension/src/cellexecutor.ts
  packages/notebook-extension/src/index.ts
  packages/notebook/src/actions.tsx
  packages/notebook/src/cellexecutor.ts
  packages/notebook/src/index.ts
  packages/notebook/src/tokens.ts
Due: prettier, eslint

screenshots changed
  galata/test/documentation/custom_css.test.ts-snapshots/custom-css-main-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/customized-notebook-toolbar-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/jupyterlab-documentation-linux.png
Due: none

snapshot changed
  galata/test/documentation/customization.test.ts-snapshots/customized-menu-bar-documentation-linux.png
Due: none

snapshot changed
  galata/test/documentation/customization.test.ts-snapshots/customized-context-menu-documentation-linux.png
Due: none

shadow dom element selected in playwrite plugin test case
  galata/test/documentation/plugin_manager.test.ts
Due: prettier, eslint

snapshot changed
  galata/test/documentation/general.test.ts-snapshots/running-layout-documentation-linux.png
Due: none

Revert "Alternate description for disabled filters"
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
Due: prettier, eslint

Revert "Revert "Alternate description for disabled filters""
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
Due: prettier, eslint

some snapshots changed
  galata/test/documentation/workspaces.test.ts-snapshots/workspaces-sidebar-documentation-linux.png
  galata/test/jupyterlab/notebook-run.test.ts-snapshots/notebook-panel-1-jupyterlab-linux.png
  galata/test/jupyterlab/readonly.test.ts-snapshots/readonly-jupyterlab-linux.png
Due: none

Add button role to close tab icon
  packages/ui-components/src/icon/widgets/tabbarsvg.ts
Due: prettier, eslint

Add todo comment
  packages/ui-components/src/icon/widgets/tabbarsvg.ts
Due: prettier, eslint

selected shadow dom in playwrite test cases
  galata/test/documentation/plugin_manager.test.ts
Due: prettier, eslint

Update packages/ui-components/src/icon/widgets/tabbarsvg.ts
  packages/ui-components/src/icon/widgets/tabbarsvg.ts
Due: prettier, eslint

snapshot changed
  galata/test/documentation/general.test.ts-snapshots/jupyterlab-documentation-linux.png
  galata/test/documentation/workspaces.test.ts-snapshots/workspaces-sidebar-documentation-linux.png
Due: none

snapshot changed
  galata/test/documentation/general.test.ts-snapshots/jupyterlab-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/running-layout-documentation-linux.png
Due: none

Fix named temporary file usage for windows
  jupyterlab/extensions/pypi.py
Due: none

snapshot changed
  galata/test/documentation/general.test.ts-snapshots/interface-right-common-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/running-layout-documentation-linux.png
  galata/test/documentation/workspaces.test.ts-snapshots/workspaces-sidebar-documentation-linux.png
Due: none

Use docker on CI to speed it up
  .github/workflows/linux.yml
  .github/workflows/linuxjs-tests.yml
  .github/workflows/linuxtests.yml
  docker/Dockerfile
  scripts/ci_install.sh
  scripts/ci_script.sh
Due: none

Fix JS and docs
  .github/workflows/linux.yml
  scripts/ci_script.sh
Due: none

Install playwright deps
  docker/Dockerfile
  jupyterlab/browser_check.py
Due: none

Fix user for playwright deps installation
  docker/Dockerfile
Due: none

Don't ignore dockerignore
  .dockerignore
Due: none

Fix some tests
  .github/workflows/linux.yml
  docker/Dockerfile
  jupyterlab/browser_check.py
Due: none

Add integration tests with sharding
  .github/workflows/galata.yml
  .github/workflows/linux.yml
  galata/playwright.config.js
  scripts/ci_script.sh
Due: prettier, eslint

Integrity fix
  jupyterlab/tests/mock_packages/test-hyphens-underscore/package.json
  jupyterlab/tests/mock_packages/test-hyphens/package.json
  jupyterlab/tests/mock_packages/test_no_hyphens/package.json
  yarn.lock
Due: prettier

Modernize mock hyphen packages
  jupyterlab/tests/mock_packages/test-hyphens-underscore/.copier-answers.yml
  jupyterlab/tests/mock_packages/test-hyphens-underscore/MANIFEST.in
  jupyterlab/tests/mock_packages/test-hyphens-underscore/package.json
  jupyterlab/tests/mock_packages/test-hyphens-underscore/pyproject.toml
  jupyterlab/tests/mock_packages/test-hyphens-underscore/setup.py
  jupyterlab/tests/mock_packages/test-hyphens/.copier-answers.yml
  jupyterlab/tests/mock_packages/test-hyphens/MANIFEST.in
  jupyterlab/tests/mock_packages/test-hyphens/package.json
  jupyterlab/tests/mock_packages/test-hyphens/pyproject.toml
  jupyterlab/tests/mock_packages/test-hyphens/setup.py
  jupyterlab/tests/mock_packages/test_no_hyphens/.copier-answers.yml
  jupyterlab/tests/mock_packages/test_no_hyphens/MANIFEST.in
  jupyterlab/tests/mock_packages/test_no_hyphens/package.json
  jupyterlab/tests/mock_packages/test_no_hyphens/pyproject.toml
  jupyterlab/tests/mock_packages/test_no_hyphens/setup.py
  package.json
Due: prettier

set CI env var when executing tests in docker
  .github/workflows/tests.yml
Due: none

Use a single workflow to orchestrate jobs by priority
  .github/workflows/linuxtests.yml
  .github/workflows/macostests.yml
  .github/workflows/tests.yml
  .github/workflows/windowstests.yml
Due: none

Fix git command not found
  docker/Dockerfile
Due: none

Ignore some path of mock extensions
  .gitignore
Due: none

Don't add browser arg to browser check
  jupyterlab/browser_check.py
Due: none

More fixes
  .github/workflows/tests.yml
Due: none

Fix hyphens packages config
  jupyterlab/tests/mock_packages/test-hyphens-underscore/pyproject.toml
  jupyterlab/tests/mock_packages/test-hyphens/pyproject.toml
  jupyterlab/tests/mock_packages/test_no_hyphens/pyproject.toml
Due: none

Set up volume to upload test assets
  .github/workflows/tests.yml
  examples/example_check.py
  galata/playwright.config.js
  scripts/ci_script.sh
Due: prettier, eslint

Fix installing playwright to merge reports
  .github/workflows/tests.yml
Due: none

Fix upload artifact path
  .github/workflows/tests.yml
Due: none

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
