Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
        exclude: galata/.*-snapshots
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.23.1
    hooks:
      - id: check-github-workflows

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.282
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

Add changes to Extension Migration Guide
  docs/source/extension/extension_migration.rst
Due: none

bump to mermaid 11.2.0
  packages/mermaid/package.json
  packages/mermaid/src/manager.ts
  packages/mermaid/src/tokens.ts
  tsconfigbase.json
  yarn.lock
Due: prettier, eslint

Use `inline-grid` for browser column positioning
  packages/filebrowser/src/listing.ts
  packages/filebrowser/style/base.css
Due: prettier, eslint, stylelint

add top-level resoluntion for type-fest
  package.json
  yarn.lock
Due: prettier

Clean up
  packages/filebrowser/src/listing.ts
  packages/filebrowser/style/base.css
Due: prettier, eslint, stylelint

update for marked api
  binder/environment.yml
  buildutils/src/ensure-repo.ts
  package.json
  packages/markedparser-extension/package.json
  packages/markedparser-extension/src/index.ts
  packages/mermaid/src/manager.ts
  pyproject.toml
  yarn.lock
Due: prettier, eslint

add naive detection and lazy-loading of elk
  packages/mermaid/src/manager.ts
Due: prettier, eslint

bump to typedoc 0.26 (uses markdown-it)
  package.json
  yarn.lock
Due: prettier

fix some docs warnings/errors
  docs/source/conf.py
  packages/application/src/frontend.ts
  packages/apputils/src/widgettracker.ts
  packages/filebrowser/src/listing.ts
  packages/lsp/src/adapters/tracker.ts
  packages/lsp/src/tokens.ts
  packages/statedb/src/dataconnector.ts
  packages/statedb/src/interfaces.ts
  packages/statedb/src/restorablepool.ts
  typedoc.js
Due: prettier, eslint

Improve padding on edge column headers (by only removing code!)
  packages/filebrowser/style/base.css
Due: prettier, stylelint

Improve performance and reliability of logic accounting for scrollbar
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

broken, but keeping for reference
  .eslintignore
  .stylelintignore
  README.md
  package.json
  packages/apputils/src/dialog.tsx
  packages/codemirror/src/extensions/ybinding.ts
  packages/csvviewer/src/model.ts
  packages/debugger/src/tokens.ts
  packages/logconsole/src/registry.ts
  packages/rendermime/src/registry.ts
  packages/rendermime/src/tokens.ts
  packages/services/src/contents/index.ts
  packages/services/src/kernel/kernel.ts
  packages/ui-components/src/icon/labicon.tsx
  typedoc.js
  yarn.lock
Due: prettier, eslint

Move ContentProviderRegistry initialization to attribute definitions
  packages/services/src/contents/index.ts
Due: prettier, eslint

Wording
  packages/services/src/contents/index.ts
Due: prettier, eslint

Update packages/services/src/contents/index.ts
  packages/services/src/contents/index.ts
Due: prettier, eslint

Review
  packages/services/src/contents/index.ts
Due: prettier, eslint

Removes mention of Python 2
  README.md
  docs/source/getting_started/installation.rst
Due: none

Add back optional IDrive.sharedModelFactory
  packages/services/src/contents/index.ts
Due: prettier, eslint

Add test
  packages/services/test/contents/index.spec.ts
Due: prettier, eslint

Remove Python 2 from documentation (#16771)
  README.md
  docs/source/getting_started/installation.rst
Due: none

Fix compatibility with `jupyterlab-unfold` (#16763)
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

Update snapshots
  galata/test/documentation/custom_css.test.ts-snapshots/custom-css-main-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-terminal-position-single-documentation-linux.png
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-menu-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-editor-overview-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/jupyterlab-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/terminal-layout-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-chinese-documentation-linux.png
  galata/test/documentation/overview.test.ts-snapshots/interface-jupyterlab-documentation-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/dark-theme-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/launch-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/simple-mode-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/filebrowser-right-jupyterlab-linux.png
Due: none

Clarify mandatory steps in dev installation. Modify error message. (#16761)
  docs/source/developer/contributing.rst
  jupyterlab/commands.py
Due: none

Update based on review comment
  docs/source/extension/extension_migration.rst
Due: none

Apply suggestions from code review
  docs/source/extension/extension_migration.rst
  packages/cells/src/model.ts
Due: prettier, eslint

One more snapshot update
  galata/test/documentation/customization.test.ts-snapshots/customized-terminal-position-single-documentation-linux.png
Due: none

Fix compatibility with server-side execution extensions (#16764)
  docs/source/extension/extension_migration.rst
  packages/cells/src/model.ts
Due: prettier, eslint

Adjust the alignment and cursor of the running session icons in the status bar (#16748)
  galata/test/documentation/custom_css.test.ts-snapshots/custom-css-main-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/customized-terminal-position-single-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-terminal-position-single-documentation-linux.png
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-menu-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-editor-overview-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/jupyterlab-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/terminal-layout-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-chinese-documentation-linux.png
  galata/test/documentation/overview.test.ts-snapshots/interface-jupyterlab-documentation-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/dark-theme-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/launch-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/simple-mode-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/filebrowser-right-jupyterlab-linux.png
  packages/apputils/src/runningSessions.tsx
Due: prettier, eslint

Shutdown item in running panel is broken Fixes #16645
  packages/running/src/index.tsx
  packages/running/style/base.css
Due: prettier, eslint, stylelint

Update `Show Virtual Scrollbar` -> `Show Minimap`
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Apply review comment
  packages/running/src/index.tsx
Due: prettier, eslint

Fix shutdown kernel button in running panel (#16775)
  packages/running/src/index.tsx
  packages/running/style/base.css
Due: prettier, eslint, stylelint

Make contentProviderRegistry not a static Drive attribute
  packages/services/src/contents/index.ts
  packages/services/test/contents/index.spec.ts
Due: prettier, eslint

Get REST content provider configuration from its drive
  packages/services/src/contents/index.ts
Due: prettier, eslint

Remove drive reference in content providers
  packages/services/src/contents/index.ts
Due: prettier, eslint

Align ruff and ignore notebook files
  .pre-commit-config.yaml
  jupyterlab/handlers/announcements.py
  pyproject.toml
Due: none

Dedupe yarn.lock
  yarn.lock
Due: none
