Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

Fix plugin activation
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Make session dialogs and translator tokens optional
  packages/apputils-extension/src/statusbarplugin.ts
  packages/console-extension/src/index.ts
  packages/docmanager-extension/src/index.tsx
  packages/fileeditor-extension/src/index.ts
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Add more integration tests
  galata/test/jupyterlab/kernel.test.ts
Due: prettier, eslint

add assistive-mml MathJax extension for accessibility
  galata/test/documentation/export_notebook.test.ts
  packages/mathjax-extension/src/index.ts
Due: prettier, eslint

fix math renderer selectors
  galata/test/documentation/export_notebook.test.ts
Due: prettier, eslint

Fix save as dialog with drive
  packages/docregistry/src/context.ts
Due: prettier, eslint

Update jupyter_collaboration on binder
  binder/environment.yml
Due: none

Fix save as in collaborative mode (#14182)
  binder/environment.yml
  packages/docmanager-extension/src/index.tsx
  packages/docregistry/src/context.ts
  packages/docregistry/test/context.spec.ts
Due: prettier, eslint

Update jupyter-lsp and associated schema
  packages/lsp/src/schema.ts
  pyproject.toml
Due: prettier, eslint

Add note for jest configuration and JLab 3.6
  docs/source/extension/extension_migration.rst
Due: none

Add note for jest configuration and JLab 3.6 (#14207)
  docs/source/extension/extension_migration.rst
Due: none

Backport PR #14182: Fix save as in collaborative mode
  packages/docmanager-extension/src/index.tsx
  packages/docregistry/src/context.ts
  packages/docregistry/test/context.spec.ts
Due: prettier, eslint

Backport PR #14207: Add note for jest configuration and JLab 3.6
  docs/source/extension/extension_migration.rst
Due: none

Load Python CM parser asynchronously (#14198)
  packages/codemirror/src/language.ts
Due: prettier, eslint

Wait for notebook to close
  galata/test/jupyterlab/kernel.test.ts
Due: prettier, eslint

Update snapshots
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-menu-documentation-linux.png
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-slide-type-documentation-linux.png
  galata/test/jupyterlab/notebook-markdown.test.ts-snapshots/do-not-highlight-not-latex-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-markdown.test.ts-snapshots/do-not-highlight-standalone-dollar-jupyterlab-linux.png
Due: none

Backport PR #14207: Add note for jest configuration and JLab 3.6 (#14210)
  docs/source/extension/extension_migration.rst
Due: none

Fixes saving with the same name
  packages/docmanager-extension/src/index.tsx
Due: prettier, eslint

CodeMirror packages has singletons (#14199)
  dev_mode/package.json
Due: prettier

Run kernel on cell execution when no kernel (#12858)
  docs/source/extension/extension_migration.rst
  examples/cell/src/index.ts
  examples/notebook/src/commands.ts
  galata/test/jupyterlab/kernel.test.ts
  packages/apputils-extension/src/index.ts
  packages/apputils-extension/src/statusbarplugin.ts
  packages/apputils/src/sessioncontext.tsx
  packages/apputils/src/toolbar/widget.tsx
  packages/apputils/test/sessioncontext.spec.ts
  packages/apputils/test/toolbar.spec.ts
  packages/console-extension/src/index.ts
  packages/console/src/panel.ts
  packages/debugger-extension/src/index.ts
  packages/docmanager-extension/src/index.tsx
  packages/docmanager/src/manager.ts
  packages/docregistry/src/context.ts
  packages/docregistry/src/default.ts
  packages/docregistry/src/registry.ts
  packages/fileeditor-extension/src/commands.ts
  packages/fileeditor-extension/src/index.ts
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/actions.tsx
  packages/notebook/src/default-toolbar.tsx
  packages/notebook/src/panel.ts
  packages/notebook/src/testutils.ts
  packages/notebook/src/widgetfactory.ts
  packages/notebook/test/actions.spec.ts
Due: prettier, eslint

Review
  packages/docregistry/src/context.ts
  packages/docregistry/test/context.spec.ts
Due: prettier, eslint

update 'completer with doc panel' snapshot
  galata/test/jupyterlab/completer.test.ts-snapshots/completer-with-doc-panel-jupyterlab-linux.png
Due: none

Update ESLint dependencies
  package.json
  yarn.lock
Due: prettier

lint
  packages/application/test/shell.spec.ts
  packages/apputils/test/semanticCommand.spec.ts
  packages/apputils/test/toolbar.spec.ts
  packages/codemirror/test/factory.spec.ts
  packages/docregistry/test/context.spec.ts
  packages/docregistry/test/registry.spec.ts
  packages/lsp/test/connection_manager.spec.ts
  packages/lsp/test/document.spec.ts
  packages/metapackage/test/completer/reconciliator.spec.ts
  packages/metapackage/test/completer/widget.spec.ts
  packages/metapackage/test/rendermime/registry.spec.ts
  packages/notebook/test/widget.spec.ts
  packages/services/test/contents/validate.spec.ts
  packages/services/test/kernel/comm.spec.ts
  packages/services/test/kernel/ikernel.spec.ts
  packages/services/test/kernel/validate.spec.ts
  packages/services/test/kernelspec/validate.spec.ts
  packages/services/test/session/validate.spec.ts
  packages/statusbar/test/statusbar.spec.ts
  packages/ui-components/test/menu.spec.ts
  packages/ui-components/test/toolbar.spec.ts
Due: prettier, eslint

Fix compile error
  packages/notebook/src/actions.tsx
Due: prettier, eslint

Fix unsafe access of output field
  packages/cells/src/widget.ts
Due: prettier, eslint

Check for changes in input/output
  packages/cells/src/widget.ts
Due: prettier, eslint

Add classname for span
  packages/cells/src/placeholder.ts
  packages/cells/style/placeholder.css
Due: prettier, eslint

Remove extra selectors
  packages/cells/style/placeholder.css
Due: prettier

update 'completer with doc panel' snapshot (#14214)
  galata/test/jupyterlab/completer.test.ts-snapshots/completer-with-doc-panel-jupyterlab-linux.png
Due: none

Update jupyter-lsp and associated schema (#14208)
  packages/lsp/src/schema.ts
  pyproject.toml
Due: prettier, eslint

Add test for dismissed save as dialog
  packages/docregistry/test/context.spec.ts
Due: prettier, eslint

Update ESLint dependencies (#14216)
  package.json
  packages/application/test/shell.spec.ts
  packages/apputils/test/semanticCommand.spec.ts
  packages/apputils/test/toolbar.spec.ts
  packages/codemirror/test/factory.spec.ts
  packages/docregistry/test/context.spec.ts
  packages/docregistry/test/registry.spec.ts
  packages/lsp/test/connection_manager.spec.ts
  packages/lsp/test/document.spec.ts
  packages/metapackage/test/completer/reconciliator.spec.ts
  packages/metapackage/test/completer/widget.spec.ts
  packages/metapackage/test/rendermime/registry.spec.ts
  packages/notebook/test/widget.spec.ts
  packages/services/test/contents/validate.spec.ts
  packages/services/test/kernel/comm.spec.ts
  packages/services/test/kernel/ikernel.spec.ts
  packages/services/test/kernel/validate.spec.ts
  packages/services/test/kernelspec/validate.spec.ts
  packages/services/test/session/validate.spec.ts
  packages/statusbar/test/statusbar.spec.ts
  packages/ui-components/test/menu.spec.ts
  packages/ui-components/test/toolbar.spec.ts
  yarn.lock
Due: prettier, eslint

Fix save as without changing the file name (#14212)
  packages/docmanager-extension/src/index.tsx
  packages/docregistry/src/context.ts
  packages/docregistry/test/context.spec.ts
Due: prettier, eslint

ran steps 7-9 of yarn 1x -> 3x migration guide, finished migration
  .gitignore
  jupyterlab/staging/yarn.js
  packages/metapackage/package.json
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
