Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
        exclude: galata/.*-snapshots
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.23.1
    hooks:
      - id: check-github-workflows

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.282
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

Made naming more consistent
  dev_mode/package.json
  packages/metapackage/package.json
  packages/metapackage/tsconfig.json
  packages/metapackage/tsconfig.test.json
  packages/theme-dark-high-contrast-extension/README.md
  packages/theme-dark-high-contrast-extension/package.json
  packages/theme-dark-high-contrast-extension/src/index.ts
  packages/theme-dark-high-contrast-extension/style/index.css
  packages/theme-dark-high-contrast-extension/style/index.js
  packages/theme-dark-high-contrast-extension/style/theme.css
  packages/theme-dark-high-contrast-extension/style/variables.css
  packages/theme-dark-high-contrast-extension/tsconfig.json
  packages/theme-dark-high-contrast-extension/typedoc.json
  packages/theme-high-contrast-extension/typedoc.json
  tsconfigdoc.json
  yarn.lock
Due: prettier, eslint, stylelint

Updated naming in test helpers
  galata/src/helpers/theme.ts
  galata/test/jupyterlab/general.test.ts
Due: prettier, eslint

Lint
  README.md
Due: none

Update snapshots
  galata/test/documentation/general.test.ts-snapshots/running-layout-documentation-linux.png
  galata/test/documentation/overview.test.ts-snapshots/interface-tabs-documentation-linux.png
Due: none

remove test for shortcuts list focus
  galata/test/jupyterlab/settings.test.ts
Due: prettier, eslint

Add end of maintenance date to README (#15920)
  README.md
Due: none

Allow to customise directory and notebook icon (#15828)
  packages/docregistry/src/registry.ts
  packages/docregistry/test/registry.spec.ts
Due: prettier, eslint

Short-circuit `selectItemByName()` if already selected
  packages/filebrowser/src/listing.ts
  packages/filebrowser/test/listing.spec.ts
Due: prettier, eslint

Allow forcing the side-effects for internal logic ensuring focus after rename
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

Update Release Scripts
  .github/workflows/prep-release.yml
  .github/workflows/publish-changelog.yml
  .github/workflows/publish-release.yml
Due: none

restore usage of npm token
  .github/workflows/publish-release.yml
Due: none

added arrow functionality between buttons
  galata/test/jupyterlab/settings.test.ts
  packages/shortcuts-extension/src/components/ShortcutItem.tsx
  packages/shortcuts-extension/src/components/ShortcutList.tsx
Due: prettier, eslint

snapshots changes
  Untitled.ipynb
  galata/test/jupyterlab/general.test.ts-snapshots/launch-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/simple-mode-jupyterlab-linux.png
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-sidebar-extensionmanager-main-view-jupyterlab-linux.png
Due: none

Arrow nav between reset buttons and test refactor
  galata/test/jupyterlab/settings.test.ts
  packages/shortcuts-extension/src/components/ShortcutItem.tsx
Due: prettier, eslint

Add custom hest-env
  packages/testing/src/jest-config.ts
  packages/testing/src/jest-env.ts
Due: prettier, eslint

remove custom node_version override
  .github/workflows/linuxjs-tests.yml
Due: none

Handle drives for checkpoints in `ContentsManagerMock`
  packages/services/src/testutils.ts
Due: prettier, eslint

Fix browser-test.js (#15892)
  jupyterlab/browser-test.js
Due: prettier, eslint

Backport PR #15892: Fix browser-test.js
  jupyterlab/browser-test.js
Due: prettier, eslint

shift tab test refactor class selector
  galata/test/jupyterlab/settings.test.ts
Due: prettier, eslint

snapshot changes
  galata/test/jupyterlab/general.test.ts-snapshots/dark-theme-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/filebrowser-right-jupyterlab-linux.png
Due: none

Revert "Alternate description for disabled filters"
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
Due: prettier, eslint

Revert "Revert "Alternate description for disabled filters""
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
Due: prettier, eslint

Uses the browser window's selection as the default search query
  packages/notebook/src/searchprovider.ts
Due: prettier, eslint

test: Add UI test for Render Switch Kernel ToolbarButton in dark theme
  galata/test/jupyterlab/toolbars.test.ts
Due: prettier, eslint

added some changes
  galata/test/jupyterlab/readonly.test.ts-snapshots/readonly-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-filebrowser-jupyterlab-linux.png
Due: none

Align with empty status text
  packages/docregistry/test/context.spec.ts
  packages/services/test/config/config.spec.ts
  packages/services/test/contents/index.spec.ts
  packages/services/test/kernel/ikernel.spec.ts
  packages/services/test/kernel/kernel.spec.ts
  packages/services/test/kernelspec/kernelspec.spec.ts
  packages/services/test/serverconnection.spec.ts
Due: prettier, eslint

arrow nav test refactor
  galata/test/jupyterlab/settings.test.ts
Due: prettier, eslint

Update to `@jupyter/ydoc` v2.0.1
  examples/cell/package.json
  examples/console/package.json
  examples/notebook/package.json
  packages/cell-toolbar/package.json
  packages/cells/package.json
  packages/codeeditor/package.json
  packages/codemirror-extension/package.json
  packages/codemirror/package.json
  packages/completer/package.json
  packages/console/package.json
  packages/debugger/package.json
  packages/docregistry/package.json
  packages/fileeditor/package.json
  packages/notebook-extension/package.json
  packages/notebook/package.json
  packages/services/package.json
  yarn.lock
Due: prettier

Update Release Scripts (#15973)
  .github/workflows/prep-release.yml
  .github/workflows/publish-changelog.yml
  .github/workflows/publish-release.yml
Due: none

Short-circuit `selectItemByName()` if already selected (#15970)
  packages/filebrowser/src/listing.ts
  packages/filebrowser/test/listing.spec.ts
Due: prettier, eslint

Backport PR #15970: Short-circuit `selectItemByName()` if already selected
  packages/filebrowser/src/listing.ts
  packages/filebrowser/test/listing.spec.ts
Due: prettier, eslint

Backport PR #15860: Show outline on the full item in file browser, only when needed
  galata/test/documentation/internationalization.test.ts-snapshots/language-chinese-documentation-linux.png
  packages/filebrowser/style/base.css
Due: prettier, stylelint

Update packages/application/style/menus.css
  packages/application/style/menus.css
Due: prettier, stylelint

Update packages/filebrowser/style/base.css
  packages/filebrowser/style/base.css
Due: prettier, stylelint

Backport PR #15892: Fix browser-test.js (#15975)
  jupyterlab/browser-test.js
Due: prettier, eslint

Backport PR #15970: Short-circuit `selectItemByName()` if already selected (#15983)
  packages/filebrowser/src/listing.ts
  packages/filebrowser/test/listing.spec.ts
Due: prettier, eslint

Backport PR #15892: Fix browser-test.js (#15976)
  jupyterlab/browser-test.js
Due: prettier, eslint
