Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
        exclude: galata/.*-snapshots
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.23.1
    hooks:
      - id: check-github-workflows

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.282
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

Enforce readonly on serviceManager in the app
  packages/application/src/frontend.ts
  packages/application/src/lab.ts
Due: prettier, eslint

Revert unwanted snapshot change
  galata/test/benchmark/notebook.spec.ts-snapshots/large-md-notebook-ipynb-benchmark-linux.png
  galata/test/jupyterlab/notebook-markdown.test.ts-snapshots/do-not-highlight-not-latex-jupyterlab-linux.png
Due: none

Fix import and plugin typings
  packages/application-extension/src/connectionstatus.ts
  packages/application-extension/src/defaultdrive.ts
  packages/application-extension/src/serversettings.ts
  packages/application-extension/src/services.ts
Due: prettier, eslint

Scope CSS rules to a new `.jp-ThemedContainer` class (#16519)
  dev_mode/templates/template.html
  docs/source/extension/extension_migration.rst
  examples/cell/index.css
  examples/cell/src/index.ts
  examples/console/src/index.ts
  examples/filebrowser/src/index.ts
  examples/notebook/src/index.ts
  examples/terminal/src/index.ts
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/regexp-parsing-failure-jupyterlab-linux.png
  packages/application/src/frontend.ts
  packages/application/style/buttons.css
  packages/application/style/core.css
  packages/application/style/menus.css
  packages/apputils-extension/src/notificationplugin.tsx
  packages/apputils/src/commandpalette.ts
  packages/apputils/src/dialog.tsx
  packages/apputils/style/commandpalette.css
  packages/apputils/style/dialog.css
  packages/completer/src/inline.ts
  packages/completer/src/widget.ts
  packages/inspector/style/base.css
  packages/outputarea/style/base.css
  packages/rendermime/style/base.css
  packages/statusbar/src/components/hover.tsx
  packages/theme-dark-extension/style/theme.css
  packages/theme-dark-high-contrast-extension/style/theme.css
  packages/theme-light-extension/style/theme.css
  packages/theme-light-extension/style/urls.css
  packages/tooltip/src/widget.ts
  packages/ui-components/examples/simple-windowed-list/src/index.ts
  packages/ui-components/src/components/menu.ts
  packages/ui-components/src/components/toolbar.tsx
  packages/ui-components/src/icon/widgets/menusvg.ts
  packages/ui-components/style/base.css
Due: prettier, eslint, stylelint

Fix typing
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Merge pull request from GHSA-5j4v-pr82-qg68
  .github/workflows/auto_author_assign.yml
  .github/workflows/benchmark-report.yml
  .github/workflows/benchmark.yml
  .github/workflows/enforce-label.yml
  .github/workflows/galata-update.yml
  .github/workflows/labeler.yml
  .github/workflows/license-header.yml
Due: none

Restore previous run conditions
  .github/workflows/benchmark-report.yml
Due: none

Add error message if short-circuiting
  .github/workflows/galata-update.yml
Due: none

Change `updated-at` to `pushed-at`
  .github/workflows/galata-update.yml
Due: none

Add missing `path: core`
  .github/workflows/galata-update.yml
Due: none

Checkout branch and validate SHA
  .github/workflows/galata-update.yml
Due: none

Fix galata update action (#16560)
  .github/workflows/galata-update.yml
Due: none

removes unintended changes
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/plugins.test.ts-snapshots/plugins-documentation-linux.json
Due: prettier

fix
  galata/test/documentation/plugins.test.ts-snapshots/plugins-documentation-linux.json
Due: prettier

Standardize Property Inspector placeholder according to TOC
  packages/property-inspector/src/index.ts
  packages/property-inspector/style/base.css
Due: prettier, eslint, stylelint

Update JupyterLab wordmark color
  packages/ui-components/style/icons/jupyter/jupyterlab-wordmark.svg
Due: none

Adopt the --jp-border-radius variable in missing input fields
  packages/ui-components/style/base.css
  packages/ui-components/style/styling.css
Due: prettier, stylelint

Restore previous run conditions (#16559)
  .github/workflows/benchmark-report.yml
Due: none

Add placeholder headline and update placeholder text for the Property Inspector
  packages/property-inspector/src/index.ts
  packages/property-inspector/style/base.css
Due: prettier, eslint, stylelint

Update JupyterLab wordmark color (#16567)
  packages/ui-components/style/icons/jupyter/jupyterlab-wordmark.svg
Due: none

Backport PR #16567: Update JupyterLab wordmark color
  packages/ui-components/style/icons/jupyter/jupyterlab-wordmark.svg
Due: none

Backport PR #16567: Update JupyterLab wordmark color (#16570)
  packages/ui-components/style/icons/jupyter/jupyterlab-wordmark.svg
Due: none

Add custom env form
  packages/apputils/src/custom_env.tsx
  packages/apputils/src/sessioncontext.tsx
Due: prettier, eslint

Update snapshot
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-jp-property-inspector-jupyterlab-linux.png
Due: none

Adopt the --jp-border-radius variable in missing input fields (#16568)
  packages/ui-components/style/base.css
  packages/ui-components/style/styling.css
Due: prettier, stylelint

Standardize Property Inspector placeholder according to TOC (#16566)
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-jp-property-inspector-jupyterlab-linux.png
  packages/property-inspector/src/index.ts
  packages/property-inspector/style/base.css
Due: prettier, eslint, stylelint

added name and changed and reimplemented label
  packages/running-extension/src/kernels.tsx
  packages/running/style/base.css
Due: prettier, eslint, stylelint

Refactor per Fred's suggestion
  packages/apputils/src/sessioncontext.tsx
  packages/apputils/test/sessioncontext.spec.ts
Due: prettier, eslint

no reify
  packages/apputils/src/sessioncontext.tsx
  packages/apputils/test/sessioncontext.spec.ts
Due: prettier, eslint

Add crossorigin anonymous to GitHub images
  packages/extensionmanager/src/widget.tsx
Due: prettier, eslint

dedupe
  packages/apputils/src/sessioncontext.tsx
Due: prettier, eslint

tweak
  packages/apputils/src/sessioncontext.tsx
Due: prettier, eslint

Standardize Contextual Help placeholder according to TOC
  packages/inspector/src/inspector.ts
  packages/inspector/style/base.css
Due: prettier, eslint, stylelint

Update Extension Migration Guide
  docs/source/extension/extension_migration.rst
Due: none

Add link from jupyterlab to jupyterserver for passing custom env variables
  packages/apputils/src/sessioncontext.tsx
  packages/console/src/panel.ts
  packages/docregistry/src/context.ts
  packages/docregistry/src/registry.ts
  packages/notebook-extension/src/index.ts
  packages/services/src/kernel/restapi.ts
Due: prettier, eslint

added custom widget checkbox
  packages/ui-components/src/components/form.tsx
Due: prettier, eslint

changes in form.tsx file
  packages/ui-components/src/components/form.tsx
Due: prettier, eslint

updated form.tsx file
  packages/ui-components/src/components/form.tsx
Due: prettier, eslint

add properties to form.tsx
  packages/ui-components/src/components/form.tsx
Due: prettier, eslint
