Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

WIP: Reimplements column resizing using variable names, still needs to truncate
  packages/filebrowser/src/listing.ts
  packages/filebrowser/style/base.css
Due: prettier, eslint, stylelint

Improve notebook output stream processing
  packages/outputarea/src/model.ts
Due: prettier, eslint

Improve notebook output stream processing (#16814)
  packages/outputarea/src/model.ts
Due: prettier, eslint

Add performance test for adding stream text
  packages/outputarea/test/model.spec.ts
Due: prettier, eslint

Update examples UI tests snapshots
  examples/app/example.spec.ts-snapshots/example-linux.png
  examples/federated/example.spec.ts-snapshots/example-linux.png
  examples/filebrowser/example.spec.ts-snapshots/example-linux.png
Due: none

Fix: Prevent text cursor on clickable items in settings (#16811)
  packages/settingeditor/style/base.css
  packages/shortcuts-extension/style/base.css
Due: prettier, stylelint

Iterate in blocks, not character by character
  packages/outputarea/src/model.ts
Due: prettier, eslint

Fix linting
  packages/outputarea/src/model.ts
Due: prettier, eslint

Allow starting the browser_check in headed mode (#16810)
  jupyterlab/browser-test.js
Due: prettier, eslint

Update examples UI tests snapshots (#16816)
  examples/app/example.spec.ts-snapshots/example-linux.png
  examples/federated/example.spec.ts-snapshots/example-linux.png
  examples/filebrowser/example.spec.ts-snapshots/example-linux.png
Due: none

Improve performance of concatenating stream strings (#16815)
  packages/outputarea/src/model.ts
  packages/outputarea/test/model.spec.ts
Due: prettier, eslint

Bumpy jupyter-ydoc to 3.0.0a8
  examples/cell/package.json
  examples/console/package.json
  examples/notebook/package.json
  packages/cell-toolbar/package.json
  packages/cells/package.json
  packages/codeeditor/package.json
  packages/codemirror-extension/package.json
  packages/codemirror/package.json
  packages/completer/package.json
  packages/console/package.json
  packages/debugger/package.json
  packages/docregistry/package.json
  packages/fileeditor/package.json
  packages/notebook-extension/package.json
  packages/notebook/package.json
  packages/services/package.json
  yarn.lock
Due: prettier

Update `Show Virtual Scrollbar` -> `Show Minimap` (#16776)
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Fix `yarn.lock` deduplication check
  yarn.lock
Due: none

Bump jupyter-ydoc to 3.0.0a8 (#16817)
  examples/cell/package.json
  examples/console/package.json
  examples/notebook/package.json
  packages/cell-toolbar/package.json
  packages/cells/package.json
  packages/codeeditor/package.json
  packages/codemirror-extension/package.json
  packages/codemirror/package.json
  packages/completer/package.json
  packages/console/package.json
  packages/debugger/package.json
  packages/docregistry/package.json
  packages/fileeditor/package.json
  packages/notebook-extension/package.json
  packages/notebook/package.json
  packages/services/package.json
  yarn.lock
Due: prettier

WIP: Resizing at header level
  packages/filebrowser/src/listing.ts
  packages/filebrowser/style/base.css
Due: prettier, eslint, stylelint

WIP: Resizing content grid and header grid at once
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

WIP: Enlarges minimum widths
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

WIP: Fix ellipses for item names
  packages/filebrowser/style/base.css
Due: prettier, stylelint

Allows file information columns to grow
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

Reduces contents grid size to avoid scrolling
  packages/filebrowser/style/base.css
Due: prettier, stylelint

Remove handlebars with yarn remove
  package.json
  yarn.lock
Due: prettier

Fix plugins UI test
  galata/test/documentation/plugins.test.ts
Due: prettier, eslint

Fix menu overflow
  packages/application/style/menus.css
  packages/apputils/style/dialog.css
Due: prettier, stylelint

Update some snapshots
  galata/test/jupyterlab/metadataform.test.ts-snapshots/metadata-required-missing-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-in-selected-cells-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-in-selected-text-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-in-two-selected-cells-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-jp-debugger-sidebar-jupyterlab-linux.png
Due: none

More lumino plugin fixes
  galata/extension/src/global.ts
Due: prettier, eslint

Support `||` in the `update:dependency` script
  buildutils/src/update-dependency.ts
Due: prettier, eslint

Deduplicate
  yarn.lock
Due: none

Integrity
  yarn.lock
Due: none

Support `||` in the `update:dependency` script (#16821)
  buildutils/src/update-dependency.ts
Due: prettier, eslint

Apply more CSS changes
  packages/filebrowser/style/base.css
  packages/ui-components/style/sidepanel.css
Due: prettier, stylelint

Removes placeholder values for column sizes from CSS
  packages/filebrowser/style/base.css
Due: prettier, stylelint

Updates comments per feedback
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

fix/text-visibility-on-file-names
  packages/filebrowser/style/base.css
Due: prettier, stylelint

Add note about the lm-Widget CSS change
  docs/source/extension/extension_migration.rst
Due: none

Update docs/source/extension/extension_migration.rst
  docs/source/extension/extension_migration.rst
Due: none

WIP: Styles run button in cells
  packages/cells/src/inputarea.ts
  packages/cells/style/inputarea.css
Due: prettier, eslint, stylelint

Revert "Revert "Alternate description for disabled filters""
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
