Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
        exclude: galata/.*-snapshots
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.23.1
    hooks:
      - id: check-github-workflows

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.282
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

Update .github/dependabot.yml
  .github/dependabot.yml
Due: none

changed colour of highlight to fit contrast
  packages/filebrowser/style/base.css
Due: prettier, stylelint

removed caption
  packages/application-extension/src/index.tsx
Due: prettier, eslint

changed colour of highlight to fit contrast
  packages/launcher-extension/style/base.css
Due: prettier, stylelint

When the virtual scrollbar command is checked, make sure its effects propagate to the all notebooks
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Address review comments: remove tag names from CSS selectors, fix wrong selector in galata test, update migration guide
  docs/source/extension/extension_migration.rst
  galata/test/jupyterlab/windowed-notebook.test.ts
  packages/ui-components/src/components/windowedlist.ts
  packages/ui-components/style/windowedlist.css
Due: prettier, eslint, stylelint

Fix notebook footer by adding it to the windowed list outer node h/t @krassowski
  packages/notebook/src/windowing.ts
  packages/ui-components/src/components/windowedlist.ts
Due: prettier, eslint

Add virtual scrollbar component to windowed lists.
  docs/source/developer/performance.rst
  docs/source/extension/extension_migration.rst
  examples/notebook/src/index.ts
  galata/src/helpers/notebook.ts
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/general.test.ts-snapshots/jupyterlab-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/running-layout-documentation-linux.png
  galata/test/jupyterlab/debugger.test.ts-snapshots/image-debug-session-global-variables-jupyterlab-linux.png
  galata/test/jupyterlab/debugger.test.ts-snapshots/start-debug-session-sources-jupyterlab-linux.png
  galata/test/jupyterlab/debugger.test.ts-snapshots/start-debug-session-variables-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-markdown.test.ts-snapshots/render-mermaid-flowchart-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run-mermaid.test.ts-snapshots/run-cells-dark-mermaid-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run-mermaid.test.ts-snapshots/run-cells-mermaid-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-in-two-selected-cells-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-on-deleted-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-on-new-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-within-outputs-jupyterlab-linux.png
  galata/test/jupyterlab/readonly.test.ts-snapshots/readonly-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-jp-running-sessions-jupyterlab-linux.png
  galata/test/jupyterlab/windowed-notebook.test.ts
  packages/lsp/src/adapters/tracker.ts
  packages/notebook-extension/schema/panel.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/searchprovider.ts
  packages/notebook/src/widget.ts
  packages/notebook/src/windowing.ts
  packages/notebook/style/base.css
  packages/pluginmanager-extension/package.json
  packages/ui-components/src/components/toolbar.tsx
  packages/ui-components/src/components/windowedlist.ts
  packages/ui-components/style/windowedlist.css
Due: prettier, eslint, stylelint

Update galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
Due: prettier

Add global keyboard shortcuts for all tab bar widgets (#14799)
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-view-appearance-jupyterlab-linux.png
  packages/application-extension/schema/commands.json
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Update packages/statusbar/src/statusbar.ts
  packages/statusbar/src/statusbar.ts
Due: prettier, eslint

Ignore `ipython` in dependabot updates (#15528)
  .github/dependabot.yml
Due: none

Update `actions/upload-artifact` and `action/download-artifact`
  .github/workflows/benchmark.yml
  .github/workflows/check-release.yml
  .github/workflows/galata.yml
  .github/workflows/linuxtests.yml
Due: none

Restore some CSS rules for backward compatibility (#15530)
  docs/source/extension/extension_migration.rst
  packages/ui-components/style/toolbar.css
Due: prettier, stylelint

Improve scrolling to heading (#15386)
  galata/test/jupyterlab/toc-scrolling.test.ts
  galata/test/jupyterlab/toc-scrolling.test.ts-snapshots/scrolled-to-bottom-heading-jupyterlab-linux.png
  packages/codemirror/src/editor.ts
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/toc.ts
  packages/toc/src/model.ts
Due: prettier, eslint

Revert snapshot changes
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/general.test.ts-snapshots/jupyterlab-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/running-layout-documentation-linux.png
  galata/test/jupyterlab/debugger.test.ts-snapshots/image-debug-session-global-variables-jupyterlab-linux.png
  galata/test/jupyterlab/debugger.test.ts-snapshots/start-debug-session-sources-jupyterlab-linux.png
  galata/test/jupyterlab/debugger.test.ts-snapshots/start-debug-session-variables-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-markdown.test.ts-snapshots/render-mermaid-flowchart-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run-mermaid.test.ts-snapshots/run-cells-dark-mermaid-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run-mermaid.test.ts-snapshots/run-cells-mermaid-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-in-two-selected-cells-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-on-deleted-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-on-new-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-within-outputs-jupyterlab-linux.png
  galata/test/jupyterlab/readonly.test.ts-snapshots/readonly-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-jp-running-sessions-jupyterlab-linux.png
Due: prettier

Fix scroll past end
  packages/notebook/style/base.css
Due: prettier, stylelint

render aria label for keyboard shortcut punctuation
  packages/apputils-extension/src/shortcuts.tsx
  packages/shortcuts-extension/test/shortcuts.spec.ts
Due: prettier, eslint

fixed conflict of file
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-view-appearance-jupyterlab-linux.png
Due: none

Clarify labels for user inputs and link dangling labels (#15222)
  galata/test/documentation/extension_manager.test.ts
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-default-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-disabled-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-enabled-documentation-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-extensionmanager-main-view-jupyterlab-linux.png
  packages/codeeditor/package.json
  packages/codeeditor/src/lineCol.tsx
  packages/codeeditor/style/index.css
  packages/codeeditor/style/index.js
  packages/codeeditor/tsconfig.json
  packages/codeeditor/tsconfig.test.json
  packages/extensionmanager/src/widget.tsx
  packages/json-extension/src/component.tsx
  packages/lsp-extension/package.json
  packages/lsp-extension/src/renderer.tsx
  packages/lsp-extension/style/index.css
  packages/lsp-extension/style/index.js
  packages/lsp-extension/tsconfig.json
  packages/settingeditor/src/pluginlist.tsx
  packages/shortcuts-extension/src/components/TopNav.tsx
  yarn.lock
Due: prettier, eslint, stylelint

Update `actions/upload-artifact` and `action/download-artifact` (#15536)
  .github/workflows/benchmark.yml
  .github/workflows/check-release.yml
  .github/workflows/galata.yml
  .github/workflows/linuxtests.yml
Due: none

Fix scrollbar incorrectly appearing on blur
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Reimplement virtual scrollbar positioning
  packages/ui-components/src/components/windowedlist.ts
  packages/ui-components/style/windowedlist.css
Due: prettier, eslint, stylelint

Disable by virtual scrolling by default
  packages/notebook/src/widget.ts
Due: prettier, eslint

test for keyboard shortcut dialog punctuation aria labels
  packages/shortcuts-extension/test/shortcuts.spec.ts
Due: prettier, eslint

Manually trigger benchmark tests instead of running them on `pull_request_review` (#15523)
  .github/workflows/benchmark.yml
Due: none

Resolve to as-of-yet-unreleased Canvas version
  package.json
  yarn.lock
Due: prettier

Fix WatchLabExtensionApp.aliases so `--help` works
  jupyterlab/labextensions.py
Due: none

Hold a reference to scrollbar element for convenience and for fewer query selector invocations
  packages/ui-components/src/components/windowedlist.ts
Due: prettier, eslint

Fix WatchLabExtensionApp.aliases so `--help` works (#15542)
  jupyterlab/labextensions.py
Due: none

Backport PR #15542: Fix `jupyter labextension watch --help`
  jupyterlab/labextensions.py
Due: none

added punctuation aria labels for settings editor and changed keyboard shortcut div to button
  packages/shortcuts-extension/src/components/ShortcutInput.tsx
  packages/shortcuts-extension/src/components/ShortcutItem.tsx
  packages/shortcuts-extension/style/base.css
Due: prettier, eslint, stylelint

Use `jp-WindowedPanel-outer` in galata which now functions
  galata/src/helpers/notebook.ts
  galata/test/jupyterlab/notebook-scroll.test.ts
Due: prettier, eslint

Update extension migration to note changes caught by tests
  docs/source/extension/extension_migration.rst
Due: none

Update Mermaid snapshots and command list
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/jupyterlab/notebook-run-mermaid.test.ts-snapshots/run-cells-dark-mermaid-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run-mermaid.test.ts-snapshots/run-cells-mermaid-jupyterlab-linux.png
Due: prettier

Backport PR #15542: Fix `jupyter labextension watch --help` (#15543)
  jupyterlab/labextensions.py
Due: none

Fix `OSTYPE` check in `ci_install.sh` (#11801)
  buildutils/src/local-repository.ts
  scripts/ci_install.sh
Due: prettier, eslint

focus styling to display add and or when navigating using keyboard
  packages/shortcuts-extension/style/base.css
Due: prettier, stylelint
