Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

Convert the signal to a promise prior to carrying the action triggering the signal
  packages/filebrowser/test/listing.spec.ts
Due: prettier, eslint

Report benchmark status even in case of failure Failure may happen due to memory leak failures
  .github/workflows/benchmark-report.yml
Due: none

Report benchmark status even in case of failure (#13950)
  .github/workflows/benchmark-report.yml
Due: none

try to help git diff
  packages/filebrowser/test/listing.spec.ts
Due: prettier, eslint

incorporate #13682 changes to listing.spec.ts
  packages/filebrowser/test/listing.spec.ts
Due: prettier, eslint

fix test
  packages/filebrowser/test/listing.spec.ts
Due: prettier, eslint

oh well my attempt to make git diff prettier failed
  packages/filebrowser/test/listing.spec.ts
Due: prettier, eslint

restore backspace (not sure why it was removed)
  packages/filebrowser-extension/schema/browser.json
Due: prettier

Update snapshots
  galata/test/documentation/general.test.ts-snapshots/file-formats-html-display-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/files-create-text-file-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/files-menu-top-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/running-layout-documentation-linux.png
Due: none

Removes user documentation about RTC
  docs/source/user/rtc.rst
Due: none

Update migration guide
  docs/source/extension/extension_migration.rst
  docs/source/user/images/rtc_shared_cursors.png
  docs/source/user/rtc.rst
Due: none

Updates migration guide
  docs/source/extension/extension_migration.rst
Due: none

Removes collaborative flag
  dev_mode/style.js
  jupyterlab/labapp.py
  packages/docregistry/src/context.ts
Due: prettier, eslint

Use collaborative flag to check whether the RTC extension is installed
  jupyterlab/labapp.py
Due: none

Fixes IDrives
  packages/docregistry/src/context.ts
Due: prettier, eslint

Restore staging
  jupyterlab/staging/yarn.lock
Due: none

Adds rtc extension import and restores staging
  jupyterlab/labapp.py
  packages/filebrowser-extension/src/index.ts
Due: prettier, eslint

Removes jupyter_server_ydoc as dependency
  pyproject.toml
Due: none

Review
  jupyterlab/labapp.py
  pyproject.toml
Due: none

Rebase and fix yarn.lock
  yarn.lock
Due: none

Improves the collaborative flag per document
  packages/docregistry/src/context.ts
  packages/services/src/contents/index.ts
Due: prettier, eslint

Remove unmaintained vdom-extension
  .github/labeler.yml
  buildutils/src/ensure-repo.ts
  dev_mode/package.json
  dev_mode/style.js
  docs/source/extension/extension_points.rst
  docs/source/user/file_formats.rst
  examples/federated/core_package/package.json
  examples/vdom/typing_slimes.gif
  examples/vdom/vdom-extension.vdom.json
  examples/vdom/vdom.ipynb
  galata/test/documentation/general.test.ts
  galata/test/documentation/general.test.ts-snapshots/file-formats-nteract-vdom-documentation-linux.png
  packages/metapackage/package.json
  packages/metapackage/tsconfig.json
  packages/metapackage/tsconfig.test.json
  packages/vdom-extension/README.md
  packages/vdom-extension/package.json
  packages/vdom-extension/src/index.ts
  packages/vdom-extension/style/index.css
  packages/vdom-extension/style/index.js
  packages/vdom-extension/tsconfig.json
  packages/vdom-extension/typedoc.json
  packages/vdom/README.md
  packages/vdom/package.json
  packages/vdom/src/index.tsx
  packages/vdom/style/base.css
  packages/vdom/style/index.css
  packages/vdom/style/index.js
  packages/vdom/tsconfig.json
  packages/vdom/typedoc.json
  pyproject.toml
  tsconfigdoc.json
  typedoc.js
Due: prettier, eslint

Add migration note
  docs/source/extension/extension_migration.rst
Due: none

Update docs/source/user/rtc.rst
  docs/source/user/rtc.rst
Due: none

format conda command as code, not italics text
  docs/source/developer/contributing.rst
Due: none

add additional packages installation instructions
  docs/source/developer/contributing.rst
Due: none

mention Apple silicon
  docs/source/developer/contributing.rst
Due: none

change text
  docs/source/developer/contributing.rst
Due: none

Update docs/source/developer/contributing.rst
  docs/source/developer/contributing.rst
Due: none

Make fixing pxlib error more visible, adjust mac os name
  docs/source/developer/contributing.rst
Due: none

Review
  docs/source/user/rtc.rst
Due: none

Remove rtc documentation (#13952)
  docs/source/extension/extension_migration.rst
  docs/source/user/images/rtc_shared_cursors.png
  docs/source/user/rtc.rst
Due: none

Remove vdom packages (#13949)
  .github/labeler.yml
  buildutils/src/ensure-repo.ts
  dev_mode/package.json
  dev_mode/style.js
  docs/source/extension/extension_migration.rst
  docs/source/extension/extension_points.rst
  docs/source/user/file_formats.rst
  examples/federated/core_package/package.json
  examples/vdom/typing_slimes.gif
  examples/vdom/vdom-extension.vdom.json
  examples/vdom/vdom.ipynb
  galata/test/documentation/general.test.ts
  galata/test/documentation/general.test.ts-snapshots/file-formats-nteract-vdom-documentation-linux.png
  packages/metapackage/package.json
  packages/metapackage/tsconfig.json
  packages/metapackage/tsconfig.test.json
  packages/vdom-extension/README.md
  packages/vdom-extension/package.json
  packages/vdom-extension/src/index.ts
  packages/vdom-extension/style/index.css
  packages/vdom-extension/style/index.js
  packages/vdom-extension/tsconfig.json
  packages/vdom-extension/typedoc.json
  packages/vdom/README.md
  packages/vdom/package.json
  packages/vdom/src/index.tsx
  packages/vdom/style/base.css
  packages/vdom/style/index.css
  packages/vdom/style/index.js
  packages/vdom/tsconfig.json
  packages/vdom/typedoc.json
  pyproject.toml
  tsconfigdoc.json
  typedoc.js
Due: prettier, eslint

Fixes toolbar button for Restart Kernel and Run All (#13939)
  docs/source/extension/extension_migration.rst
  docs/source/extension/extension_points.rst
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  packages/application/src/utils.ts
  packages/application/test/utils.spec.ts
  packages/mainmenu-extension/src/index.ts
  packages/notebook-extension/schema/panel.json
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Dispose JSONEditor source
  packages/codeeditor/src/jsoneditor.ts
  packages/notebook/src/notebooktools.ts
Due: prettier, eslint

Dispose observable map
  packages/codeeditor/src/editor.ts
Due: prettier, eslint

For downgrade nodejs
  .github/workflows/benchmark.yml
Due: none

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
