Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [check-jsonschema, prettier, eslint, integrity]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: forbid-new-submodules
      - id: check-case-conflict
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: debug-statements

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.16
    hooks:
      - id: mdformat

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.14.2
    hooks:
      - id: check-jsonschema
        name: 'Check GitHub Workflows'
        files: ^\.github/workflows/
        types: [yaml]
        args: ['--schemafile', 'https://json.schemastore.org/github-workflow']

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

bindingPlugin is not stricly linked to rtc nor yjs, but to shared-model
  packages/codemirror-extension/src/services.tsx
Due: prettier, eslint

fix: console example
  examples/console/src/index.ts
Due: prettier, eslint

Automated Changelog Entry for 3.6.3 on 3.6.x
  CHANGELOG.md
Due: none

Add context for translatable strings to avoid clash with 3.x
  packages/fileeditor-extension/src/commands.ts
  packages/fileeditor-extension/src/index.ts
Due: prettier, eslint

lint
  examples/cell/src/index.ts
  examples/console/src/index.ts
  examples/notebook/src/index.ts
Due: prettier, eslint

edited icons and imgs to include description
  examples/terminal/templates/error.html
  jupyterlab/staging/templates/Untitled.ipynb
  jupyterlab/staging/templates/partial.html
  packages/help-extension/src/index.tsx
  packages/launcher/src/widget.tsx
Due: prettier, eslint

Automated Changelog Entry for 3.6.3 on 3.6.x (#14296)
  CHANGELOG.md
Due: none

Update packages/codemirror-extension/src/services.tsx
  packages/codemirror-extension/src/services.tsx
Due: prettier, eslint

add @jupyter/ydoc dependcy to examples
  examples/console/package.json
  examples/notebook/package.json
Due: prettier

Allow importing `.raw.css` files
  buildutils/src/ensure-package.ts
Due: prettier, eslint

update const naming
  packages/application/test/shell.spec.ts
Due: prettier, eslint

remove console.log
  packages/application/src/shell.ts
Due: prettier, eslint

remove active css class from old widget onCurrent changed
  packages/application/src/shell.ts
Due: prettier, eslint

Update packages/application/test/shell.spec.ts
  packages/application/test/shell.spec.ts
Due: prettier, eslint

replace string concatenation with template literal
  packages/application/src/shell.ts
Due: prettier, eslint

only add active and current css classes only if they are not yet added
  packages/application/src/shell.ts
Due: prettier, eslint

Revert "make active and current class consts exportable"
  packages/application/src/shell.ts
Due: prettier, eslint

clear space when clearing active or current class
  packages/application/src/shell.ts
Due: prettier, eslint

move new tests into describe('#currentWidget')
  packages/application/test/shell.spec.ts
Due: prettier, eslint

test if current, active class names are cleared when current changes
  packages/application/test/shell.spec.ts
Due: prettier, eslint

declare active and current class consts in test file
  packages/application/test/shell.spec.ts
Due: prettier, eslint

test if active and current class names are cleared
  packages/application/test/shell.spec.ts
Due: prettier, eslint

make active and current class consts exportable
  packages/application/src/shell.ts
Due: prettier, eslint

activate every new current widget
  packages/application/src/shell.ts
Due: prettier, eslint

[ci skip] Publish 3.6.3
  .bumpversion.cfg
  dev_mode/package.json
  jupyterlab/_version.py
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
Due: prettier

Add missing lumino package as singleton (#14287)
  dev_mode/package.json
Due: prettier

Add context for translatable strings to avoid clash with 3.x (#14297)
  packages/fileeditor-extension/src/commands.ts
  packages/fileeditor-extension/src/index.ts
Due: prettier, eslint

Remove debug print
  jupyterlab/upgrade_extension.py
Due: none

deps: update yarn.lock
  yarn.lock
Due: none

use shared-model-binding terminology
  examples/cell/src/index.ts
  examples/console/src/index.ts
  examples/notebook/src/index.ts
Due: prettier, eslint

Be tolerant on map changes
  galata/test/documentation/general.test.ts
Due: prettier, eslint

Load `::-webkit-scrollbar` styles on-demand (#14275)
  builder/src/webpack.config.base.ts
  buildutils/src/ensure-package.ts
  packages/application/style/scrollbar.css
  packages/apputils-extension/src/themesplugins.ts
  packages/apputils-extension/src/typings.d.ts
  packages/apputils-extension/style/scrollbar.raw.css
Due: prettier, eslint

bump rjsf packages
  packages/celltags-extension/package.json
  packages/codemirror-extension/package.json
  packages/completer-extension/package.json
  packages/lsp-extension/package.json
  packages/metadataform/package.json
  packages/notebook-extension/package.json
  packages/settingeditor/package.json
  packages/settingregistry/package.json
  packages/ui-components/package.json
  yarn.lock
Due: prettier

sync binder and pyproject.toml
  pyproject.toml
Due: none

try skip build flag
  binder/environment.yml
  binder/jupyter_config.py
Due: none

disable jupyter-server-proxy
  binder/environment.yml
  binder/jupyter_config.py
Due: none

Fix typo [skip ci]
  jupyterlab/commands.py
Due: none

Fix examples further to CodeMirror API change (#14293)
  examples/cell/src/index.ts
  examples/console/package.json
  examples/console/src/index.ts
  examples/notebook/package.json
  examples/notebook/src/index.ts
  packages/codemirror-extension/src/services.tsx
  yarn.lock
Due: prettier, eslint
