Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [check-jsonschema, prettier, eslint, integrity]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: forbid-new-submodules
      - id: check-case-conflict
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: debug-statements

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.16
    hooks:
      - id: mdformat

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.14.2
    hooks:
      - id: check-jsonschema
        name: 'Check GitHub Workflows'
        files: ^\.github/workflows/
        types: [yaml]
        args: ['--schemafile', 'https://json.schemastore.org/github-workflow']

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

[ci skip] Publish 3.5.1
  .bumpversion.cfg
  dev_mode/package.json
  jupyterlab/_version.py
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
Due: prettier

Add license RC file
  .licenserc.yaml
Due: none

Fix token based completions, restore deduplication, follow up on completer refactor (#13454)
  examples/cell/src/index.ts
  examples/notebook/src/index.ts
  galata/test/jupyterlab/completer.test.ts
  galata/test/jupyterlab/completer.test.ts-snapshots/token-completer-jupyterlab-linux.png
  packages/codemirror/src/editor.ts
  packages/codemirror/test/editor.spec.ts
  packages/completer-extension/src/index.ts
  packages/completer/src/connectorproxy.ts
  packages/completer/src/handler.ts
  packages/completer/src/index.ts
  packages/completer/src/manager.ts
  packages/completer/src/reconciliator.ts
  packages/completer/src/tokens.ts
  packages/completer/test/connectorproxy.spec.ts
  packages/completer/test/handler.spec.ts
  packages/completer/test/manager.spec.ts
  packages/completer/test/reconciliator.spec.ts
Due: prettier, eslint

Sets whether the model is collaborative or not when registering the factory (#13526)
  packages/docregistry/src/default.ts
  packages/docregistry/src/registry.ts
  packages/notebook-extension/src/index.ts
  packages/notebook/src/modelfactory.ts
Due: prettier, eslint

Backport PR #13526: Sets whether the model is collaborative or not when registering its factory
  packages/docregistry/src/default.ts
  packages/docregistry/src/registry.ts
  packages/notebook-extension/src/index.ts
  packages/notebook/src/modelfactory.ts
Due: prettier, eslint

Remove jest
  packages/collaboration/package.json
Due: prettier

Move the toggleNavigateToCurrentDirectory command to the file browser widget
  packages/filebrowser-extension/schema/browser.json
  packages/filebrowser-extension/schema/widget.json
  packages/filebrowser-extension/src/index.ts
Due: prettier, eslint

Move the toggle file browser logic to the widget
  packages/filebrowser-extension/schema/browser.json
  packages/filebrowser-extension/schema/widget.json
  packages/filebrowser-extension/src/index.ts
Due: prettier, eslint

Add comment in packages/filebrowser-extension/src/index.ts
  packages/filebrowser-extension/src/index.ts
Due: prettier, eslint

use `setTimeout` instead of `setImmediate`
  packages/apputils/test/notification.spec.ts
Due: prettier, eslint

Fix annotations
  packages/cells/test/widget.spec.ts
  packages/debugger/src/svg.d.ts
  packages/debugger/test/session.spec.ts
  packages/notebook/test/actions.spec.ts
  packages/terminal/test/terminal.spec.ts
  packages/ui-components/src/svg.d.ts
  packages/ui-components/test/svg.d.ts
  packages/ui-components/test/toolbar.spec.ts
  testutils/src/start_jupyter_server.ts
  testutils/test/start_jupyter_server.spec.ts
Due: prettier, eslint

Set more timeout
  packages/apputils/test/sessioncontext.spec.ts
  packages/apputils/test/toolbar.spec.ts
  packages/cells/test/widget.spec.ts
  packages/debugger/test/debugger.spec.ts
  packages/debugger/test/service.spec.ts
  packages/debugger/test/session.spec.ts
  packages/notebook/test/actions.spec.ts
  packages/notebook/test/executionindicator.spec.tsx
  packages/notebook/test/notebooktools.spec.ts
  packages/notebook/test/panel.spec.ts
  packages/notebook/test/tracker.spec.ts
  packages/notebook/test/widget.spec.ts
  packages/notebook/test/widgetfactory.spec.ts
  packages/outputarea/test/widget.spec.ts
  packages/services/test/config/config.spec.ts
  packages/services/test/contents/index.spec.ts
  packages/services/test/kernel/comm.spec.ts
  packages/services/test/kernel/ifuture.spec.ts
  packages/services/test/kernel/ikernel.spec.ts
  packages/services/test/kernel/kernel.spec.ts
  packages/services/test/kernel/manager.spec.ts
  packages/services/test/kernelspec/kernelspec.spec.ts
  packages/services/test/kernelspec/manager.spec.ts
  packages/services/test/manager.spec.ts
  packages/services/test/serverconnection.spec.ts
  packages/services/test/session/isession.spec.ts
  packages/services/test/session/manager.spec.ts
  packages/services/test/session/session.spec.ts
  packages/services/test/setting/manager.spec.ts
  packages/services/test/terminal/manager.spec.ts
  packages/services/test/terminal/terminal.spec.ts
  packages/services/test/user/user.spec.ts
  packages/services/test/workspace/manager.spec.ts
  packages/terminal/test/terminal.spec.ts
  packages/ui-components/test/toolbar.spec.ts
  testutils/src/start_jupyter_server.ts
  testutils/test/start_jupyter_server.spec.ts
Due: prettier, eslint

Increase timeout
  packages/apputils/test/sessioncontext.spec.ts
  packages/apputils/test/toolbar.spec.ts
  packages/cells/test/widget.spec.ts
  packages/debugger/test/debugger.spec.ts
  packages/debugger/test/service.spec.ts
  packages/debugger/test/session.spec.ts
  packages/notebook/test/actions.spec.ts
  packages/notebook/test/executionindicator.spec.tsx
  packages/notebook/test/notebooktools.spec.ts
  packages/notebook/test/panel.spec.ts
  packages/notebook/test/tracker.spec.ts
  packages/notebook/test/widget.spec.ts
  packages/notebook/test/widgetfactory.spec.ts
  packages/outputarea/test/widget.spec.ts
  packages/services/test/config/config.spec.ts
  packages/services/test/contents/index.spec.ts
  packages/services/test/kernel/comm.spec.ts
  packages/services/test/kernel/ifuture.spec.ts
  packages/services/test/kernel/ikernel.spec.ts
  packages/services/test/kernel/kernel.spec.ts
  packages/services/test/kernel/manager.spec.ts
  packages/services/test/kernelspec/kernelspec.spec.ts
  packages/services/test/kernelspec/manager.spec.ts
  packages/services/test/manager.spec.ts
  packages/services/test/serverconnection.spec.ts
  packages/services/test/session/isession.spec.ts
  packages/services/test/session/manager.spec.ts
  packages/services/test/session/session.spec.ts
  packages/services/test/setting/manager.spec.ts
  packages/services/test/terminal/manager.spec.ts
  packages/services/test/terminal/terminal.spec.ts
  packages/services/test/user/user.spec.ts
  packages/services/test/workspace/manager.spec.ts
  packages/terminal/test/terminal.spec.ts
  packages/ui-components/test/toolbar.spec.ts
  testutils/src/start_jupyter_server.ts
  testutils/test/start_jupyter_server.spec.ts
Due: prettier, eslint

Add open handles detection
  packages/services/package.json
Due: prettier

Don't mock encoder in two places
  packages/debugger/package.json
  packages/debugger/test/config.spec.ts
  packages/debugger/test/debugger.spec.ts
  packages/debugger/test/service.spec.ts
  packages/debugger/test/session.spec.ts
  packages/debugger/test/utils.ts
  packages/services/examples/node/package.json
  packages/services/package.json
  packages/services/test/kernel/comm.spec.ts
  packages/services/test/session/isession.spec.ts
  packages/services/test/session/session.spec.ts
  packages/services/test/setting/manager.spec.ts
  packages/services/test/user/user.spec.ts
  packages/services/test/utils.ts
  packages/services/test/workspace/manager.spec.ts
  testutils/src/jest-shim.ts
  yarn.lock
Due: prettier, eslint

Fix typedoc configuration
  typedoc.js
Due: prettier, eslint

Fix session tests
  packages/services/test/session/isession.spec.ts
Due: prettier, eslint

Backport PR #13526: Sets whether the model is collaborative or not when registering its factory (#13538)
  packages/docregistry/src/default.ts
  packages/docregistry/src/registry.ts
  packages/notebook-extension/src/index.ts
  packages/notebook/src/modelfactory.ts
Due: prettier, eslint

Backport PR #13517 on branch 3.6.x (RTC: Move user name to user panel) (#13537)
  .github/workflows/linuxjs-tests.yml
  .licenserc.yaml
  packages/collaboration/jest.config.js
  packages/collaboration/package.json
  packages/collaboration/src/components.tsx
  packages/collaboration/src/menu.ts
  packages/collaboration/test/menu.spec.ts
  packages/collaboration/tsconfig.test.json
Due: prettier, eslint

Fix tests
  packages/debugger/src/svg.d.ts
  packages/services/test/event/manager.spec.ts
  packages/ui-components/src/svg.d.ts
  typedoc.js
Due: prettier, eslint

Add lumino with support for plugin deactivation
  builder/package.json
  dev_mode/package.json
  packages/application/package.json
  yarn.lock
Due: prettier

Fix tests
  packages/services/test/event/manager.spec.ts
  typedoc.js
Due: prettier, eslint

Sanitize notification message
  docs/source/extension/ui_helpers.rst
  galata/test/jupyterlab/notification.test.ts
  galata/test/jupyterlab/notification.test.ts-snapshots/sanitized-notification-jupyterlab-linux.txt
  packages/apputils-extension/src/notificationplugin.tsx
  packages/apputils/src/notification.ts
Due: prettier, eslint

Only plain text is allowed for notifications
  docs/source/extension/ui_helpers.rst
  galata/test/jupyterlab/announcements.test.ts
  galata/test/jupyterlab/notification.test.ts
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-markdown-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/sanitized-notification-jupyterlab-linux.txt
  galata/test/jupyterlab/notification.test.ts-snapshots/text-content-notification-jupyterlab-linux.txt
  jupyterlab/handlers/announcements.py
  jupyterlab/tests/test_announcements.py
  packages/apputils-extension/package.json
  packages/apputils-extension/src/announcements.ts
  packages/apputils-extension/src/notificationplugin.tsx
  packages/apputils/src/notification.ts
  yarn.lock
Due: prettier, eslint

Fix integrity
  packages/apputils-extension/package.json
  packages/apputils-extension/style/index.css
  packages/apputils-extension/style/index.js
  packages/apputils-extension/tsconfig.json
Due: prettier, eslint

Fix privacy policies link
  packages/apputils-extension/src/announcements.ts
  packages/apputils-extension/src/notificationplugin.tsx
  packages/extensionmanager/src/widget.tsx
Due: prettier, eslint

Remove test with md format
  galata/test/jupyterlab/notification.test.ts
Due: prettier, eslint

Set font families that were not specified.
  packages/ui-components/style/base.css
  packages/ui-components/style/switch.css
  packages/ui-components/style/toolbar.css
Due: prettier

Update documentation snapshots
  galata/test/documentation/extension_manager.test.ts
  galata/test/documentation/general.test.ts
  galata/test/documentation/internationalization.test.ts-snapshots/language-change-documentation-linux.png
Due: prettier, eslint

Fix yarn.lock
  yarn.lock
Due: none

Add copy and paste commands to terminal context menu (#13535)
  packages/terminal-extension/schema/plugin.json
  packages/terminal-extension/src/index.ts
  packages/terminal/src/tokens.ts
  packages/terminal/src/widget.ts
Due: prettier, eslint

Move the toggle file browser logic to the widget (#13466)
  packages/filebrowser-extension/schema/browser.json
  packages/filebrowser-extension/schema/widget.json
  packages/filebrowser-extension/src/index.ts
Due: prettier, eslint

Increase snapshot area
  galata/test/documentation/debugger.test.ts
Due: prettier, eslint

Make focus visible (mostly CSS) (#13415)
  galata/test/documentation/extension_manager.test.ts
  galata/test/documentation/general.test.ts
  galata/test/documentation/internationalization.test.ts-snapshots/language-change-documentation-linux.png
  packages/application/style/buttons.css
  packages/application/style/menus.css
  packages/apputils/src/mainareawidget.ts
  packages/filebrowser/style/base.css
  packages/launcher/style/base.css
  packages/ui-components/style/base.css
Due: prettier, eslint

Backport PR #13415: Make focus visible (mostly CSS)
  packages/application/style/buttons.css
  packages/application/style/menus.css
  packages/apputils/src/mainareawidget.ts
  packages/filebrowser/style/base.css
  packages/launcher/style/base.css
  packages/ui-components/style/base.css
Due: prettier, eslint
