Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [check-jsonschema, prettier, eslint, integrity]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: forbid-new-submodules
      - id: check-case-conflict
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: debug-statements

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.16
    hooks:
      - id: mdformat

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.14.2
    hooks:
      - id: check-jsonschema
        name: 'Check GitHub Workflows'
        files: ^\.github/workflows/
        types: [yaml]
        args: ['--schemafile', 'https://json.schemastore.org/github-workflow']

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

RTC: Move user name to user panel
  packages/collaboration/src/components.tsx
  packages/collaboration/src/menu.ts
Due: prettier, eslint

Comment on the PR once the snapshots have been updated. (#13516)
  .github/workflows/galata-update.yml
  .github/workflows/galata.yml
Due: none

Change snapshots
  galata/test/documentation/general.test.ts
  galata/test/galata/notebook.spec.ts
Due: prettier, eslint

Backport PR #13506: Depend on `@jupyter/ydoc` instead of `@jupyter-notebook/ydoc`
  dev_mode/package.json
  jupyterlab/staging/package.json
  packages/cells/package.json
  packages/cells/src/model.ts
  packages/cells/test/model.spec.ts
  packages/codeeditor/package.json
  packages/codeeditor/src/editor.ts
  packages/codemirror/package.json
  packages/codemirror/src/editor.ts
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/index.ts
  packages/docprovider/package.json
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/yprovider.ts
  packages/docregistry/package.json
  packages/docregistry/src/context.ts
  packages/docregistry/src/default.ts
  packages/docregistry/src/registry.ts
  packages/notebook/package.json
  packages/notebook/src/celllist.ts
  packages/notebook/src/model.ts
  testutils/src/jest-config.ts
  yarn.lock
Due: prettier, eslint

Fixes using custom drives
  packages/docregistry/src/context.ts
  packages/docregistry/src/default.ts
  packages/docregistry/src/registry.ts
  packages/notebook/src/model.ts
  packages/notebook/src/modelfactory.ts
  packages/services/package.json
  packages/services/src/contents/index.ts
Due: prettier, eslint

Backport PR #13506: Depend on `@jupyter/ydoc` instead of `@jupyter-notebook/ydoc` (#13519)
  dev_mode/package.json
  jupyterlab/staging/package.json
  packages/cells/package.json
  packages/cells/src/model.ts
  packages/cells/test/model.spec.ts
  packages/codeeditor/package.json
  packages/codeeditor/src/editor.ts
  packages/codemirror/package.json
  packages/codemirror/src/editor.ts
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/index.ts
  packages/docprovider/package.json
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/yprovider.ts
  packages/docregistry/package.json
  packages/docregistry/src/context.ts
  packages/docregistry/src/default.ts
  packages/docregistry/src/registry.ts
  packages/notebook/package.json
  packages/notebook/src/celllist.ts
  packages/notebook/src/model.ts
  testutils/src/jest-config.ts
  yarn.lock
Due: prettier, eslint

Set corrections to icons and switch colors (#13500)
  galata/test/documentation/general.test.ts-snapshots/file-formats-nteract-vdom-documentation-linux.png
  packages/launcher/style/base.css
  packages/theme-dark-extension/style/variables.css
  packages/theme-light-extension/style/variables.css
  packages/ui-components/style/switch.css
Due: prettier

Bump sanitize-html to 2.7.3 (#13509)
  packages/apputils/package.json
  yarn.lock
Due: prettier

Backport PR #13500: Set corrections to icons and switch colors
  packages/launcher/style/base.css
  packages/theme-dark-extension/style/variables.css
  packages/theme-light-extension/style/variables.css
  packages/ui-components/style/switch.css
Due: prettier

Backport PR #13509: Bump sanitize-html to 2.7.3
  packages/apputils/package.json
  yarn.lock
Due: prettier

Test against Python 3.11 (#13474)
  .github/workflows/linuxtests.yml
  .github/workflows/macostests.yml
  jupyterlab/tests/__init__.py
  jupyterlab/tests/test_announcements.py
  jupyterlab/tests/test_extensions.py
  pyproject.toml
Due: none

Fix accessing owner/repo in CI
  .github/workflows/galata-update.yml
Due: none

Fix accessing owner/repo in CI (#13523)
  .github/workflows/galata-update.yml
Due: none

Backport PR #13509: Bump sanitize-html to 2.7.3 (#13521)
  packages/apputils/package.json
  yarn.lock
Due: prettier

Backport PR #13509: Bump sanitize-html to 2.7.3 (#13522)
  packages/apputils/package.json
  yarn.lock
Due: prettier

Automated Changelog Entry for 3.5.1 on 3.5.x
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Backport PR #13500: Set corrections to icons and switch colors (#13520)
  packages/launcher/style/base.css
  packages/theme-dark-extension/style/variables.css
  packages/theme-light-extension/style/variables.css
  packages/ui-components/style/switch.css
Due: prettier

Sets whether the model is collaborative or not when registering the factory
  packages/docregistry/src/default.ts
  packages/docregistry/src/registry.ts
  packages/notebook-extension/src/index.ts
  packages/notebook/src/modelfactory.ts
Due: prettier, eslint

Improve IDrive API
  packages/docregistry/src/context.ts
  packages/services/src/contents/index.ts
Due: prettier, eslint

Add emit test
  packages/services/test/event/manager.spec.ts
Due: prettier, eslint

Expect nothing from emit call
  packages/services/test/event/manager.spec.ts
Due: prettier, eslint

stream[Symbol.asyncIterator]() test
  packages/services/test/event/manager.spec.ts
Due: prettier, eslint

Add more events tests
  packages/services/test/event/manager.spec.ts
Due: prettier, eslint

Remove test
  packages/collaboration/jest.config.js
  packages/collaboration/package.json
  packages/collaboration/src/menu.ts
  packages/collaboration/test/menu.spec.ts
  packages/collaboration/tsconfig.test.json
Due: prettier, eslint

Fixes file path and integrity
  packages/docregistry/src/context.ts
  packages/services/package.json
Due: prettier, eslint

Remove test build
  .github/workflows/linuxjs-tests.yml
Due: none

Update `terser-webpack-plugin`
  builder/package.json
  dev_mode/package.json
  yarn.lock
Due: prettier

Remove terser options
  dev_mode/webpack.prod.minimize.config.js
Due: prettier, eslint

Update events tests
  packages/services/test/event/manager.spec.ts
Due: prettier, eslint

Apply suggestions from code review
  packages/completer/src/handler.ts
  packages/completer/src/reconciliator.ts
Due: prettier, eslint

Move private methods below public methods
  packages/completer/src/reconciliator.ts
Due: prettier, eslint

Add copy and paste commands to terminal context menu
  packages/terminal-extension/schema/plugin.json
  packages/terminal-extension/src/index.ts
  packages/terminal/src/tokens.ts
  packages/terminal/src/widget.ts
Due: prettier, eslint

Follow-on to events service (#13485)
  packages/services/README.md
  packages/services/src/event/index.ts
  packages/services/src/manager.ts
  packages/services/test/event/manager.spec.ts
Due: prettier, eslint

Automated Changelog Entry for 3.5.1 on 3.5.x (#13524)
  CHANGELOG.md
Due: none

RTC: Move user name to user panel (#13517)
  .github/workflows/linuxjs-tests.yml
  packages/collaboration/jest.config.js
  packages/collaboration/package.json
  packages/collaboration/src/components.tsx
  packages/collaboration/src/menu.ts
  packages/collaboration/test/menu.spec.ts
  packages/collaboration/tsconfig.test.json
Due: prettier, eslint

Backport PR #13517: RTC: Move user name to user panel
  .github/workflows/linuxjs-tests.yml
  packages/collaboration/jest.config.js
  packages/collaboration/package.json
  packages/collaboration/src/components.tsx
  packages/collaboration/src/menu.ts
  packages/collaboration/test/menu.spec.ts
  packages/collaboration/tsconfig.test.json
Due: prettier, eslint

Update `terser-webpack-plugin` (#13532)
  builder/package.json
  dev_mode/package.json
  dev_mode/webpack.prod.minimize.config.js
  yarn.lock
Due: prettier, eslint
