Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [check-jsonschema, prettier, eslint, integrity]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: forbid-new-submodules
      - id: check-case-conflict
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: debug-statements

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.16
    hooks:
      - id: mdformat

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.14.2
    hooks:
      - id: check-jsonschema
        name: 'Check GitHub Workflows'
        files: ^\.github/workflows/
        types: [yaml]
        args: ['--schemafile', 'https://json.schemastore.org/github-workflow']

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

Be tolerant on map changes (#14302)
  galata/test/documentation/general.test.ts
Due: prettier, eslint

Enforce a minimal set of CSS selector complexity rules (#14238)
  .stylelintrc.yaml
  docs/source/_static/css/custom.css
  galata/src/galata.ts
  packages/application/style/menus.css
  packages/application/style/sidepanel.css
  packages/application/style/tabs.css
  packages/debugger/src/panels/sources/sourcepath.tsx
  packages/debugger/style/callstack.css
  packages/debugger/style/kernelSources.css
  packages/debugger/style/sources.css
  packages/extensionmanager/src/widget.tsx
  packages/extensionmanager/style/base.css
  packages/help-extension/src/licenses.tsx
  packages/help-extension/style/base.css
  packages/logconsole-extension/style/base.css
  packages/notebook/style/base.css
  packages/rendermime/style/base.css
  packages/settingeditor/style/base.css
  packages/toc/style/base.css
  packages/ui-components/src/style/icon.ts
  packages/ui-components/style/base.css
  packages/ui-components/style/icons.css
  packages/ui-components/style/rjsfTemplates.css
  packages/ui-components/style/toolbar.css
Due: prettier, eslint

Update actions.spec.ts
  packages/notebook/test/actions.spec.ts
Due: prettier, eslint

Fix typo [skip ci] (#14303)
  jupyterlab/commands.py
Due: none

Adds ids_only argument to the fetch settings request (#14211)
  .eslintrc.js
  packages/apputils-extension/src/settingconnector.ts
  packages/apputils-extension/src/settingsplugin.ts
  packages/services/src/setting/index.ts
Due: prettier, eslint

Format multi-chord keybindings properly
  packages/application-extension/src/index.tsx
  packages/apputils-extension/src/palette.ts
  packages/filebrowser-extension/src/index.ts
  packages/ui-components/src/components/toolbar.tsx
Due: prettier, eslint

Make keyboard shortcut discovery logic more complete
  packages/apputils-extension/package.json
  packages/apputils-extension/src/index.ts
Due: prettier, eslint

Add command to display relevant key bindings
  packages/apputils-extension/src/index.ts
Due: prettier, eslint

Move display shortcuts implementation to a new file so we can use React.
  packages/apputils-extension/src/index.ts
  packages/apputils-extension/src/shortcuts.tsx
Due: prettier, eslint

Make font for keyboard shortcuts monospace
  packages/apputils-extension/src/shortcuts.tsx
Due: prettier, eslint

Update packages/apputils-extension/src/shortcuts.tsx and move the style definition to packages/apputils-extension/style/base.css.
  packages/application-extension/src/index.tsx
  packages/apputils-extension/schema/utilityCommands.json
  packages/apputils-extension/src/palette.ts
  packages/apputils-extension/src/shortcuts.tsx
  packages/apputils-extension/style/base.css
  packages/filebrowser-extension/src/index.ts
  packages/ui-components/src/components/toolbar.tsx
Due: prettier, eslint

Add the command displayShortcuts to the command palette and to the help menu.
  packages/apputils-extension/schema/utilityCommands.json
  packages/apputils-extension/src/index.ts
Due: prettier, eslint

Add an integration test.
  galata/test/documentation/general.test.ts
Due: prettier, eslint

Revert unwanted changes on the suggestion commit and update the style file packages/apputils-extension/style/base.css.
  packages/apputils-extension/src/index.ts
  packages/apputils-extension/src/shortcuts.tsx
  packages/apputils-extension/style/base.css
Due: prettier, eslint

Apply suggestions from code review
  packages/apputils-extension/src/index.ts
  packages/apputils-extension/src/shortcuts.tsx
  packages/apputils-extension/style/base.css
  packages/apputils-extension/style/contextualhelp.css
Due: prettier, eslint

Apply suggestions from code review
  galata/test/documentation/general.test.ts
  packages/apputils-extension/src/index.ts
  packages/apputils-extension/src/shortcuts.tsx
Due: prettier, eslint

Fix test title
  galata/test/documentation/general.test.ts
Due: prettier, eslint

Apply suggestions from code review and introduce relative length units for paddings.
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  packages/apputils-extension/src/index.ts
  packages/apputils-extension/src/shortcuts.tsx
  packages/apputils-extension/style/contextualhelp.css
  packages/filebrowser-extension/src/index.ts
Due: prettier, eslint

Change the style of the shortcuts interface.
  packages/apputils-extension/src/shortcuts.tsx
Due: prettier, eslint

Add check to see wether currentWidget contains the activeElement or not.
  packages/apputils-extension/src/index.ts
Due: prettier, eslint

Package integrity updates
  packages/apputils-extension/package.json
  yarn.lock
Due: prettier

Package integrity updates
  packages/apputils-extension/package.json
Due: prettier

Update the style of the table to try to fit actions items of the workshop.
  packages/apputils-extension/style/contextualhelp.css
Due: prettier

Add automatic labels using function formatLabel for cases where none exists.
  packages/apputils-extension/src/shortcuts.tsx
Due: prettier, eslint

Apply suggestions from code review
  packages/apputils-extension/src/index.ts
  packages/apputils-extension/src/shortcuts.tsx
  yarn.lock
Due: prettier, eslint

Update style of the table of the shortcuts display.
  packages/apputils-extension/src/shortcuts.tsx
  packages/apputils-extension/style/contextualhelp.css
Due: prettier, eslint

Apply suggestions from code review
  packages/apputils-extension/src/shortcuts.tsx
Due: prettier, eslint

Add a padding between the label and the shortcut combination.
  packages/apputils-extension/style/contextualhelp.css
Due: prettier

Update integrity check to align with prettier
  buildutils/src/ensure-package.ts
Due: prettier, eslint

Upgrades @lumino/commands to 2.0.1
  builder/package.json
  dev_mode/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/federated/core_package/package.json
  examples/filebrowser/package.json
  examples/notebook/package.json
  jupyterlab/staging/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/cell-toolbar/package.json
  packages/debugger/package.json
  packages/docmanager-extension/package.json
  packages/filebrowser-extension/package.json
  packages/fileeditor-extension/package.json
  packages/fileeditor/package.json
  packages/launcher/package.json
  packages/mainmenu/package.json
  packages/notebook-extension/package.json
  packages/running-extension/package.json
  packages/settingeditor/package.json
  packages/settingregistry/package.json
  packages/shortcuts-extension/package.json
  packages/statedb/package.json
  packages/ui-components/package.json
  yarn.lock
Due: prettier

Backport PR #14225: Fix cursor placement in stdin history search and navigation
  packages/outputarea/src/widget.ts
Due: prettier, eslint

icon and title descriptions added
  packages/launcher/src/widget.tsx
Due: prettier, eslint

icon description added
  packages/launcher/src/widget.tsx
Due: prettier, eslint

space corrrection
  packages/launcher/src/widget.tsx
Due: prettier, eslint

Fix linter Align ruff version
  .pre-commit-config.yaml
  jupyterlab/commands.py
  jupyterlab/handlers/announcements.py
  pyproject.toml
Due: none
