Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Show toast notification for running code cell while kernel initializing (#15421)
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/actions.tsx
  packages/notebook/src/widget.ts
Due: prettier, eslint

menu bar padding change 2
  packages/application/style/menus.css
Due: prettier, stylelint

Changed theme name
  galata/src/helpers/theme.ts
  galata/test/jupyterlab/general.test.ts
  packages/theme-high-contrast-extension/src/index.ts
Due: prettier, eslint

Add unit test for markdown unrendering regression
  packages/notebook/test/widget.spec.ts
Due: prettier, eslint

Move change of active index ahead of focus enforcement
  packages/notebook/src/widget.ts
Due: prettier, eslint

Fix markdown getting un-rendered when focusing on a different cell (#15634)
  packages/notebook/src/widget.ts
  packages/notebook/test/widget.spec.ts
Due: prettier, eslint

Test running cells with Ctrl+Enter, and `getCellTextInput()` helper
  galata/src/helpers/notebook.ts
  galata/test/galata/notebook.spec.ts
  galata/test/jupyterlab/cells.test.ts
Due: prettier, eslint

Fix new line getting inserted on Ctrl + Enter
  packages/codemirror/src/commands.ts
  packages/codemirror/src/extension.ts
Due: prettier, eslint

Fix default shortcuts and port old shortcuts transparently
  examples/notebook/src/commands.ts
  packages/mainmenu-extension/schema/plugin.json
  packages/settingregistry/src/settingregistry.ts
Due: prettier, eslint

Fix incorrect default for arrays in JSON setting editor
  packages/settingregistry/src/settingregistry.ts
Due: prettier, eslint

Do not populate non-required default fields from rsjf
  packages/settingeditor/src/SettingsFormEditor.tsx
Due: prettier, eslint

Fix incorrect population of defaults in settings
  packages/settingregistry/src/settingregistry.ts
  packages/settingregistry/test/settingregistry.spec.ts
Due: prettier, eslint

Add a test against user settings getting mangled up
  galata/test/jupyterlab/settings.test.ts
Due: prettier, eslint

Add documentation in extension migration guide
  docs/source/extension/extension_migration.rst
Due: none

Grammar
  docs/source/extension/extension_migration.rst
Due: none

formatting
  packages/shortcuts-extension/src/components/ShortcutItem.tsx
Due: prettier, eslint

Add button to sidebar, make sidebar a separate plugin
  packages/running-extension/src/index.ts
  packages/running/src/index.tsx
  packages/ui-components/src/components/toolbar.tsx
Due: prettier, eslint

Add documentation and snapshot test for the modal
  docs/source/user/running.rst
  galata/test/documentation/general.test.ts
Due: prettier, eslint

Fix promise handling
  packages/running-extension/src/recents.ts
Due: prettier, eslint

Deduplicate the lock file
  yarn.lock
Due: none

Change the shortcut for modal to Ctrl + Alt + A
  packages/running-extension/schema/plugin.json
Due: prettier

update renderer retrieval logic in outputarea widget
  packages/outputarea/src/widget.ts
Due: prettier, eslint

Clean yarn.lock
  yarn.lock
Due: none

Note changes to statusbar items behaviour in extension migration guide (#15556)
  docs/source/extension/extension_migration.rst
Due: none

Restore previous Galata `page.filebrowser.refresh()` timeout logic (#15607)
  galata/src/helpers/filebrowser.ts
Due: prettier, eslint

Use `jlpm` as npm client for snapshot updates
  .github/workflows/galata-update.yml
Due: none

Fix link in extension migration guide
  docs/source/extension/extension_migration.rst
Due: none

Update packages/shortcuts-extension/src/components/ShortcutItem.tsx
  packages/shortcuts-extension/src/components/ShortcutItem.tsx
Due: prettier, eslint

Update packages/shortcuts-extension/src/components/ShortcutList.tsx
  packages/shortcuts-extension/src/components/ShortcutList.tsx
Due: prettier, eslint

Use `jlpm` as npm client for snapshot updates (#15641)
  .github/workflows/galata-update.yml
Due: none

Use focus-visible
  packages/ui-components/style/styling.css
Due: prettier, stylelint

Fix link in extension migration guide (#15640)
  docs/source/extension/extension_migration.rst
Due: none

Backport PR #15640: Fix link to yarn docs in extension migration guide
  docs/source/extension/extension_migration.rst
Due: none

Backport PR #15640: Fix link to yarn docs in extension migration guide (#15644)
  docs/source/extension/extension_migration.rst
Due: none

sidebar-tabar padding change
  packages/application/style/sidepanel.css
Due: prettier, stylelint

jp-FileBrowser-toolbar-jp-Toolbar edit
  packages/filebrowser/style/base.css
Due: prettier, stylelint

Use jlpm for docs snapshots too
  .github/workflows/galata-update.yml
Due: none

Use jlpm for docs snapshots too (#15646)
  .github/workflows/galata-update.yml
Due: none

Fix new line getting inserted when running cells with `Ctrl` + `Enter` (#15638)
  galata/src/helpers/notebook.ts
  galata/test/galata/notebook.spec.ts
  galata/test/jupyterlab/cells.test.ts
  packages/codemirror/src/commands.ts
  packages/codemirror/src/extension.ts
Due: prettier, eslint

update to mermaid 10.7.0
  binder/environment.yml
  packages/mermaid/package.json
  packages/mermaid/src/manager.ts
  pyproject.toml
  yarn.lock
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
