Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
        exclude: galata/.*-snapshots
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.23.1
    hooks:
      - id: check-github-workflows

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.282
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

Fix integrity and one more type issue
  packages/notebook-extension/src/index.ts
  packages/shortcuts-extension/package.json
  yarn.lock
Due: prettier, eslint

Allow `any` in galata
  galata/.eslintrc.js
  galata/extension/src/global.ts
  galata/extension/src/tokens.ts
  galata/src/benchmarkReporter.ts
  galata/src/benchmarkVLTpl.ts
  galata/src/extension.ts
  galata/src/galata.ts
  galata/src/helpers/notebook.ts
  galata/src/helpers/sidebar.ts
  galata/src/vega-statistics.d.ts
  galata/test/documentation/plugins.test.ts
  galata/test/documentation/utils.ts
  galata/test/galata/benchmarkReporter.spec.ts
  galata/test/galata/fixture.spec.ts
  galata/test/jupyterlab/outputarea-stdin.test.ts
  galata/test/jupyterlab/settings.test.ts
  galata/test/jupyterlab/workspace.test.ts
Due: prettier, eslint

Fix tests, ignore in test utils, remove spurious any/unknown
  .eslintrc.js
  packages/cells/src/collapser.tsx
  packages/completer-extension/src/index.ts
  packages/console-extension/src/index.ts
  packages/debugger/test/config.spec.ts
  packages/debugger/test/utils.ts
  packages/mermaid/test/utils.ts
  packages/notebook/src/actions.tsx
  packages/notebook/test/utils.ts
  packages/services/test/utils.ts
  packages/settingeditor/test/settingsformeditor.spec.tsx
Due: prettier, eslint

Pin `jupyterlab_server`
  pyproject.toml
Due: none

Added the missing translation wrapper
  packages/debugger/src/panels/kernelSources/body.tsx
  packages/debugger/src/panels/kernelSources/filter.tsx
Due: prettier, eslint

reserves multiple cells' dirty dots when moved
  packages/cells/src/model.ts
  packages/notebook/src/widget.ts
Due: prettier, eslint

make dirtyState array and add from > to condition
  packages/notebook/src/widget.ts
Due: prettier, eslint

Revert "Revert "Alternate description for disabled filters""
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
Due: prettier, eslint

Revert "Alternate description for disabled filters"
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
Due: prettier, eslint

Adds test case for string replacement that contains query string
  galata/test/jupyterlab/notebook-replace.test.ts
Due: prettier, eslint

Updates highlights after replacing keyword
  packages/codemirror/src/searchprovider.ts
Due: prettier, eslint

WIP: Track whether new substituted text also matches query
  packages/codemirror/src/searchprovider.ts
Due: prettier, eslint

Fix promise handling errors
  packages/codemirror/src/searchprovider.ts
Due: prettier, eslint

Update comment
  packages/codemirror/src/searchprovider.ts
Due: prettier, eslint

Handles codemirror update inside a promise
  packages/codemirror/src/searchprovider.ts
Due: prettier, eslint

Minor refactoring
  packages/codemirror/src/searchprovider.ts
Due: prettier, eslint

WIP: Advances currentMatch if new text matches query
  packages/codemirror/src/searchprovider.ts
Due: prettier, eslint

Fix typo
  packages/notebook/src/searchprovider.ts
Due: prettier, eslint

WIP: Advance highlight when replacement text matches
  packages/codemirror/src/searchprovider.ts
Due: prettier, eslint

add tests to verify moveCell() preserves dirty state
  packages/notebook/test/widget.spec.ts
Due: prettier, eslint

Added the missing translation wrapper
  packages/debugger/src/panels/kernelSources/filter.tsx
Due: prettier, eslint

Pin jupyterlab_server dependency
  pyproject.toml
Due: none

Fix usage test
  scripts/ci_script.sh
Due: none

Remove check for uninstalled extension
  scripts/ci_script.sh
Due: none

updated shutdown dialogue to display app.name
  packages/mainmenu-extension/src/index.ts
Due: prettier, eslint

fixed style
  packages/mainmenu-extension/src/index.ts
Due: prettier, eslint

Advances highlight after replacing text with a superset of the text
  packages/cells/src/searchprovider.ts
  packages/codemirror/src/searchprovider.ts
Due: prettier, eslint

Copy edits
  packages/cells/src/searchprovider.ts
Due: prettier, eslint

Updates timestamp format on initial render
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

Update width thresholds to avoid overlap
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

Uses container queries to show only a small or large modified header
  packages/filebrowser/src/listing.ts
  packages/filebrowser/style/base.css
Due: prettier, eslint, stylelint

Uses longer title in larger modified columns
  packages/filebrowser/src/listing.ts
Due: prettier, eslint

Fix error in kernels sidebar when switching kernels, remove unused prop (#16188)
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-jp-running-sessions-jupyterlab-linux.png
Due: none

Updates examples
  examples/app/example.spec.ts-snapshots/example-linux.png
  examples/federated/example.spec.ts-snapshots/example-linux.png
  examples/filebrowser/example.spec.ts-snapshots/example-linux.png
Due: none

Update browser.json
  packages/filebrowser-extension/schema/browser.json
Due: prettier

Migrate shortcuts search to filter box (#16216)
  packages/shortcuts-extension/src/components/TopNav.tsx
  packages/shortcuts-extension/style/base.css
Due: prettier, eslint, stylelint
