Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
        exclude: galata/.*-snapshots
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.23.1
    hooks:
      - id: check-github-workflows

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.282
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

fix marked types
  packages/markedparser-extension/src/index.ts
Due: prettier, eslint

move fake marked type packages to missing from unused
  buildutils/src/ensure-repo.ts
Due: prettier, eslint

remove marked pre-init
  packages/markedparser-extension/src/index.ts
Due: prettier, eslint

load marked, plugins in parallel
  packages/markedparser-extension/src/index.ts
Due: prettier, eslint

try pinning binder env, update snapshots
  binder/environment.yml
  galata/test/jupyterlab/notebook-markdown.test.ts-snapshots/do-not-highlight-standalone-dollar-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-markdown.test.ts-snapshots/render-mermaid-error-jupyterlab-linux.png
Due: none

simplify binder python baseline
  binder/environment.yml
Due: none

Added restart in place commands and UI
  examples/notebook/src/commands.ts
  packages/apputils/src/sessioncontext.tsx
  packages/apputils/src/toolbar/widget.tsx
  packages/apputils/test/sessioncontext.spec.ts
  packages/console-extension/src/index.ts
  packages/debugger-extension/src/index.ts
  packages/fileeditor-extension/src/commands.ts
  packages/mainmenu-extension/src/index.ts
  packages/notebook-extension/schema/panel.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/default-toolbar.tsx
  packages/notebook/test/executionindicator.spec.tsx
  packages/services/src/kernel/default.ts
  packages/services/src/kernel/kernel.ts
  packages/services/src/kernel/restapi.ts
  packages/services/test/kernel/ikernel.spec.ts
  packages/services/test/mock.spec.ts
Due: prettier, eslint

perf: add fallback for new commands
  packages/apputils-extension/src/themesplugins.ts
Due: prettier, eslint

added title for close launcher icon
  package.json
  packages/ui-components/src/icon/widgets/tabbarsvg.ts
  yarn.lock
Due: prettier, eslint

Change to package.json - wihtout lumino link
  package.json
  yarn.lock
Due: prettier

yarn.lock changes
  yarn.lock
Due: none

Fixed breaking tests
  examples/notebook/src/commands.ts
  packages/services/examples/browser/src/kernel.ts
Due: prettier, eslint

Fix staging yarn.lock (reorder pkg)
  jupyterlab/staging/yarn.lock
Due: none

Fix translation syntax to extract it by the parser
  packages/htmlviewer/src/widget.tsx
Due: prettier, eslint

Use config compatible with notebook 7
  jupyterlab/galata/__init__.py
Due: none

Fix pepy.tech links
  README.md
Due: none

simplify binder python baseline (#14971)
  binder/environment.yml
Due: none

Backport PR #14971: simplify binder python baseline
  binder/environment.yml
Due: none

Use config compatible with notebook 7 (#14978)
  jupyterlab/galata/__init__.py
Due: none

Backport PR #14978: Use config compatible with notebook 7
  jupyterlab/galata/__init__.py
Due: none

Backport PR #14946 on branch 4.0.x (Restore welcome test) (#14967)
  galata/test/documentation/general.test.ts
  galata/test/documentation/general.test.ts-snapshots/jupyterlab-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/terminal-layout-documentation-linux.png
  galata/test/documentation/plugins.test.ts-snapshots/plugins-documentation-linux.json
  jupyterlab/staging/yarn.lock
Due: prettier, eslint

fix lint
  packages/application/src/lab.ts
Due: prettier, eslint

Add a promise to the application for deferred plugins activation, and add tests on plugin activation
  packages/application/src/lab.ts
  packages/application/test/lab.spec.ts
Due: prettier, eslint

lint
  packages/application/test/lab.spec.ts
Due: prettier, eslint

Update packages/application/src/lab.ts
  packages/application/src/lab.ts
Due: prettier, eslint

Activate the deferred plugins after shell restore
  packages/application/src/lab.ts
  packages/apputils-extension/src/settingconnector.ts
Due: prettier, eslint

Remove try/catch when activating deferred extensions
  packages/application/src/lab.ts
Due: prettier, eslint

Apply suggestions from code review
  docs/source/developer/accessibility.rst
Due: none

Fix `filebrowser.open` and add ability to provide a factory
  galata/src/helpers/activity.ts
  galata/src/helpers/filebrowser.ts
  galata/test/galata/filebrowser.spec.ts
Due: prettier, eslint

Update docs/source/developer/accessibility.rst
  docs/source/developer/accessibility.rst
Due: none

some changes and restructuring
  docs/source/developer/accessibility.rst
Due: none

Activate the deferred plugins after shell restore (#14610)
  packages/application/src/lab.ts
  packages/application/test/lab.spec.ts
  packages/apputils-extension/src/settingconnector.ts
Due: prettier, eslint

changed title name and added translation
  packages/ui-components/src/icon/widgets/tabbarsvg.ts
Due: prettier, eslint

Fix pepy.tech links (#14982)
  README.md
Due: none

Backport PR #14982: Fix pepy.tech links
  README.md
Due: none

Refactor to a generic method taking taking arguments
  packages/application-extension/schema/commands.json
  packages/application-extension/src/index.tsx
Due: prettier, eslint

refactor: rename color scheme detect function
  packages/apputils/src/thememanager.ts
Due: prettier, eslint

initial commit
  packages/codeeditor/src/lineCol.tsx
  packages/extensionmanager/src/widget.tsx
  packages/json-extension/src/component.tsx
  packages/lsp-extension/src/renderer.tsx
  packages/settingeditor/src/pluginlist.tsx
  packages/shortcuts-extension/src/components/TopNav.tsx
Due: prettier, eslint
