Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

upgrade the version
  examples/cell/package.json
  examples/console/package.json
  examples/filebrowser/package.json
  examples/notebook/package.json
  examples/terminal/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/debugger/package.json
  packages/extensionmanager/package.json
  packages/ui-components/package.json
  yarn.lock
Due: prettier

Add class jp-ThemedContainer on the JupyterLab application shell container
  packages/application/src/lab.ts
Due: prettier, eslint

updated files
  packages/apputils-extension/src/notificationplugin.tsx
  packages/apputils/src/dialog.tsx
  packages/apputils/style/dialog.css
  packages/extensionmanager/src/widget.tsx
  packages/ui-components/src/components/button.tsx
Due: prettier, eslint, stylelint

Improve handling of shared output changes
  packages/cells/src/model.ts
  packages/outputarea/src/model.ts
Due: prettier, eslint

Move the themed container in the template to limit contamination when reusing `JupyterLab`.
  dev_mode/templates/template.html
  packages/application/src/lab.ts
Due: prettier, eslint

Fix bug in notification status bar item
  packages/apputils-extension/src/notificationplugin.tsx
Due: prettier, eslint

Backport PR #16508: Fix inline completer `configure` calls not being propagated correctly
  packages/completer/src/manager.ts
  packages/metapackage/test/completer/manager.spec.ts
Due: prettier, eslint

Update packages/application/src/connectionlost.ts
  packages/application/src/connectionlost.ts
Due: prettier, eslint

make variables private and move to end of file, add get and set methods
  packages/application/src/connectionlost.ts
Due: prettier, eslint

Remove extraneous test carried over by the merge
  packages/metapackage/test/completer/manager.spec.ts
Due: prettier, eslint

Backport PR #16508 on branch 4.2.x (Fix inline completer configure calls not being propagated correctly) (#16521)
  packages/completer/src/manager.ts
  packages/metapackage/test/completer/manager.spec.ts
Due: prettier, eslint

Fix setings editor not being loaded for some plugins
  packages/settingeditor/src/pluginlist.tsx
  packages/settingeditor/src/settingseditor.tsx
Due: prettier, eslint

Fix the description for the main inline completer plugin
  packages/completer-extension/src/index.ts
Due: prettier, eslint

Add tests for `PluginList.Model`, expose `SettingsRegistry.ready` as
  packages/settingeditor/test/pluginlist.spec.tsx
  packages/settingregistry/src/settingregistry.ts
Due: prettier, eslint

Handle hanging promises
  packages/settingeditor/src/pluginlist.tsx
  packages/settingeditor/src/settingseditor.tsx
Due: prettier, eslint

Remove `updateOutput` in favour of making `updatePrompt` an arrow func
  packages/notebook/src/widget.ts
Due: prettier, eslint

Improve line breaks behaviour in markdown cell previews
  packages/notebook/style/base.css
Due: prettier, stylelint

Adjust prompt positioning after c26de19036609530990bffb138bb68e7bead66bd
  packages/notebook/style/base.css
Due: prettier, stylelint

Bump to 0.7.4
  builder/package.json
  dev_mode/package.json
  examples/app/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/federated/core_package/package.json
  examples/filebrowser/package.json
  examples/notebook/package.json
  examples/terminal/package.json
  packages/nbconvert-css/package.json
  packages/services/examples/browser/package.json
  packages/services/examples/typescript-browser-with-output/package.json
  packages/services/package.json
  packages/ui-components/examples/simple-windowed-list/package.json
  yarn.lock
Due: prettier

Bump to 0.7.3
  builder/package.json
  dev_mode/package.json
  examples/app/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/federated/core_package/package.json
  examples/filebrowser/package.json
  examples/notebook/package.json
  examples/terminal/package.json
  packages/nbconvert-css/package.json
  packages/services/examples/browser/package.json
  packages/services/examples/typescript-browser-with-output/package.json
  packages/services/package.json
  packages/ui-components/examples/simple-windowed-list/package.json
  yarn.lock
Due: prettier

Fix the description for the main inline completer plugin (#16526)
  packages/completer-extension/src/index.ts
Due: prettier, eslint

Backport PR #16526: Fix the description for the main inline completer plugin
  packages/completer-extension/src/index.ts
Due: prettier, eslint

Bump to 0.7.5
  builder/package.json
  dev_mode/package.json
  examples/app/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/federated/core_package/package.json
  examples/filebrowser/package.json
  examples/notebook/package.json
  examples/terminal/package.json
  packages/nbconvert-css/package.json
  packages/services/examples/browser/package.json
  packages/services/examples/typescript-browser-with-output/package.json
  packages/services/package.json
  packages/ui-components/examples/simple-windowed-list/package.json
  yarn.lock
Due: prettier

Update to Playwright 1.45.0
  galata/package.json
  yarn.lock
Due: prettier

Add condition when a dialog should be shown
  packages/notebook-extension/src/index.ts
Due: prettier, eslint

Backport PR #16526: Fix the description for the main inline completer plugin (#16529)
  packages/completer-extension/src/index.ts
Due: prettier, eslint

Enhance readability by adjusting sizes of the headings
  docs/source/getting_started/accessibility.rst
Due: none

Change stream output handling
  packages/cells/src/model.ts
  packages/observables/src/observablelist.ts
  packages/outputarea/src/model.ts
  packages/outputarea/src/widget.ts
  packages/rendermime/src/outputmodel.ts
Due: prettier, eslint

Fix backspace handling
  packages/outputarea/src/model.ts
  packages/outputarea/src/widget.ts
Due: prettier, eslint

Bump @jupyter/ydoc v3.0.0-a0
  dev_mode/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/notebook/package.json
  packages/cell-toolbar/package.json
  packages/cells/package.json
  packages/codeeditor/package.json
  packages/codemirror-extension/package.json
  packages/codemirror/package.json
  packages/completer/package.json
  packages/console/package.json
  packages/debugger/package.json
  packages/docregistry/package.json
  packages/fileeditor/package.json
  packages/notebook-extension/package.json
  packages/notebook/package.json
  packages/services/package.json
  yarn.lock
Due: prettier

Optimize concatenateText
  packages/outputarea/src/model.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
