Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Add the standard SQL mimetype (#15180)
  packages/codemirror/src/language.ts
Due: prettier, eslint

Backport PR #15180: Add the standard SQL mimetype
  packages/codemirror/src/language.ts
Due: prettier, eslint

Backport PR #15180: Add the standard SQL mimetype (#15185)
  packages/codemirror/src/language.ts
Due: prettier, eslint

Use search history request with limit of 100 cells
  packages/completer/src/default/inlinehistoryprovider.ts
Due: prettier, eslint

Add icons to settings
  packages/completer-extension/schema/inline-completer.json
  packages/completer-extension/schema/manager.json
  packages/completer/package.json
  packages/completer/src/icons.ts
  packages/completer/src/index.ts
  packages/completer/src/svg.d.ts
  packages/completer/style/icons/inline.svg
  packages/completer/style/icons/widget.svg
Due: prettier, eslint

a ui test to check that clicking in the TOC does scroll the notebook panel
  galata/test/jupyterlab/notebooks/toc_scrolling_notebook.ipynb
  galata/test/jupyterlab/toc-scrolling.test.ts
  galata/test/jupyterlab/toc-scrolling.test.ts-snapshots/scrolled-to-bottom-heading-jupyterlab-darwin.png
Due: prettier, eslint

Polish completer widget icon
  packages/completer/style/icons/widget.svg
Due: none

Implement settings for inline completion providers
  packages/completer-extension/schema/inline-completer.json
  packages/completer-extension/src/index.ts
  packages/completer/src/default/inlinehistoryprovider.ts
  packages/completer/src/inline.ts
  packages/completer/src/manager.ts
  packages/completer/src/tokens.ts
  packages/completer/tsconfig.json
  packages/completer/tsconfig.test.json
Due: prettier, eslint

this is the expected behaviour
  galata/test/jupyterlab/toc-scrolling.test.ts-snapshots/scrolled-to-bottom-heading-jupyterlab-darwin.png
Due: none

Fix typo in `Notification.dismiss`
  docs/source/extension/ui_helpers.rst
Due: none

Initial streaming implementation
  packages/completer/src/handler.ts
  packages/completer/src/inline.ts
  packages/completer/src/reconciliator.ts
  packages/completer/src/tokens.ts
Due: prettier, eslint

Handles 'Enter' key when the completer is active
  packages/codeeditor/src/tokens.ts
  packages/codemirror/src/commands.ts
  packages/codemirror/src/extension.ts
  packages/completer/src/handler.ts
Due: prettier, eslint

added px to show on expected value
  galata/test/jupyterlab/launcher.test.ts
Due: prettier, eslint

Fix typo in `Notification.dismiss` (#15197)
  docs/source/extension/ui_helpers.rst
Due: none

Backport PR #15197: Fix typo in `Notification.dismiss`
  docs/source/extension/ui_helpers.rst
Due: none

minor changes
  galata/test/jupyterlab/launcher.test.ts
Due: prettier, eslint

Align ruff version
  .pre-commit-config.yaml
Due: none

Changed label to match command dialog functionality
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Restore removed API
  packages/notebook/src/notebookfooter.ts
Due: prettier, eslint

Minor changes
  galata/test/jupyterlab/launcher.test.ts
Due: prettier, eslint

Restore syntax highlighting for mimetypes with more than one identifier (#15175)
  packages/fileeditor-extension/src/commands.ts
Due: prettier, eslint

Backport PR #15175: Restore syntax highlighting for mimetypes with more than one identifier
  packages/fileeditor-extension/src/commands.ts
Due: prettier, eslint

Expanded provider explanation.
  docs/source/extension/plugin_system.rst
Due: none

added plus sign
  galata/test/jupyterlab/launcher.test.ts
Due: prettier, eslint

Mad minor changes
  galata/test/jupyterlab/launcher.test.ts
Due: prettier, eslint

Backport PR #15189: Bump actions/checkout from 3 to 4 (#15202)
  .github/workflows/benchmark.yml
  .github/workflows/check-i18n.yml
  .github/workflows/check-release.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/galata-update.yml
  .github/workflows/galata.yml
  .github/workflows/license-header.yml
  .github/workflows/linuxjs-tests.yml
  .github/workflows/linuxtests.yml
  .github/workflows/macostests.yml
  .github/workflows/reject-staging-changes.yml
  .github/workflows/windowstests.yml
Due: none

changed location of px
  galata/test/jupyterlab/launcher.test.ts
Due: prettier, eslint

Backport PR #15175: Restore syntax highlighting for mimetypes with more than one identifier (#15205)
  packages/fileeditor-extension/src/commands.ts
Due: prettier, eslint

Backport PR #15197: Fix typo in `Notification.dismiss` (#15199)
  docs/source/extension/ui_helpers.rst
Due: none

Restore removed API (#15204)
  packages/notebook/src/notebookfooter.ts
Due: prettier, eslint

Backport PR #15204: Restore removed API
  packages/notebook/src/notebookfooter.ts
Due: prettier, eslint

Remove back ticks in token description
  galata/test/documentation/plugins.test.ts-snapshots/plugins-documentation-linux.json
Due: prettier

Remove back ticks in plugin description
  packages/lsp-extension/src/index.ts
Due: prettier, eslint

Update packages/lsp-extension/src/index.ts
  packages/lsp-extension/src/index.ts
Due: prettier, eslint

Backport PR #15186: Bump iterative/setup-cml from 1 to 2 (#15201)
  .github/workflows/benchmark.yml
Due: none

Backport PR #15204: Restore removed API (#15208)
  packages/notebook/src/notebookfooter.ts
Due: prettier, eslint

update to mermaidjs 10.5.0
  packages/mermaid/package.json
  yarn.lock
Due: prettier

Switch from hub to gh CLI
  .github/workflows/galata-update.yml
  .github/workflows/license-header.yml
Due: none

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
