Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Fix undo/redo in console, fix undo/redo enabled state in file editor (#15783)
  galata/test/jupyterlab/contextmenu.test.ts
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/console-content-jupyterlab-linux.png
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/console-prompt-jupyterlab-linux.png
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/fileeditor-jupyterlab-linux.png
  packages/console-extension/schema/tracker.json
  packages/console-extension/src/index.ts
  packages/console/src/widget.ts
  packages/fileeditor-extension/src/commands.ts
Due: prettier, eslint

Correct Alt + number keyboard shortcuts command map (#15791)
  packages/application-extension/schema/commands.json
Due: prettier

Use `toggle` to simplify the code
  packages/notebook/src/widget.ts
Due: prettier, eslint

catch errors attempting to access document.cookie (#15788)
  packages/services/src/contents/index.ts
  packages/services/src/serverconnection.ts
Due: prettier, eslint

Lint
  packages/application/src/frontend.ts
Due: prettier, eslint

Apply suggestions from code review
  docs/source/extension/notebook.rst
  packages/console/src/widget.ts
  packages/notebook/src/widget.ts
Due: prettier, eslint

Windows platforms, erratic pasting of text into Markdown field
  packages/cells/src/widget.ts
Due: prettier, eslint

Code formatting corrected.
  packages/cells/src/widget.ts
Due: prettier, eslint

Changed string delimiter.
  packages/cells/src/widget.ts
Due: prettier, eslint

Correct TODO comment
  packages/console/src/widget.ts
Due: prettier, eslint

Fix hanging bracket
  packages/console/src/widget.ts
Due: prettier, eslint

margin edit
  packages/filebrowser/style/base.css
Due: prettier, stylelint

Fix typo in comment
  packages/codemirror/src/searchprovider.ts
Due: prettier, eslint

Update package.json
  packages/theme-high-contrast-extension/package.json
Due: prettier

Update package.json - missed quotation marks
  packages/theme-high-contrast-extension/package.json
Due: prettier

Move the override to lab subclass to limit blast radius
  packages/application/src/frontend.ts
  packages/application/src/lab.ts
Due: prettier, eslint

Fix outdated link to mybinder.org on index page of documentation
  docs/source/index.rst
Due: none

Added carriage return replacement for pasteing on osx.
  packages/cells/src/widget.ts
Due: prettier, eslint

adjusted formating of code
  packages/cells/src/widget.ts
Due: prettier, eslint

Fix outdated link to mybinder.org on index page of documentation (#15800)
  docs/source/index.rst
Due: none

Use `:focus-visible` for `.jp-DirListing-itemText`
  packages/filebrowser/style/base.css
Due: prettier, stylelint

Fix currentIndex logic when replacing search match
  packages/codemirror/src/searchprovider.ts
Due: prettier, eslint

Additional test for selection in mid-cell
  packages/notebook/test/searchprovider.spec.ts
Due: prettier, eslint

Tests code cells specifically
  packages/notebook/test/searchprovider.spec.ts
Due: prettier, eslint

Lint fixes
  packages/codemirror/src/searchprovider.ts
  packages/notebook/test/searchprovider.spec.ts
Due: prettier, eslint

Isolates code cell mid-cell test
  packages/notebook/test/searchprovider.spec.ts
Due: prettier, eslint

Fix codemirror highlight for Python builtin
  packages/codemirror/src/pythonBuiltin.ts
  packages/codemirror/src/theme.ts
  packages/codemirror/style/base.css
Due: prettier, eslint, stylelint

Lint code
  packages/codemirror/src/pythonBuiltin.ts
  packages/codemirror/src/theme.ts
Due: prettier, eslint

Use cached mark
  packages/codemirror/src/pythonBuiltin.ts
Due: prettier, eslint

Fix cached mark
  packages/codemirror/src/pythonBuiltin.ts
Due: prettier, eslint

Lint code
  packages/codemirror/src/pythonBuiltin.ts
Due: prettier, eslint

Update snapshots for examples test
  examples/app/example.spec.ts-snapshots/example-linux.png
  examples/cell/example.spec.ts-snapshots/example-linux.png
  examples/console/example.spec.ts-snapshots/example-linux.png
  examples/federated/example.spec.ts-snapshots/example-linux.png
  examples/filebrowser/example.spec.ts-snapshots/example-linux.png
  examples/notebook/example.spec.ts-snapshots/example-linux.png
  examples/terminal/example.spec.ts-snapshots/example-linux.png
Due: none

Update Playwright Snapshots
  galata/test/jupyterlab/notebook-run.test.ts-snapshots/notebook-panel-1-jupyterlab-linux.png
  galata/test/jupyterlab/readonly.test.ts-snapshots/readonly-jupyterlab-linux.png
Due: none

Update Playwright Snapshots
  galata/test/jupyterlab/metadataform.test.ts-snapshots/metadata-required-filled-jupyterlab-linux.png
Due: none

Refactor code
  packages/codemirror/src/language.ts
  packages/codemirror/src/pythonBuiltin.ts
  packages/codemirror/src/theme.ts
  packages/codemirror/style/base.css
Due: prettier, eslint, stylelint

Restore notebook scrolling on dragging a cell to the viewport edge (#15782)
  galata/test/jupyterlab/notebook-scroll-no-windowing.test.ts
  galata/test/jupyterlab/notebook-scroll.test.ts
  galata/test/jupyterlab/utils.ts
  packages/notebook/src/widget.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
