Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
        exclude: galata/.*-snapshots
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.23.1
    hooks:
      - id: check-github-workflows

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.282
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

Add docker config
  docker/Dockerfile
  docker/Dockerfile.dockerignore
  docker/start.sh
Due: none

Add documentation
  docs/source/developer/contributing.rst
Due: none

Added data testid to extension manager section
  galata/test/jupyterlab/sidebars.test.ts
  packages/extensionmanager-extension/src/index.ts
Due: prettier, eslint

Updated test name
  packages/apputils-extension/test/palette.spec.ts
Due: prettier, eslint

changes to get min-height value in css
  galata/test/jupyterlab/launcher.test.ts
Due: prettier, eslint

uncomment change
  galata/test/jupyterlab/launcher.test.ts
Due: prettier, eslint

Add test
  .github/workflows/docker-test.yml
  docker/start.sh
Due: none

removed min-height
  galata/test/jupyterlab/launcher.test.ts
Due: prettier, eslint

added loop to element.evaluate
  galata/test/jupyterlab/launcher.test.ts
Due: prettier, eslint

Update documentation screenshot
  galata/test/documentation/plugin_manager.test.ts-snapshots/plugin-manager-plugin-locked-documentation-linux.png
Due: none

Fix background-color in `<select>` elements in dark theme (#15098)
  packages/ui-components/style/rjsfTemplates.css
Due: prettier, stylelint

Backport PR #15098: Fix background-color in `<select>` elements in dark theme
  packages/ui-components/style/rjsfTemplates.css
Due: prettier, stylelint

Update to latest `@lumino/widgets` version following https://github.com/jupyterlab/jupyterlab/pull/15142
  packages/pluginmanager/package.json
  yarn.lock
Due: prettier

Implement accept and invoke
  packages/completer-extension/schema/inline-completer.json
  packages/completer-extension/src/index.ts
  packages/completer/src/handler.ts
  packages/completer/src/inline.ts
  packages/completer/src/manager.ts
  packages/completer/src/tokens.ts
Due: prettier, eslint

Fix shortcuts assignment
  packages/completer-extension/schema/inline-completer.json
Due: prettier

Backport PR #15098: Fix background-color in `<select>` elements in dark theme (#15159)
  packages/ui-components/style/rjsfTemplates.css
Due: prettier, stylelint

blur footer for any key that triggers a 'select above', not just ArrowUp (#14796)
  packages/notebook-extension/schema/tracker.json
  packages/notebook/src/actions.tsx
  packages/notebook/src/notebookfooter.ts
  packages/notebook/src/widget.ts
Due: prettier, eslint

Backport PR #14796: blur footer for any key that triggers a 'select above', not just ArrowUp
  packages/notebook-extension/schema/tracker.json
  packages/notebook/src/actions.tsx
  packages/notebook/src/notebookfooter.ts
  packages/notebook/src/widget.ts
Due: prettier, eslint

Remove no-longer needed traversable data attribute
  packages/notebook/src/notebookfooter.ts
  packages/notebook/src/widget.ts
Due: prettier, eslint

Fix styling when multi-selection is active
  packages/notebook/style/base.css
Due: prettier, stylelint

changed toBE to toContain
  galata/test/jupyterlab/launcher.test.ts
Due: prettier, eslint

Removed data-testid and used page.locator for extension manager
  galata/test/jupyterlab/sidebars.test.ts
  packages/extensionmanager-extension/src/index.ts
Due: prettier, eslint

update contain to most restrictive possible
  packages/application/style/skiplink.css
Due: prettier, stylelint

took out loop and added toHaveCSS
  galata/test/jupyterlab/launcher.test.ts
Due: prettier, eslint

Clicked on extension manager button before getting by ID
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

getByTitle returns multiple elements so added last()
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

getByTitle returns multiple elements so added first()
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

Escaped the full stop in extension manager ID
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

Modified links and code references/related content.
  docs/source/extension/extension_dual_compatibility.rst
  docs/source/extension/plugin_system.rst
Due: none

Update links.
  docs/source/extension/plugin_system.rst
Due: none

Added token link.
  docs/source/extension/plugin_system.rst
Due: none

Split up ghost to separate file, improve ghost and widget
  packages/completer-extension/src/index.ts
  packages/completer/src/default/inlinehistoryprovider.ts
  packages/completer/src/ghost.ts
  packages/completer/src/handler.ts
  packages/completer/src/inline.ts
  packages/completer/src/manager.ts
  packages/completer/src/tokens.ts
  packages/completer/style/base.css
Due: prettier, eslint, stylelint

fix(filebrowser-extension): copy absolute path with first slash
  packages/filebrowser-extension/src/index.ts
Due: prettier, eslint

Fix Show Keyboard Shortcuts command
  packages/apputils-extension/src/index.ts
Due: prettier, eslint

Backport PR #14796: blur footer for any key that triggers a 'select above', not just ArrowUp (#15162)
  packages/notebook-extension/schema/tracker.json
  packages/notebook/src/actions.tsx
  packages/notebook/src/notebookfooter.ts
  packages/notebook/src/widget.ts
Due: prettier, eslint

Changed test name to accessibility and toolbar role to toolbar
  packages/application/test/shell.spec.ts
  packages/apputils/src/mainareawidget.ts
  packages/apputils/test/mainareawidget.spec.ts
Due: prettier, eslint

Uses bubbling phase in keydown event in CI
  scripts/ci_install.sh
Due: none

Added xfail test
  packages/apputils/test/mainareawidget.spec.ts
Due: prettier, eslint

Add printed notebook test
  galata/test/jupyterlab/print.test.ts
  galata/test/jupyterlab/print.test.ts-snapshots/printed-notebook-jupyterlab-linux.png
Due: prettier, eslint

Revert CSS changes to table except when using media print
  packages/cells/style/inputarea.css
  packages/cells/style/widget.css
  packages/notebook/style/base.css
  packages/outputarea/style/base.css
Due: prettier, stylelint
