Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [check-jsonschema, prettier, eslint, integrity]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: forbid-new-submodules
      - id: check-case-conflict
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: debug-statements

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.16
    hooks:
      - id: mdformat

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.14.2
    hooks:
      - id: check-jsonschema
        name: 'Check GitHub Workflows'
        files: ^\.github/workflows/
        types: [yaml]
        args: ['--schemafile', 'https://json.schemastore.org/github-workflow']

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

Use customizable context menu
  packages/running-extension/schema/plugin.json
  packages/running-extension/src/kernels.ts
Due: prettier, eslint

Fix DOM structure
  packages/running/src/index.tsx
Due: prettier, eslint

Better UI test selectors
  galata/test/documentation/general.test.ts
Due: prettier, eslint

Add languages to the command palette (#13815)
  galata/test/documentation/debugger.test.ts
  galata/test/documentation/debugger.test.ts-snapshots/debugger-run-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/command-palette-documentation-linux.png
  packages/translation-extension/src/index.ts
Due: prettier, eslint

Switch to VEGALITE5_MIME_TYPE
  packages/vega5-extension/src/index.ts
  packages/vega5-extension/test/utils.ts
Due: prettier, eslint

preserve docs script
  packages/mathjax-extension/package.json
Due: prettier

update README
  packages/mathjax-extension/README.md
Due: none

update package description
  packages/mathjax-extension/package.json
Due: prettier

update package url
  packages/mathjax-extension/package.json
Due: prettier

remove unused npm-run-all dep
  packages/mathjax-extension/package.json
  yarn.lock
Due: prettier

add typedoc dep
  packages/mathjax-extension/package.json
Due: prettier

Apply suggestions from code review
  packages/cells/src/searchprovider.ts
  packages/codemirror/src/searchprovider.ts
  packages/fileeditor/src/searchprovider.ts
Due: prettier, eslint

Update test to Vega-Lite 5
  packages/vega5-extension/test/renderer.spec.ts
  packages/vega5-extension/test/utils.ts
Due: prettier, eslint

Update documentWidgetFactoryOptions for Vega-Lite5
  packages/vega5-extension/src/index.ts
Due: prettier, eslint

Define colour and background for filebrowser edit field
  packages/filebrowser/style/base.css
Due: prettier

Ignore PLR0913
  pyproject.toml
Due: none

Update snapshots
  galata/test/documentation/general.test.ts-snapshots/interface-tabs-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/running-layout-documentation-linux.png
Due: none

Improve kernels pane in running sidebar (#13851)
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/general.test.ts
  galata/test/documentation/general.test.ts-snapshots/interface-tabs-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/running-layout-documentation-linux.png
  packages/notebook-extension/src/index.ts
  packages/running-extension/package.json
  packages/running-extension/schema/plugin.json
  packages/running-extension/src/index.ts
  packages/running-extension/src/kernels.ts
  packages/running-extension/tsconfig.json
  packages/running/src/index.tsx
  packages/running/style/base.css
Due: prettier, eslint

Waits for panel reveal before measuring first cell for cell toolbar (#13876)
  packages/cell-toolbar/src/celltoolbartracker.ts
Due: prettier, eslint

Define colour and background for filebrowser edit field (#13895)
  packages/filebrowser/style/base.css
Due: prettier

Backport PR #13895: Define colour and background for filebrowser edit field
  packages/filebrowser/style/base.css
Due: prettier

dynamically import mathjax-full dependency
  packages/mathjax-extension/src/index.ts
Due: prettier, eslint

Lint fixes
  packages/cell-toolbar/src/celltoolbartracker.ts
Due: prettier, eslint

Lint fixes (#13905)
  packages/cell-toolbar/src/celltoolbartracker.ts
Due: prettier, eslint

hide the cell toolbar on mobile, fixes #12523
  packages/cell-toolbar/style/base.css
Due: prettier

Update urls.rst
  docs/source/user/urls.rst
Due: none

Backport PR #13895: Define colour and background for filebrowser edit field (#13899)
  packages/filebrowser/style/base.css
Due: prettier

Backport PR #13895: Define colour and background for filebrowser edit field (#13901)
  packages/filebrowser/style/base.css
Due: prettier

Automated Changelog Entry for 3.6.0 on 3.6.x
  CHANGELOG.md
Due: none

Update changelog
  CHANGELOG.md
Due: none

Fix doc job
  CHANGELOG.md
Due: none

Automated Changelog Entry for 3.6.0 on 3.6.x (#13906)
  CHANGELOG.md
Due: none

Update urls.rst (#13902)
  docs/source/user/urls.rst
Due: none

Backport PR #13902: Fix minor typo in urls.rst
  docs/source/user/urls.rst
Due: none

[ci skip] Publish 3.6.0
  .bumpversion.cfg
  dev_mode/package.json
  jupyterlab/_version.py
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
  pyproject.toml
  yarn.lock
Due: prettier

Add notes about the new listener helpers.
  galata/README.md
  galata/extension/src/global.ts
  galata/test/galata/jupyterlabpage.spec.ts
Due: prettier, eslint

Backport PR #13902: Fix minor typo in urls.rst (#13908)
  docs/source/user/urls.rst
Due: none
