Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
        exclude: galata/.*-snapshots
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.23.1
    hooks:
      - id: check-github-workflows

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.282
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

Simplify the fix for CodeMirror
  packages/testing/src/jest-shim.ts
Due: prettier, eslint

Handle the focus on Notbeook in windowed panel
  packages/notebook-extension/schema/tracker.json
  packages/notebook/src/actions.tsx
  packages/notebook/src/widget.ts
  packages/notebook/src/windowing.ts
  packages/notebook/style/base.css
Due: prettier, eslint, stylelint

add defaultPath option
  packages/filebrowser/src/opendialog.ts
Due: prettier, eslint

add tests for defaultPath option
  packages/filebrowser/test/openfiledialog.spec.ts
Due: prettier, eslint

Fix integrity
  yarn.lock
Due: none

Hide code cells with widget functions and CSS to avoid using checkVisibility(), and fix notebook actions tests
  packages/notebook/src/actions.tsx
  packages/notebook/src/widget.ts
  packages/notebook/src/windowing.ts
  packages/notebook/test/actions.spec.ts
Due: prettier, eslint

Add xterm setting to the schema
  packages/terminal-extension/schema/plugin.json
Due: prettier

Do not attach/detach codecell when windowing, to avoid inconstitancy state
  packages/cells/src/widget.ts
  packages/notebook/src/windowing.ts
Due: prettier, eslint

width and height calue changes
  galata/test/jupyterlab/zoom.test.ts
Due: prettier, eslint

toggle the panel with the same shortcut
  packages/application-extension/src/index.tsx
Due: prettier, eslint

shortcut to close the right panel - Accel Shift B
  packages/application-extension/schema/commands.json
Due: prettier

took out zoom level line
  galata/test/jupyterlab/zoom.test.ts
Due: prettier, eslint

Restore actions sync
  packages/notebook/src/actions.tsx
  packages/notebook/test/actions.spec.ts
Due: prettier, eslint

add full page to menubar screenshot
  galata/test/jupyterlab/zoom.test.ts
Due: prettier, eslint

minor change
  galata/test/jupyterlab/zoom.test.ts
Due: prettier, eslint

changes
  galata/test/jupyterlab/zoom.test.ts
Due: prettier, eslint

Fixed floating promise
  packages/filebrowser/src/opendialog.ts
Due: prettier, eslint

Backport PR #15270 on branch 4.0.x (Update canvas to a version with prebuilds for nodeJS 20) (#15274)
  jupyterlab/staging/yarn.lock
  packages/csvviewer/package.json
  packages/debugger/package.json
  packages/terminal/package.json
  yarn.lock
Due: prettier

Update packages/notebook/src/history.ts
  packages/notebook/src/history.ts
Due: prettier, eslint

Update packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/schema/tracker.json
Due: prettier

Update docs/source/user/notebook.rst
  docs/source/user/notebook.rst
Due: none

precommit
  packages/notebook/src/history.ts
Due: prettier, eslint

history -> kernelHistory
  packages/notebook/src/actions.tsx
  packages/notebook/src/testutils.ts
  packages/notebook/src/widget.ts
  packages/notebook/test/history.spec.ts
Due: prettier, eslint

Store information about execution failure timing
  packages/cells/src/widget.ts
Due: prettier, eslint

Initial work on ensuring the active cell is always rendered
  packages/notebook/src/widget.ts
  packages/notebook/src/windowing.ts
Due: prettier, eslint

Scroll to the active cell on `keydown` if out of view
  packages/notebook/src/widget.ts
Due: prettier, eslint

Document and move implementation to private methods,
  packages/notebook/src/windowing.ts
Due: prettier, eslint

Add browser tests, update existing tests
  galata/test/jupyterlab/windowed-notebook.test.ts
Due: prettier, eslint

Add a test case for #14878
  galata/test/jupyterlab/notebook-scroll.test.ts
  galata/test/jupyterlab/notebooks/long_outputs.ipynb
Due: prettier, eslint

Fix the smart/auto scrolling logic for long items
  packages/ui-components/src/components/windowedlist.ts
Due: prettier, eslint

testing changes
  galata/test/jupyterlab/zoom.test.ts
Due: prettier, eslint

removed fullPage: true
  galata/test/jupyterlab/zoom.test.ts
Due: prettier, eslint
