Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Fix OutputModel.toJSON()
  packages/rendermime/src/outputmodel.ts
Due: prettier, eslint

Change text entry from list of strings to string
  packages/cells/src/model.ts
  packages/observables/src/observablelist.ts
  packages/outputarea/src/model.ts
  packages/outputarea/src/widget.ts
  packages/rendermime/src/outputmodel.ts
Due: prettier, eslint

Improve typing
  packages/cells/src/model.ts
  packages/outputarea/src/model.ts
  packages/outputarea/src/widget.ts
  packages/rendermime/src/outputmodel.ts
Due: prettier, eslint

Cleanup
  packages/cells/src/model.ts
  packages/outputarea/src/model.ts
  packages/outputarea/src/widget.ts
Due: prettier, eslint

Add endpoint data for csv viewer and prevent autostart
  dev_mode/index.js
  packages/application/src/lab.ts
  packages/csvviewer-extension/package.json
  packages/csvviewer-extension/src/index.ts
  packages/docregistry/src/registry.ts
  untitled.csv
Due: prettier, eslint

Update Completer shortcuts
  packages/completer-extension/schema/inline-completer.json
  packages/console-extension/schema/completer.json
  packages/fileeditor-extension/schema/completer.json
  packages/notebook-extension/schema/completer.json
Due: prettier

Simplify the changeset
  packages/application/src/connectionlost.ts
Due: prettier, eslint

WIP: Uses a toolbar button to toggle filter state
  packages/filebrowser-extension/schema/widget.json
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/src/browser.ts
Due: prettier, eslint

WIP: Clicks clear button on filter hide
  packages/filebrowser/src/browser.ts
Due: prettier, eslint

Revert "Alternate description for disabled filters"
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
Due: prettier, eslint

Sets flexbox on filter toolbar
  packages/filebrowser/style/base.css
Due: prettier, stylelint

Adds option to show search icon in filter box
  packages/filebrowser/src/browser.ts
  packages/ui-components/src/components/search.tsx
Due: prettier, eslint

Makes buttons visible in one row at default width
  packages/filebrowser/style/base.css
Due: prettier, stylelint

Setts "pressed" attribute on filter button when filter is shown
  packages/filebrowser/src/browser.ts
Due: prettier, eslint

Sets forceRefresh: false for file browser
  packages/filebrowser/src/browser.ts
Due: prettier, eslint

Hardcodes filter dialog, basic functionality intact
  packages/filebrowser-extension/schema/widget.json
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/src/browser.ts
Due: prettier, eslint

WIP: Clear filter on flip
  packages/filebrowser/src/browser.ts
Due: prettier, eslint

Adds option to show icon
  packages/ui-components/src/components/search.tsx
Due: prettier, eslint

Updates help text in workspace dialog, more specific props passing
  packages/ui-components/src/components/search.tsx
  packages/workspaces-extension/src/commands.ts
Due: prettier, eslint

Reverts flaky test screenshots
  galata/test/documentation/general.test.ts-snapshots/command-palette-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/running-layout-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-change-documentation-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-jp-running-sessions-jupyterlab-linux.png
Due: none

Uses command pattern, removes toggleFileFilter
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/src/browser.ts
Due: prettier, eslint

Generalizes button clicking code
  packages/filebrowser/src/browser.ts
Due: prettier, eslint

Revert "Revert "Alternate description for disabled filters""
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
Due: prettier, eslint

Update packages/filebrowser/src/browser.ts
  packages/filebrowser/src/browser.ts
Due: prettier, eslint

Styling for search box
  packages/filebrowser/style/base.css
Due: prettier, stylelint

Style updates
  packages/filebrowser/style/base.css
Due: prettier, stylelint

WIP: Adds filter button to show/hide file filters
  packages/filebrowser/src/browser.ts
Due: prettier, eslint

Comment update
  packages/filebrowser/src/browser.ts
Due: prettier, eslint

Simplifies show/hide logic
  packages/filebrowser/src/browser.ts
Due: prettier, eslint

Reinstates same density as inside toolbar
  packages/filebrowser/style/base.css
Due: prettier, stylelint

Notebook minimap in the virtual scrollbar (#16432)
  packages/notebook/src/widget.ts
  packages/notebook/style/base.css
Due: prettier, eslint, stylelint

Add option to dismiss "Server Connection Error" dialog for the duration of the session (#16269)
  packages/application/src/connectionlost.ts
Due: prettier, eslint

Update to Playwright 1.45.0 (#16530)
  galata/package.json
  yarn.lock
Due: prettier

Updates example screenshots
  examples/app/example.spec.ts-snapshots/example-linux.png
  examples/federated/example.spec.ts-snapshots/example-linux.png
  examples/filebrowser/example.spec.ts-snapshots/example-linux.png
Due: none

Renames folder toolbar to filter toolbar
  packages/filebrowser/src/browser.ts
  packages/filebrowser/style/base.css
Due: prettier, eslint, stylelint

Add checkbox to skip showing the kernel restart dialog (#16265)
  packages/apputils-extension/schema/sessionDialogs.json
  packages/apputils-extension/src/index.ts
  packages/apputils/src/sessioncontext.tsx
Due: prettier, eslint

Add crossorigin anonymous to GitHub images
  packages/extensionmanager/src/widget.tsx
Due: prettier, eslint

Don't scope rule if it uses a jp class
  packages/application/style/buttons.css
  packages/notebook/style/base.css
  packages/rendermime/style/base.css
  packages/running/style/base.css
  packages/ui-components/style/rjsfTemplates.css
  packages/ui-components/style/styling.css
Due: prettier, stylelint

Fix pre/tt/code/samp/kbd specificity
  packages/inspector/style/base.css
  packages/outputarea/style/base.css
  packages/rendermime/style/base.css
Due: prettier, stylelint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
