Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Install from local on CI
  scripts/ci_script.sh
Due: none

Fix missing backtick (#16083)
  docs/source/user/extensions.rst
Due: none

Backport PR #16083: Fix missing backtick in plugin manager docs
  docs/source/user/extensions.rst
Due: none

Fix migration script, use extras for its dependencies (#16088)
  docs/source/extension/extension_migration.rst
  jupyterlab/upgrade_extension.py
  pyproject.toml
  scripts/ci_script.sh
Due: none

Backport PR #16088: Fix migration script, use extras for its dependencies
  docs/source/extension/extension_migration.rst
  jupyterlab/upgrade_extension.py
  pyproject.toml
  scripts/ci_script.sh
Due: none

Fix shutdownAll button
  packages/running/src/index.tsx
Due: prettier, eslint

Backport PR #16088: Fix migration script, use extras for its dependencies (#16090)
  docs/source/extension/extension_migration.rst
  jupyterlab/upgrade_extension.py
  pyproject.toml
  scripts/ci_script.sh
Due: none

Enable `full` notebook windowing mode by default (#15964)
  galata/test/documentation/custom_css.test.ts
  galata/test/documentation/custom_css.test.ts-snapshots/custom-css-notebook-markdown-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/customized-notebook-toolbar-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-notebook-toolbar-documentation-linux.png
  galata/test/documentation/debugger.test.ts
  galata/test/documentation/debugger.test.ts-snapshots/debugger-activate-documentation-linux.png
  galata/test/documentation/debugger.test.ts-snapshots/debugger-kernel-documentation-linux.png
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-slide-type-documentation-linux.png
  galata/test/documentation/general.test.ts
  galata/test/documentation/general.test.ts-snapshots/file-formats-altair-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-html-display-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/jupyterlab-documentation-linux.png
  galata/test/galata/notebook.spec.ts
  galata/test/galata/notebook.spec.ts-snapshots/code-cell-galata-linux.png
  galata/test/galata/notebook.spec.ts-snapshots/example-run-galata-linux.png
  galata/test/galata/notebook.spec.ts-snapshots/markdown-cell-galata-linux.png
  galata/test/galata/notebook.spec.ts-snapshots/notebook-tab-saved-galata-linux.png
  galata/test/galata/notebook.spec.ts-snapshots/raw-cell-galata-linux.png
  galata/test/galata/notebook.spec.ts-snapshots/run-cells-galata-linux.png
  galata/test/jupyterlab/collapsible-headings.test.ts
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-on-deleted-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-toolbar.test.ts
  packages/notebook-extension/schema/tracker.json
Due: prettier, eslint

Lint the code
  packages/running/src/index.tsx
Due: prettier, eslint

Make visual regression tests faster (#16069)
  galata/README.md
  galata/src/helpers/notebook.ts
  galata/src/utils.ts
  galata/test/jupyterlab/collapsible-headings.test.ts
  galata/test/jupyterlab/html-viewer.test.ts
  galata/test/jupyterlab/notebook-markdown.test.ts
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts
  galata/test/jupyterlab/notebooks/collapsible_headings_keyboard_navigation.ipynb
  galata/test/jupyterlab/notebooks/test.html
  galata/test/jupyterlab/output-scrolling.test.ts
  galata/test/jupyterlab/toc-running.test.ts
  galata/test/jupyterlab/toc-scrolling.test.ts
  galata/test/jupyterlab/toc.test.ts
Due: prettier, eslint

Fix shutdownAll button (#16093)
  packages/running/src/index.tsx
Due: prettier, eslint

Backport PR #16083: Fix missing backtick in plugin manager docs (#16089)
  docs/source/user/extensions.rst
Due: none

Tests for sorting shortcut columns
  packages/shortcuts-extension/test/components/ShortcutUI.spec.ts
Due: prettier, eslint

Lint checks
  packages/shortcuts-extension/test/components/ShortcutUI.spec.ts
Due: prettier, eslint

Mention JupyterLab desktop in the installation section
  docs/source/getting_started/installation.rst
Due: none

Fix extension toggling at different level
  jupyterlab/commands.py
Due: none

User-facing changelog for JupyterLab 4.2
  CHANGELOG.md
  docs/source/getting_started/changelog_assets/4.2-delete-shortcut.png
  docs/source/getting_started/changelog_assets/4.2-recent-modal.png
  docs/source/getting_started/changelog_assets/4.2-recent-sidebar.png
  docs/source/getting_started/changelog_assets/4.2-recent-submenu.png
  docs/source/getting_started/changelog_assets/4.2-workspaces-sidebar.png
Due: none

Update package.json
  packages/theme-dark-high-contrast-extension/package.json
Due: prettier

Remove listener for `keydown` event on disposal
  packages/cells/src/widget.ts
Due: prettier, eslint

Adapting review comments.
  packages/shortcuts-extension/test/components/ShortcutUI.spec.ts
Due: prettier, eslint

Tests for sorting shortcut columns (#16098)
  packages/shortcuts-extension/test/components/ShortcutUI.spec.ts
Due: prettier, eslint

Add shortcuts/commands for CM, fix issues with new lumino version.
  packages/codemirror-extension/package.json
  packages/codemirror-extension/schema/plugin.json
  packages/codemirror-extension/src/commands.ts
  packages/codemirror-extension/src/index.ts
  packages/codemirror/src/commands.ts
  packages/codemirror/src/extension.ts
  yarn.lock
Due: prettier, eslint

Use `dependency_type: minimum` for Minimum Versions check
  .github/workflows/linuxtests.yml
Due: none

Fix scrolling to output area inputs on caret movement (#16068)
  packages/cells/src/widget.ts
  packages/notebook/src/widget.ts
Due: prettier, eslint

Try not using `:` in the `alt`
  CHANGELOG.md
Due: none

Grammar
  docs/source/getting_started/installation.rst
Due: none

Add traitlets pin
  pyproject.toml
Due: none

Pin tomli
  pyproject.toml
Due: none

Pin ipykernel to 6.5.0
  pyproject.toml
Due: none

Use `dependency_type: minimum` for Minimum Versions check (#16105)
  .github/workflows/linuxtests.yml
  pyproject.toml
Due: none

Backport PR #16105: Use `dependency_type: minimum` for Minimum Versions check
  .github/workflows/linuxtests.yml
  pyproject.toml
Due: none

Revert incorrect updates to upgrade-extension deps
  pyproject.toml
Due: none

Align ruff version, switch away from deprecated `select` and `ignore`
  pyproject.toml
Due: none

Mention JupyterLab Desktop in the installation section (#16100)
  docs/source/getting_started/installation.rst
Due: none

Store the real position of the item after insertion instead of the expected one, to avoid error in computation
  packages/ui-components/src/components/toolbar.tsx
Due: prettier, eslint

Satisfy ruff's predilection to f-string
  jupyterlab/semver.py
Due: none

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
