Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
        exclude: galata/.*-snapshots
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.23.1
    hooks:
      - id: check-github-workflows

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.282
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

remove gitgraph screenshots because random hashes
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-10-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-11-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-12-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-13-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-10-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-11-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-12-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-13-jupyterlab-linux.png
  galata/test/jupyterlab/notebooks/mermaid_diagrams.ipynb
Due: none

more mermaid screenshot work
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts
  galata/test/jupyterlab/notebooks/mermaid_diagrams.ipynb
Due: prettier, eslint

more isolated, verbose diagram screenshot names
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-00-flowchart-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-01-sequence-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-02-class-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-03-state-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-04-er-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-05-journey-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-06-gantt-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-07-pie-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-08-qudarant-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-09-requirement-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-10-c4-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-11-mindmap-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-12-timeline-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-00-flowchart-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-01-sequence-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-02-class-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-03-state-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-04-er-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-05-journey-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-06-gantt-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-07-pie-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-08-qudarant-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-09-requirement-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-10-c4-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-11-mindmap-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-12-timeline-jupyterlab-linux.png
  galata/test/jupyterlab/notebooks/mermaid_diagrams.ipynb
Due: prettier, eslint

more screenshots
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-03-state-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-06-gantt-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-08-quadrant-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-08-qudarant-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-10-c4-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-11-mindmap-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-12-timeline-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-13-sankey-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-14-xy-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-03-state-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-06-gantt-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-08-quadrant-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-08-qudarant-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-10-c4-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-11-mindmap-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-12-timeline-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-13-sankey-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-14-xy-jupyterlab-linux.png
Due: none

Apply suggestions on comments/documentation
  packages/notebook/src/actions.tsx
  packages/ui-components/src/components/windowedlist.ts
Due: prettier, eslint

Backport PR #15716: Fix `overrides.json` not working for shortcuts (#15723)
  .github/workflows/linuxjs-tests.yml
  packages/shortcuts-extension/package.json
  packages/shortcuts-extension/src/index.ts
  packages/shortcuts-extension/test/shortcuts.spec.ts
  yarn.lock
Due: prettier, eslint

Fix scrolling on execution and switching notebook mode (#15702)
  galata/playwright.config.js
  galata/test/jupyterlab/notebook-scroll-no-windowing.test.ts
  galata/test/jupyterlab/utils.ts
  galata/test/jupyterlab/windowed-notebook.test.ts
  packages/notebook/src/actions.tsx
  packages/notebook/src/toc.ts
  packages/notebook/src/widget.ts
  packages/notebook/test/actions.spec.ts
  packages/testing/src/jest-shim.ts
  packages/ui-components/src/components/windowedlist.ts
Due: prettier, eslint

Backport PR #15721: Replace `ifaxity/wait-on-action` wrapper with direct `wait-on` use (#15722)
  .github/workflows/benchmark.yml
  .github/workflows/galata.yml
Due: none

test without helper function
  galata/src/helpers/activity.ts
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

commented out the flex-wrap and row-gap css to test SC changes.
  packages/filebrowser/style/base.css
Due: prettier, stylelint

add unit tests for void element cleaning
  packages/mermaid/src/manager.ts
  packages/mermaid/test/clean.spec.ts
  packages/mermaid/test/renderer.spec.ts
  packages/mermaid/test/utils.ts
Due: prettier, eslint

another unclosed tag
  packages/mermaid/test/utils.ts
Due: prettier, eslint

fix: collapse-cell-toolbar-stuck
  packages/cell-toolbar/src/celltoolbartracker.ts
Due: prettier, eslint

refactor test without helper
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

set launcher initial focus
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

Fix snapshots for large diagrams
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts
Due: prettier, eslint

Scale the diagram up to avoid having a small blurry blob
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts
Due: prettier, eslint

Copy edits
  docs/source/user/lsp.rst
Due: none

close sidebars before each test
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

Ensure void elements have closing slash in mermaid svg (#15661)
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-00-flowchart-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-01-sequence-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-02-class-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-03-state-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-04-er-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-05-journey-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-06-gantt-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-07-pie-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-08-quadrant-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-09-requirement-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-10-c4-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-11-mindmap-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-12-timeline-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-13-sankey-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-14-xy-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-00-flowchart-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-01-sequence-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-02-class-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-03-state-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-04-er-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-05-journey-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-06-gantt-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-07-pie-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-08-quadrant-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-09-requirement-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-10-c4-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-11-mindmap-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-12-timeline-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-13-sankey-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-14-xy-jupyterlab-linux.png
  galata/test/jupyterlab/notebooks/mermaid_diagrams.ipynb
  packages/mermaid/src/manager.ts
  packages/mermaid/test/clean.spec.ts
  packages/mermaid/test/renderer.spec.ts
  packages/mermaid/test/utils.ts
Due: prettier, eslint

remove for each from test
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

removed row gap
  packages/filebrowser/style/base.css
Due: prettier, stylelint

separate to two tests
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

add helper function
  galata/src/helpers/activity.ts
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

bump to mermaid 10.8.0
  packages/mermaid/package.json
  yarn.lock
Due: prettier

Copy edits (#15730)
  docs/source/user/lsp.rst
Due: none

Backport PR #15730: Copy edits in LSP support
  docs/source/user/lsp.rst
Due: none

await expectation
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

first call as parent element
  galata/test/jupyterlab/sidebars.test.ts
Due: prettier, eslint

Backport PR #15730: Copy edits in LSP support (#15734)
  docs/source/user/lsp.rst
Due: none

await in helper function
  galata/src/helpers/activity.ts
Due: prettier, eslint

Added const for live region ID and updated hints with correct tense
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Remove unnecessary `noqa` and align ruff version
  .pre-commit-config.yaml
  jupyterlab/browser_check.py
  jupyterlab/extensions/manager.py
  jupyterlab/handlers/announcements.py
  jupyterlab/labapp.py
  jupyterlab/labextensions.py
  jupyterlab/semver.py
Due: none

Update comment wording
  packages/cell-toolbar/src/celltoolbartracker.ts
Due: prettier, eslint

Fix running kernels icons issue #14962
  packages/running/src/index.tsx
Due: prettier, eslint

add svg doctype header including all named entities
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts
  galata/test/jupyterlab/notebooks/mermaid_diagrams.ipynb
  packages/mermaid/src/manager.ts
  packages/mermaid/test/clean.spec.ts
Due: prettier, eslint

add screenshots from ci
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-15-block-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-15-block-jupyterlab-linux.png
Due: none

Added overflow-x: hidden in jp-Completer-list css to suppress horizontal scrollbars
  packages/completer/style/base.css
Due: prettier, stylelint

Fix running kernels icons issue #14962 (#15735)
  packages/running/src/index.tsx
Due: prettier, eslint
