Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [check-jsonschema, prettier, eslint, integrity]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: forbid-new-submodules
      - id: check-case-conflict
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: debug-statements

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.16
    hooks:
      - id: mdformat

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.14.2
    hooks:
      - id: check-jsonschema
        name: 'Check GitHub Workflows'
        files: ^\.github/workflows/
        types: [yaml]
        args: ['--schemafile', 'https://json.schemastore.org/github-workflow']

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

remove caret width that makes it larger than all other carets
  packages/settingeditor/style/base.css
Due: prettier

Add missing await
  galata/test/jupyterlab/output-scrolling.test.ts
Due: prettier, eslint

Revert snapshots incorrectly updated by bot
  galata/test/jupyterlab/notebook-markdown.test.ts-snapshots/do-not-highlight-not-latex-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-markdown.test.ts-snapshots/do-not-highlight-standalone-dollar-jupyterlab-linux.png
Due: none

Add output prompt overlay for toggling scroll mode (#14072)
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/jupyterlab/notebooks/output_scrolling.ipynb
  galata/test/jupyterlab/output-scrolling.test.ts
  galata/test/jupyterlab/output-scrolling.test.ts-snapshots/cell-output-area-scrolling-mode-jupyterlab-linux.png
  galata/test/jupyterlab/output-scrolling.test.ts-snapshots/prompt-overlay-hover-normal-jupyterlab-linux.png
  galata/test/jupyterlab/output-scrolling.test.ts-snapshots/prompt-overlay-hover-scroll-jupyterlab-linux.png
  packages/cells/src/widget.ts
  packages/outputarea/src/widget.ts
  packages/outputarea/style/base.css
Due: prettier, eslint

Populate empty notebook with trusted cell, test trust serialization (#14039)
  packages/notebook/src/model.ts
  packages/notebook/test/empty.json
  packages/notebook/test/model.spec.ts
  packages/notebook/test/utils.ts
Due: prettier, eslint

Check `hasCommand` before `notifyCommandChanged` (#14066)
  packages/debugger-extension/src/index.ts
Due: prettier, eslint

fix: Solve the problem of failure of code/content/ui font-size change in non-English language
  packages/apputils/src/thememanager.ts
Due: prettier, eslint

Enable `--extensions-in-dev-mode` on Gitpod
  .gitpod.yml
Due: none

Enable `--extensions-in-dev-mode` on Gitpod (#14076)
  .gitpod.yml
Due: none

Display the version in the extension manager
  packages/extensionmanager/src/widget.tsx
Due: prettier, eslint

Fix extension manager button background color
  packages/extensionmanager/src/widget.tsx
  packages/extensionmanager/style/base.css
Due: prettier, eslint

Align title items
  packages/extensionmanager/style/base.css
Due: prettier

remove redundant requires property
  packages/mathjax-extension/src/index.ts
Due: prettier, eslint

revert changes to staging package.json
  jupyterlab/staging/package.json
Due: prettier

remove redundant compiler options
  packages/mathjax-extension/tsconfig.json
Due: prettier

Revert "restore backspace (not sure why it was removed)"
  packages/filebrowser-extension/schema/browser.json
Due: prettier

Fix the snapshot test and limit the screenshot to single cell
  galata/test/jupyterlab/outputarea-stdin.test.ts
  galata/test/jupyterlab/outputarea-stdin.test.ts-snapshots/stdin-history-search-jupyterlab-linux.png
Due: prettier, eslint

New multi line search (#13810)
  galata/test/jupyterlab/notebook-replace.test.ts-snapshots/replace-all-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-replace.test.ts-snapshots/replace-in-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/highlight-next-in-editor-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/highlight-previous-element-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/multi-line-search-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/regexp-parsing-failure-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-in-selected-cells-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-on-deleted-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-on-new-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-within-outputs-jupyterlab-linux.png
  packages/documentsearch/src/searchmodel.ts
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/style/base.css
  packages/fileeditor/src/searchprovider.ts
  packages/fileeditor/test/searchprovider.spec.ts
  packages/notebook/src/searchprovider.ts
Due: prettier, eslint

Substitute group references in search-and-replace
  galata/test/jupyterlab/notebook-replace.test.ts
  packages/codemirror/src/searchprovider.ts
  packages/documentsearch/src/searchmodel.ts
  packages/documentsearch/src/tokens.ts
  packages/notebook/test/searchprovider.spec.ts
Due: prettier, eslint

Fix extension manager button background color (#14079)
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-disabled-documentation-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-extensionmanager-main-view-jupyterlab-linux.png
  packages/extensionmanager/src/widget.tsx
  packages/extensionmanager/style/base.css
Due: prettier, eslint

Lint
  galata/test/jupyterlab/notebook-replace.test.ts
Due: prettier, eslint

Switch to `defaultValue` and add a test for typing
  galata/test/jupyterlab/notebook-search.test.ts
  packages/documentsearch/src/searchview.tsx
Due: prettier, eslint

Improve position of output scroll toggle overlay
  packages/cells/style/widget.css
Due: prettier

Rework search in selection in notebook
  packages/codemirror/src/searchprovider.ts
  packages/documentsearch/package.json
  packages/documentsearch/src/searchmodel.ts
  packages/documentsearch/src/searchprovider.ts
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
  packages/documentsearch/style/base.css
  packages/documentsearch/style/index.css
  packages/documentsearch/style/index.js
  packages/documentsearch/tsconfig.json
  packages/documentsearch/tsconfig.test.json
  packages/notebook/src/searchprovider.ts
  packages/ui-components/src/icon/iconimports.ts
  packages/ui-components/style/deprecated.css
  packages/ui-components/style/icons.css
  packages/ui-components/style/icons/search/filter-dot.svg
  packages/ui-components/style/icons/search/filter.svg
Due: prettier, eslint

Fix the lack of distinction between current match and selection and
  galata/test/jupyterlab/notebook-search.test.ts
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/highlight-visible-under-selection-jupyterlab-linux.png
  packages/codemirror/src/searchprovider.ts
  packages/codemirror/style/base.css
  packages/notebook/src/searchprovider.ts
Due: prettier, eslint

Remove unused state, correct naming
  galata/test/jupyterlab/notebook-search.test.ts
  packages/documentsearch/src/searchview.tsx
Due: prettier, eslint

implemented split line history by kernel session in `Stdin` widget
  packages/outputarea/src/widget.ts
Due: prettier, eslint

added `splitStdinHistoryBySession` preference to editorConfig
  packages/notebook-extension/schema/tracker.json
Due: prettier

finished implementation of `splitStdinHistoryBySession` preference
  packages/cells/src/widget.ts
  packages/codeeditor/src/editor.ts
  packages/outputarea/src/widget.ts
Due: prettier, eslint

Remove restart of search on any `stateChange`, start refactoring
  galata/test/jupyterlab/notebook-search.test.ts
  packages/codemirror/src/searchprovider.ts
  packages/notebook/src/searchprovider.ts
Due: prettier, eslint

Switch to `defaultValue` and add a test for typing (#14085)
  galata/test/jupyterlab/notebook-search.test.ts
  packages/documentsearch/src/searchview.tsx
Due: prettier, eslint

Improve position of output scroll toggle overlay (#14087)
  packages/cells/style/widget.css
Due: prettier

issue #13965 resolved
  packages/extensionmanager/src/dialog.tsx
Due: prettier, eslint

Update dialog.tsx
  packages/extensionmanager/src/dialog.tsx
Due: prettier, eslint

Display the version in the extension manager (#14078)
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-allowed-list-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-blocked-list-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-default-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-enabled-documentation-linux.png
  packages/extensionmanager/src/widget.tsx
  packages/extensionmanager/style/base.css
Due: prettier, eslint

Update MenuBar API
  docs/source/extension/extension_migration.rst
  packages/mainmenu-extension/src/index.ts
  packages/mainmenu/src/mainmenu.ts
  packages/mainmenu/src/tokens.ts
  packages/mainmenu/test/mainmenu.spec.ts
Due: prettier, eslint

Undo staging changes
  jupyterlab/staging/package.json
Due: prettier
