Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [check-jsonschema, prettier, eslint, integrity]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: forbid-new-submodules
      - id: check-case-conflict
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: debug-statements

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.16
    hooks:
      - id: mdformat

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.14.2
    hooks:
      - id: check-jsonschema
        name: 'Check GitHub Workflows'
        files: ^\.github/workflows/
        types: [yaml]
        args: ['--schemafile', 'https://json.schemastore.org/github-workflow']

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

fix lint
  packages/debugger-extension/src/index.ts
Due: prettier, eslint

Uses the variable value to enable the entry instead of using the DOM element class
  galata/test/documentation/debugger.test.ts
  packages/debugger-extension/src/index.ts
  packages/debugger/src/panels/variables/tree.tsx
Due: prettier, eslint

Revert "Temp fix"
  packages/cells/src/widget.ts
Due: prettier, eslint

Temp fix
  packages/cells/src/widget.ts
Due: prettier, eslint

Fix input and output hidden state
  packages/cells/src/widget.ts
Due: prettier, eslint

Fix setting the rendered class
  packages/cells/src/widget.ts
  packages/cells/test/widget.spec.ts
Due: prettier, eslint

Revert "Use select as ignore is overridden by CLI option"
  pyproject.toml
Due: none

Updates documentation snapshots
  galata/test/documentation/customization.test.ts-snapshots/customized-menu-bar-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/customized-terminal-position-single-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-terminal-position-single-documentation-linux.png
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-menu-documentation-linux.png
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-slide-type-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-editor-overview-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-editor-settings-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-altair-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-html-display-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-nteract-vdom-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/files-menu-left-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-jupyterlab-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/notebook-ui-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/terminal-layout-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-chinese-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-settings-documentation-linux.png
Due: none

Also ignore `W002`
  pyproject.toml
Due: none

Backport PR #13698: Fix links in `CHANGELOG.md` (#13701)
  CHANGELOG.md
Due: none

Update copyright date to 2023 in the about dialog
  packages/help-extension/src/index.tsx
Due: prettier, eslint

Use `DocumentWidgetOpenerMock` (#13703)
  packages/filebrowser/test/listing.spec.ts
Due: prettier, eslint

Update copyright date to 2023 in the about dialog (#13708)
  packages/help-extension/src/index.tsx
Due: prettier, eslint

Backport PR #13708: Update copyright date to 2023 in the about dialog
  packages/help-extension/src/index.tsx
Due: prettier, eslint

Updates documentation snapshots (#13706)
  galata/test/documentation/customization.test.ts-snapshots/customized-menu-bar-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/customized-terminal-position-single-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-terminal-position-single-documentation-linux.png
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-menu-documentation-linux.png
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-slide-type-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-editor-overview-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-editor-settings-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-altair-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-html-display-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-nteract-vdom-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/files-menu-left-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-jupyterlab-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/notebook-ui-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/terminal-layout-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-chinese-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-settings-documentation-linux.png
Due: none

Remove empty license field in pyproject.toml (#13654)
  pyproject.toml
Due: none

Add xterm-addon-web-links 0.6.0 to terminal package.json
  galata/test/jupyterlab/terminal.test.ts
  galata/test/jupyterlab/terminal.test.ts-snapshots/web-links-term-jupyterlab-linux.png
  packages/terminal/package.json
  packages/terminal/src/widget.ts
  yarn.lock
Due: prettier, eslint

Address some additional translation holes (#13696)
  packages/console/src/panel.ts
  packages/console/src/widget.ts
  packages/docregistry/src/context.ts
  packages/fileeditor-extension/src/commands.ts
  packages/fileeditor-extension/src/index.ts
Due: prettier, eslint

Remove non mandatory `Completer.IRenderer.sanitizer` (#13700)
  packages/completer/src/widget.ts
Due: prettier, eslint

Debugger: copy value of variable to clipboard (#13670)
  galata/playwright-documentation.config.js
  galata/test/documentation/debugger.test.ts
  packages/debugger-extension/schema/main.json
  packages/debugger-extension/src/index.ts
  packages/debugger/src/debugger.ts
  packages/debugger/src/panels/variables/tree.tsx
Due: prettier, eslint

Backport PR #13700: Remove not needed `Completer.IRenderer.sanitizer`
  packages/completer/src/widget.ts
Due: prettier, eslint

Add xterm-addon-web-links 0.6.0 to terminal package.json (#13645)
  galata/test/jupyterlab/terminal.test.ts
  galata/test/jupyterlab/terminal.test.ts-snapshots/web-links-term-jupyterlab-linux.png
  packages/terminal/package.json
  packages/terminal/src/widget.ts
  yarn.lock
Due: prettier, eslint

Fix CodeQL warning
  packages/testing/src/jest-shim.ts
Due: prettier, eslint

Fix CodeQL warning (#13712)
  packages/testing/src/jest-shim.ts
Due: prettier, eslint

Backport PR #13700: Remove not needed `Completer.IRenderer.sanitizer` (#13711)
  packages/completer/src/widget.ts
Due: prettier, eslint

Backport PR #13708: Update copyright date to 2023 in the about dialog (#13709)
  packages/help-extension/src/index.tsx
Due: prettier, eslint

Pin check without pyproject validation
  .github/workflows/check-release.yml
Due: none

Force install the wanted version
  .github/workflows/check-release.yml
Due: none

Update docs/source/extension/extension_migration.rst
  docs/source/extension/extension_migration.rst
Due: none

Fix environment activation on Gitpod
  .gitpod.yml
Due: none

Force jupyter-server v1 to check against notebook v6
  scripts/ci_script.sh
Due: none

Fix environment activation on Gitpod (#13715)
  .gitpod.yml
Due: none

Faster rendering of the debugger tree
  packages/debugger/src/panels/variables/tree.tsx
  packages/debugger/style/variables.css
Due: prettier, eslint

Use 3px padding to match previous height better
  packages/debugger/style/variables.css
Due: prettier

Update notebook.rst
  docs/source/extension/notebook.rst
Due: none

Fix typo in comment and an outdated comment
  packages/debugger/style/variables.css
Due: prettier

Update notebook.rst (#13717)
  docs/source/extension/notebook.rst
Due: none

[ci skip] Publish 4.0.0a32
  .bumpversion.cfg
  CHANGELOG.md
  dev_mode/package.json
  examples/federated/core_package/package.json
  jupyterlab/_version.py
  jupyterlab/staging/package.json
  jupyterlab/staging/webpack.prod.minimize.config.js
  jupyterlab/staging/yarn.lock
Due: prettier, eslint

Increase action timeout
  .github/workflows/linuxtests.yml
  scripts/ci_script.sh
Due: none
