Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
        exclude: galata/.*-snapshots
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.23.1
    hooks:
      - id: check-github-workflows

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.282
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

Troubleshoot usage check on CI
  scripts/ci_script.sh
Due: none

Comments in nested markdown code blocks incorrectly being identified as TOC headings (#16420)
  packages/toc/src/utils/markdown.ts
  packages/toc/test/markdown.spec.ts
Due: prettier, eslint

Backport PR #16420: Fix comments in nested markdown code blocks incorrectly being identified as TOC headings
  packages/toc/src/utils/markdown.ts
  packages/toc/test/markdown.spec.ts
Due: prettier, eslint

Add setuptools to the dependencies
  pyproject.toml
  scripts/ci_script.sh
Due: none

revert to await KernelAPI.listRunning()
  packages/running-extension/src/kernels.tsx
Due: prettier, eslint

Add typings to the inline completer example (#16421)
  docs/source/extension/extension_points.rst
Due: none

Backport PR #16421: Add typings to the inline completer example
  docs/source/extension/extension_points.rst
Due: none

Backport PR #16420: Fix comments in nested markdown code blocks incorrectly being identified as TOC headings (#16424)
  packages/toc/src/utils/markdown.ts
  packages/toc/test/markdown.spec.ts
Due: prettier, eslint

Replace deprecated 'Locator.press()' with 'Locator.fill()' or Locator.pressSequentially()'
  galata/src/helpers/notebook.ts
  galata/test/documentation/extension_manager.test.ts
  galata/test/jupyterlab/console.test.ts
  galata/test/jupyterlab/notebook-max-outputs.test.ts
  galata/test/jupyterlab/notebook-search.test.ts
  galata/test/jupyterlab/settings.test.ts
  galata/test/jupyterlab/texteditor.test.ts
Due: prettier, eslint

Fix usage check job on CI (add `setuptools` dependency) (#16423)
  pyproject.toml
Due: none

Backport PR #16423: Fix usage check job on CI (add `setuptools` dependency)
  pyproject.toml
Due: none

Set 'docmanager:open' and 'docmanager:new-untitled' commands as async, to be able to properly await it
  packages/docmanager-extension/src/index.tsx
Due: prettier, eslint

Define `ICodeCellModel.executionState`, deprecate `setPrompt()`
  packages/cells/src/model.ts
  packages/cells/src/widget.ts
  packages/console/src/widget.ts
  packages/notebook/src/actions.tsx
Due: prettier, eslint

Backport PR #16423: Fix usage check job on CI (add `setuptools` dependency) (#16428)
  pyproject.toml
Due: none

Backport PR #16423: Fix usage check job on CI (add `setuptools` dependency) (#16429)
  pyproject.toml
Due: none

Do not install cairo on Mac in CI
  .github/workflows/macostests.yml
Due: none

Backport PR #16421: Add typings to the inline completer example (#16427)
  docs/source/extension/extension_points.rst
Due: none

Use a static view of the toolbar widgets for computation (#16409)
  packages/ui-components/src/components/toolbar.tsx
Due: prettier, eslint

Backport PR #16409: Reactive toolbar computation, again...
  packages/ui-components/src/components/toolbar.tsx
Due: prettier, eslint

Use to fill the cell content, to avoid backward incompatibility
  galata/src/helpers/notebook.ts
Due: prettier, eslint

Fix typos in jupyter-collaboration-missing error message
  jupyterlab/labapp.py
Due: none

Setup a dialog window to a Console panel on Launcher
  packages/apputils/src/sessioncontext.tsx
  packages/console-extension/package.json
  packages/console-extension/src/index.ts
  packages/console/src/panel.ts
Due: prettier, eslint

code comments in telde fences
  packages/toc/src/utils/markdown.ts
  packages/toc/test/markdown.spec.ts
Due: prettier, eslint

Adding test cases
  packages/toc/test/markdown.spec.ts
Due: prettier, eslint

Backport PR #16409: Reactive toolbar computation, again... (#16435)
  packages/ui-components/src/components/toolbar.tsx
Due: prettier, eslint

updated files
  packages/apputils-extension/src/notificationplugin.tsx
  packages/apputils/src/dialog.tsx
  packages/extensionmanager/src/widget.tsx
  packages/ui-components/src/components/button.tsx
Due: prettier, eslint

Update galata/test/jupyterlab/texteditor.test.ts
  galata/test/jupyterlab/texteditor.test.ts
Due: prettier, eslint

Use preferably 'Locator.fill()'
  galata/test/jupyterlab/texteditor.test.ts
Due: prettier, eslint

snapshots updated
  galata/test/documentation/custom_css.test.ts-snapshots/custom-css-main-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-disabled-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/running-modal-documentation-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-accent-action-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-center-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-default-action-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-link-action-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-warn-action-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-with-actions-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-extensionmanager-main-view-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-jp-running-sessions-jupyterlab-linux.png
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/extensionmanager/package.json
Due: prettier

Backport PR #16314: Run Python tests on MacOS with Python 12, replace `canvas` with `jest-canvas-mock` (#16418)
  .github/workflows/macostests.yml
  docs/source/developer/contributing.rst
  galata/test/galata/benchmarkReporter.spec.ts-snapshots/customized-test-galata-linux.svg
  galata/test/galata/benchmarkReporter.spec.ts-snapshots/test-galata-linux.svg
  packages/csvviewer/jest.config.js
  packages/csvviewer/package.json
  packages/debugger/jest.config.js
  packages/debugger/package.json
  packages/terminal/jest.config.js
  packages/terminal/package.json
  packages/vega5-extension/jest.config.js
  packages/vega5-extension/package.json
  packages/vega5-extension/test/renderer.spec.ts
  yarn.lock
Due: prettier, eslint

Do not install cairo on Mac in CI (#16434)
  .github/workflows/macostests.yml
Due: none

Backport PR #16434: Do not install cairo/pango on Mac in CI
  .github/workflows/macostests.yml
Due: none

snapshots updated
  galata/test/documentation/custom_css.test.ts-snapshots/custom-css-main-documentation-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-jp-running-sessions-jupyterlab-linux.png
Due: none

Fix typos in jupyter-collaboration-missing error message (#16436)
  jupyterlab/labapp.py
Due: none

Backport PR #16436: Fix typos in `jupyter-collaboration`-missing error message
  jupyterlab/labapp.py
Due: none

linux run test examples
  examples/app/example.spec.ts-snapshots/example-linux.png
  examples/federated/example.spec.ts-snapshots/example-linux.png
Due: none

Backport PR #16434: Do not install cairo/pango on Mac in CI (#16439)
  .github/workflows/macostests.yml
Due: none

update button.tsx
  packages/ui-components/src/components/button.tsx
Due: prettier, eslint

Fix code comments in tilde (~) fences incorrectly shown as headings in TOC (#16437)
  packages/toc/src/utils/markdown.ts
  packages/toc/test/markdown.spec.ts
Due: prettier, eslint
