Repository jupyterlab/jupyterlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [check-jsonschema, prettier, eslint, integrity]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: forbid-new-submodules
      - id: check-case-conflict
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: debug-statements

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.16
    hooks:
      - id: mdformat

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.14.2
    hooks:
      - id: check-jsonschema
        name: 'Check GitHub Workflows'
        files: ^\.github/workflows/
        types: [yaml]
        args: ['--schemafile', 'https://json.schemastore.org/github-workflow']

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [push]

Update documentation snapshot
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-disabled-documentation-linux.png
Due: none

Remove unused import
  packages/application/src/frontend.ts
Due: prettier, eslint

Don't require jupyter_ydoc
  pyproject.toml
Due: none

Mock settings for benchmarks
  galata/test/benchmark/notebook.spec.ts
Due: prettier, eslint

Await promise
  galata/test/benchmark/notebook.spec.ts
Due: prettier, eslint

Require jupyter_server_ydoc >=0.4.0 (#13434)
  pyproject.toml
Due: none

Require jupyter_server_ydoc >=0.4.0 (#13434)
  setup.cfg
Due: none

Fix setup.cfg
  setup.cfg
Due: none

enable filetype-specific collaboration
  packages/apputils-extension/src/workspacesplugin.ts
  packages/docmanager-extension/src/index.tsx
  packages/docmanager/src/manager.ts
  packages/docprovider-extension/src/index.ts
  packages/docprovider/src/tokens.ts
  packages/docregistry/src/context.ts
  packages/docregistry/src/registry.ts
  packages/htmlviewer-extension/src/index.tsx
  packages/vdom-extension/src/index.ts
Due: prettier, eslint

specify collaboration for notebooks
  packages/docregistry/src/registry.ts
Due: prettier, eslint

Backport #13434 on branch 3.6.x (Require jupyter_server_ydoc >=0.4.0) (#13437)
  setup.cfg
Due: none

[ci skip] Publish 4.0.0a31
  .bumpversion.cfg
  CHANGELOG.md
  dev_mode/package.json
  examples/federated/core_package/package.json
  jupyterlab/_version.py
  jupyterlab/staging/index.js
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
Due: prettier, eslint

Fix typing error
  packages/collaboration/src/menu.ts
Due: prettier, eslint

Add announcements (#13365)
  .eslintrc.js
  .github/workflows/linuxtests.yml
  docs/source/index.rst
  docs/source/privacy_policies.rst
  docs/source/user/announcements.rst
  docs/source/user/index.md
  galata/src/fixtures.ts
  galata/src/galata.ts
  galata/test/benchmark/notebook.spec.ts-snapshots/large-code-notebook-ipynb-benchmark-linux.png
  galata/test/benchmark/notebook.spec.ts-snapshots/large-md-notebook-ipynb-benchmark-linux.png
  galata/test/documentation/extension_manager.test.ts
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-disabled-documentation-linux.png
  galata/test/galata/fixture.spec.ts
  galata/test/jupyterlab/announcements.test.ts
  galata/test/jupyterlab/collapsible-headings.test.ts
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-run-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/opened-menu-run-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-extensionmanager-main-view-jupyterlab-linux.png
  jupyterlab/__init__.py
  jupyterlab/handlers/announcements.py
  jupyterlab/labapp.py
  jupyterlab/tests/__init__.py
  jupyterlab/tests/conftest.py
  jupyterlab/tests/test_announcements.py
  jupyterlab/tests/test_extensions.py
  packages/application/src/lab.ts
  packages/apputils-extension/schema/notification.json
  packages/apputils-extension/src/announcements.ts
  packages/apputils-extension/src/index.ts
  packages/apputils-extension/src/notificationplugin.tsx
  packages/docmanager-extension/src/index.tsx
  packages/extensionmanager-extension/schema/plugin.json
  packages/extensionmanager-extension/src/index.ts
  packages/extensionmanager/src/model.ts
  packages/extensionmanager/src/widget.tsx
  packages/extensionmanager/style/base.css
  packages/notebook-extension/src/index.ts
  packages/statusbar/src/components/hover.tsx
  yarn.lock
Due: prettier, eslint

Use default URL in test mock-up
  jupyterlab/tests/test_announcements.py
Due: none

Update the privacy policy last modification date This is needed as that policy will change when JupyterLab 4 is released (new extensions manager)
  docs/source/privacy_policies.rst
Due: none

Backport #13365 on branch 3.6.x (Add announcements)
  .github/workflows/linuxtests.yml
  docs/source/index.rst
  docs/source/privacy_policies.rst
  docs/source/user/announcements.rst
  galata/src/fixtures.ts
  galata/src/galata.ts
  galata/test/galata/fixture.spec.ts
  galata/test/jupyterlab/announcements.test.ts
  jupyterlab/__init__.py
  jupyterlab/handlers/announcements.py
  jupyterlab/labapp.py
  jupyterlab/tests/__init__.py
  jupyterlab/tests/conftest.py
  jupyterlab/tests/test_announcements.py
  packages/application/src/lab.ts
  packages/apputils-extension/schema/notification.json
  packages/apputils-extension/src/announcements.ts
  packages/apputils-extension/src/index.ts
  packages/apputils-extension/src/notificationplugin.tsx
  packages/docmanager-extension/src/index.tsx
  packages/extensionmanager-extension/schema/plugin.json
  packages/extensionmanager/src/widget.tsx
  packages/notebook-extension/src/index.ts
  packages/statusbar/src/components/hover.tsx
Due: prettier, eslint

Backport #13428 on branch 3.6.x (Use more consistent naming for user service) (#13435)
  packages/collaboration-extension/src/index.ts
  packages/collaboration/src/collaboratorspanel.tsx
  packages/collaboration/src/menu.ts
  packages/collaboration/src/userinfopanel.tsx
  packages/docprovider/src/yprovider.ts
  packages/services/src/manager.ts
  packages/services/src/user/index.ts
  testutils/src/user.ts
Due: prettier, eslint

Backport PR #13417: Update the tutorial to reflect the changes in the latest cookiecutter… (#13420)
  docs/source/extension/extension_tutorial.rst
Due: none

Use default URL in test mock-up (#13443)
  docs/source/privacy_policies.rst
  jupyterlab/tests/test_announcements.py
Due: none

Fix access to translator
  packages/extensionmanager/src/widget.tsx
Due: prettier, eslint

Clean up and update dependencies (#13430)
  builder/package.json
  builder/src/build-labextension.ts
  buildutils/package.json
  buildutils/src/bump-js-major.ts
  buildutils/src/bumpversion.ts
  buildutils/src/dependency-graph.ts
  buildutils/src/ensure-repo.ts
  buildutils/src/patch-release.ts
  buildutils/src/prepare-python-release.ts
  buildutils/src/publish.ts
  buildutils/src/update-dependency.ts
  buildutils/src/update-dist-tag.ts
  dev_mode/package.json
  examples/app/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/federated/core_package/package.json
  examples/filebrowser/package.json
  examples/notebook/package.json
  examples/terminal/package.json
  galata/package.json
  packages/debugger-extension/package.json
  packages/debugger/package.json
  packages/extensionmanager-extension/examples/listings/package.json
  packages/metapackage/package.json
  packages/nbconvert-css/package.json
  packages/rendermime/package.json
  packages/services/examples/browser/package.json
  packages/services/examples/typescript-browser-with-output/package.json
  packages/services/package.json
  packages/ui-components/examples/simple-windowed-list/package.json
  packages/ui-components/package.json
  testutils/package.json
  yarn.lock
Due: prettier, eslint

Remove broken URL Use official Python documentation link for robustness
  docs/source/extension/internationalization.rst
Due: none

Fix doc
  docs/source/privacy_policies.rst
Due: none

Force right sidebar size
  galata/test/documentation/customization.test.ts
Due: prettier, eslint

Remove broken URL (#13445)
  docs/source/extension/internationalization.rst
Due: none

Backport PR #13445: Remove broken URL
  docs/source/extension/internationalization.rst
Due: none

Backport style correct on the link style
  packages/extensionmanager/style/base.css
Due: prettier

Backport PR #13445: Remove broken URL (#13446)
  docs/source/extension/internationalization.rst
Due: none

Automated Changelog Entry for 3.6.0a4 on 3.6.x
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Automated Changelog Entry for 3.6.0a4 on 3.6.x (#13448)
  CHANGELOG.md
Due: none

Change sidebar width to keep the current snapshot
  galata/test/documentation/customization.test.ts
Due: prettier, eslint

[ci skip] Publish 3.6.0a4
  .bumpversion.cfg
  dev_mode/package.json
  jupyterlab/_version.py
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
Due: prettier

Share attachments
  packages/cells/src/model.ts
Due: prettier, eslint

Check if `contentHeader` is not disposed before accessing widgets
  packages/apputils-extension/src/index.ts
Due: prettier, eslint

Fix token based completions
  packages/codemirror/src/editor.ts
  packages/codemirror/test/editor.spec.ts
  packages/completer/src/tokens.ts
Due: prettier, eslint

Check if `contentHeader` is not disposed before accessing widgets (#13453)
  packages/apputils-extension/src/index.ts
Due: prettier, eslint
